Development/AI Assistant Supervisor.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to user",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert data in history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Eliminate messages sent by me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminate messages sent by me": {
      "main": [
        [
          {
            "node": "Route based on event received",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route based on event received": {
      "main": [
        [
          {
            "node": "IOS or Android",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Set conversation parameters": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User ID for e-mail fetcher": {
      "ai_tool": [
        [
          {
            "node": "User agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "User agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SMS texts retriever": {
      "ai_tool": [
        [
          {
            "node": "Operations agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Replier": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Route based on message type": {
      "main": [
        [
          {
            "node": "Get audio base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set plain text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get audio base64": {
      "main": [
        [
          {
            "node": "Convert base64 to audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert base64 to audio file": {
      "main": [
        [
          {
            "node": "Transcribe audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe audio file": {
      "main": [
        [
          {
            "node": "Set audio transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set audio transcription": {
      "main": [
        [
          {
            "node": "Set conversation parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set plain text message": {
      "main": [
        [
          {
            "node": "Set conversation parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image base64": {
      "main": [
        [
          {
            "node": "Convert base64 to image file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert base64 to image file": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Set image description message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set image description message": {
      "main": [
        [
          {
            "node": "Set conversation parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Operations agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Trackers agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Select tracker for user ID and tracker name": {
      "ai_tool": [
        [
          {
            "node": "Trackers agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set Redis key": {
      "main": [
        [
          {
            "node": "Get Redis lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to user": {
      "main": [
        [
          {
            "node": "Release Redis lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Redis lock": {
      "main": [
        [
          {
            "node": "Has lock been acquired?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has lock been acquired?": {
      "main": [
        [
          {
            "node": "Route based on message type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tell user to slow down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Redis lock": {
      "main": [
        []
      ]
    },
    "Fetch tracker by ID": {
      "ai_tool": [
        [
          {
            "node": "Trackers agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch trackers by user ID": {
      "ai_tool": [
        [
          {
            "node": "Trackers agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract binary file to text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Add document to PGVector store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve files in folder": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PGVector tool embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "PGVector add embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Add document to PGVector store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Convert from HTML to Markdown": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Correct file extension and mime type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correct file extension and mime type": {
      "main": [
        [
          {
            "node": "Add document to PGVector store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract binary file to text": {
      "main": [
        [
          {
            "node": "Convert from HTML to Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Truncate vectors table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Retrieve files in folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch number of accounts": {
      "main": [
        [
          {
            "node": "Keep users that have an account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep users that have an account": {
      "main": [
        [
          {
            "node": "Set Redis key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "User agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Operations agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Trackers agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Insert data in history",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Subagents model": {
      "ai_languageModel": [
        [
          {
            "node": "User agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Operations agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Trackers agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supervisor model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SMS configuration operation creator": {
      "ai_tool": [
        [
          {
            "node": "Operations agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SMS responsitivity tester": {
      "ai_tool": [
        [
          {
            "node": "Operations agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check if sender is partner": {
      "ai_tool": [
        [
          {
            "node": "User agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "IOS or Android": {
      "main": [
        [
          {
            "node": "Format IOS phone number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Android phone number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Android phone number": {
      "main": [
        [
          {
            "node": "Fetch number of accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format IOS phone number": {
      "main": [
        [
          {
            "node": "Format Android phone number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Users for phone fetcher": {
      "ai_tool": [
        [
          {
            "node": "User agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch userId by email": {
      "ai_tool": [
        [
          {
            "node": "User agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-15T22:10:01.719Z",
  "id": "vX6e7zhb473UvZYt",
  "isArchived": false,
  "isProd": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Assistant Supervisor",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set conversation parameters').item.json.userMessage }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are **Mobinho**, the master agent for **Mobiltracker**, a company that offers a service for users to track their vehicles and devices. Your mission is to handle customer support for WhatsApp by utilizing the available tools to help customers.\n\n**Core Directives**:\n\n1.  **Supremacy of the Knowledge Base:** Your **only** source of truth, procedures, and capabilities is your **Knowledge Base** tool. You **must** consult it as your first action for *any* new customer request to find the correct workflow.\n    * **Default Workflow:** When a new conversation begins (i.e. the chat history is empty), your default starting point is the workflow defined in the **\"How to handle a first interaction with the customer\"** document. You must retrieve and follow this document. In case there is already a chat history, determine the most appropriate query or queries to find the required documents.\n    * **Scope Limit:** If an action, question, or workflow is **not** explicitly defined in your Knowledge Base, you **cannot** perform it, discuss it, or offer it.\n\n2.  **State and Workflow Execution:**\n    * On every turn, after the chat history, you will be provided with a final `system` message that contains the stringified JSON of your saved data from the last turn. This is your **only memory**.\n    * You **must** parse this system message as JSON to get your state and any saved data.\n    * You **must** then execute the logic for that step, as defined in your Knowledge Base, using the last `user` message as the user's new input.\n\n3.  **JSON-Only Output Mandate:**\n    * This is your most critical output rule. Your **entire** final response must be a **single, valid JSON object**. Do not output any text or pleasantries before or after the JSON. This object must contain exactly the following two keys:\n    * `\"user_reply\"`: (string) The natural-language message to be sent to the customer.\n    * `\"data_to_store\"`: (stringified JSON) A **new** JSON string containing *all* data that must be saved for the next turn. **This must include the updated state information** (e.g., `{\"UserId\": \"...\", \"TrackerId\": ...}`).\n\n4.  **Handling Out-of-Scope Requests:** If the customer's request is not found in your Knowledge Base, you are **prohibited** from attempting to answer it using your general knowledge. Your **only** permitted action is to redirect the customer to human support at `https://wa.me/mobiltracker`.\n\n5.  **Error Handling & Recovery:** If a tool invocation fails, you **must not** reveal or \"leak\" the specific technical error message to the customer. Your first duty is to attempt recovery silently:\n    * First, carefully analyze the error internally to understand the cause.\n    * Then, attempt to resolve it by intelligently refetching any data *as specified by your error handling protocol in the Knowledge Base*.\n    * If a retry fails, you must politely inform the user that you are facing a technical difficulty and redirect them to human support at `https.wa.me/mobiltracker`.\n    * Do NOT ask the user for additional data unless the Knowledge Base workflow explicitly tells you to.\n\n6.  **Conversation Style and Format:**\n    * The `user_reply` string (inside your final JSON output) must maintain a natural, human-like conversation with the customer and politely guide them.\n    * This `user_reply` string must be formatted properly for a WhatsApp conversation, ensuring readability and smoothness. In WhatsApp, `*this is bold*` and `_this is italics_`.\n    * Always speak in **Portuguese**.\n\n7.  **Customer Data:**\n    * Assume the customer is naive: do not ask them for technical information, such as IDs, and avoid disclosing such information.\n    * The customer's phone is directly accessible. Always use this phone number: `{{ $('Set conversation parameters').item.json.phoneNumber }}` as the customer's.\n\n**Supervised Agents and Tools**:\n\n1.  **User agent:** Call this agent for any tasks related to the **user's account** (finding users, fetching user data).\n2.  **Operations agent:** Call this agent to **execute actions** on a tracker (like testing or creating a configuration).\n3.  **Trackers agent:** Call this agent for any tasks related to **tracker data** (finding trackers, fetching tracker details).\n4.  **Replier agent:** A tool you may use for intermediary feedback notifications for the user, as specified by your workflow.\n5.  **Knowledge base:** This is your primary tool and your rulebook. It contains the **step-by-step workflows** (like \"Tracker configuring process\") that you must follow."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3360,
        -896
      ],
      "id": "f6b27c43-2969-4495-873f-8ede1edd633f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1065f55f-8c4c-488c-be92-b5cf8e3e72c5",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1104,
        -784
      ],
      "id": "125aae70-850c-46d6-9cee-4b80470a549c",
      "name": "Webhook",
      "webhookId": "1065f55f-8c4c-488c-be92-b5cf8e3e72c5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef008649-a4dd-417f-99b8-0d5ec3315d47",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -960,
        -784
      ],
      "id": "666c0957-8fa4-4e15-a7d5-1fc46a845178",
      "name": "Eliminate messages sent by me",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "messages.upsert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "26ca1efe-a3a2-4624-ae7b-d1205dfa9131"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Message received"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7619a292-593f-4d0e-a070-4f98b024630f",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "connection.update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Connection update"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -800,
        -784
      ],
      "id": "01d8a743-f82b-4fa0-8f24-de97478440b7",
      "name": "Route based on event received"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d2fbacf-52a6-4ffc-98e5-80babbed0df3",
              "name": "sessionId",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "de7132ab-de1f-487f-a302-526693e4e865",
              "name": "userMessage",
              "value": "={{ $json.userMessage }}",
              "type": "string"
            },
            {
              "id": "0cfde146-1505-47c5-910c-b96b3696c1a4",
              "name": "phoneNumber",
              "value": "={{ $('Format Android phone number').item.json.phoneNumber }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2832,
        -896
      ],
      "id": "d54a6d44-e819-4729-a3e6-7f5744a9aee2",
      "name": "Set conversation parameters"
    },
    {
      "parameters": {
        "description": "Call this tool to fetch the user ID associated with an e-mail address.",
        "workflowId": {
          "__rl": true,
          "value": "rOdsM6CxuzxBLwXS",
          "mode": "list",
          "cachedResultUrl": "/workflow/rOdsM6CxuzxBLwXS",
          "cachedResultName": "User ID for e-mail fetcher"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', `The e-mail for which the user ID will be fetched.`, 'string') }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3520,
        -480
      ],
      "id": "b468d20b-4014-4a8e-ac22-7c559655b8af",
      "name": "User ID for e-mail fetcher"
    },
    {
      "parameters": {
        "toolDescription": "An AI agent which purpose is to handle user-related data, such as retrieving personal information (such as phone number).",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `A good description that helps the user agent identify the values required and what information is available.`, 'string') }}",
        "options": {
          "systemMessage": "=You are the **user agent**. Your purpose is to receive user-related requests from a supervisor agent that has no knowledge of how the user data is arranged, extract the information needed for your available tools and return the output in a way that fits the request from the agent.\nIn case of error, explictly tell the agent what the error was in an attempt to assist them fixing the issue and obtaining the required data.\n\n**Tools**:\n1. `Users by phone fetcher`: takes a phone number (an 11-digit number without hyphens or whitespaces or country code) and retrieves all users associated with the aforementioned phone number. May return more than one user.\n2. `User ID for e-mail fetcher`: takes an e-mail address and returns the user ID (GUID) associated with the e-mail."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        3184,
        -672
      ],
      "id": "83cafb51-497a-458b-9528-38f3874a7ead",
      "name": "User agent"
    },
    {
      "parameters": {
        "description": "Call this tool to retrieve the SMS operations texts to ask the user if it is all right for those to be sent to their tracker.",
        "workflowId": {
          "__rl": true,
          "value": "beJkGyRsiOiq6Fej",
          "mode": "list",
          "cachedResultUrl": "/workflow/beJkGyRsiOiq6Fej",
          "cachedResultName": "Retrieve tracker operation texts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "trackerId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('trackerId', `Tracker ID (number) for which SMS texts will be retrieved.`, 'number') }}"
          },
          "matchingColumns": [
            "trackerId"
          ],
          "schema": [
            {
              "id": "trackerId",
              "displayName": "trackerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3664,
        -496
      ],
      "id": "f292d642-29a5-4478-86dc-a278d0c853ae",
      "name": "SMS texts retriever"
    },
    {
      "parameters": {
        "description": "Call this tool to notify the user of the invoking of another tool.",
        "workflowId": {
          "__rl": true,
          "value": "jlLb6Przi1lyPt5o",
          "mode": "list",
          "cachedResultUrl": "/workflow/jlLb6Przi1lyPt5o",
          "cachedResultName": "WhatsApp message sender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evolutionInstanceName": "={{ $('Webhook').item.json.body.instance }}",
            "phoneNumber": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
            "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message', `The message to be sent to the user.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "evolutionInstanceName",
              "displayName": "evolutionInstanceName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3472,
        -672
      ],
      "id": "4637fda8-5714-49c6-b910-cd418834f86b",
      "name": "Replier"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jlLb6Przi1lyPt5o",
          "mode": "list",
          "cachedResultUrl": "/workflow/jlLb6Przi1lyPt5o",
          "cachedResultName": "WhatsApp message sender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evolutionInstanceName": "={{ $('Webhook').item.json.body.instance }}",
            "phoneNumber": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
            "message": "={{ $json.output.user_reply }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "evolutionInstanceName",
              "displayName": "evolutionInstanceName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4928,
        -752
      ],
      "id": "5ff349fb-960b-4589-b3c3-c58a613c439b",
      "name": "Respond to user"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1c5a66da-4ff2-4a1a-9646-8a298c685f41",
                    "leftValue": "={{ $('Route based on event received').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Route based on event received').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c0482ded-5f5b-4636-aa09-4e1621d5b4b4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e2b5f888-5fd4-48d8-933d-b2276c460643",
                    "leftValue": "={{ $('Route based on event received').item.json.body.data.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1712,
        -832
      ],
      "id": "f13d6455-8679-4dcc-8a64-db4b782cfa28",
      "name": "Route based on message type"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `${$env.FABIO_URL}/evolution-api/chat/getBase64FromMediaMessage/${$('Webhook').item.json.body.instance}` }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        -1088
      ],
      "id": "a3122d94-7aff-41bd-97a6-103ff1f693a0",
      "name": "Get audio base64",
      "credentials": {
        "httpQueryAuth": {
          "id": "aU0jZzLnR6A5g81t",
          "name": "Google Geocoding API"
        },
        "httpHeaderAuth": {
          "id": "6kDmA09P8PHL5oLh",
          "name": "Evolution API header"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "={{ $json.fileName }}",
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2160,
        -1088
      ],
      "id": "2b91f060-873a-4ece-b440-1e2ecf52c4a6",
      "name": "Convert base64 to audio file"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2384,
        -1088
      ],
      "id": "38cc249f-3ca5-4539-847a-a4f25ab11ccd",
      "name": "Transcribe audio file",
      "credentials": {
        "openAiApi": {
          "id": "FUKiKElzoP4Yvxlo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17e4a4d6-da12-4aec-ba52-be2894da6ac4",
              "name": "userMessage",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2608,
        -1088
      ],
      "id": "bc41308d-c3ac-46b1-8b21-40827abe5fea",
      "name": "Set audio transcription"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49d22f0c-5cab-4b42-bc9a-0b7a3ca7f743",
              "name": "userMessage",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2608,
        -896
      ],
      "id": "c5fc26f1-fb60-4d11-bbdb-4aa907b3929d",
      "name": "Set plain text message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `${$env.FABIO_URL}/evolution-api/chat/getBase64FromMediaMessage/${$('Webhook').item.json.body.instance}` }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $('Webhook').item.json.body.data.key.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        -704
      ],
      "id": "878499c0-9b12-498e-acb6-afbd120723f5",
      "name": "Get image base64",
      "credentials": {
        "httpQueryAuth": {
          "id": "aU0jZzLnR6A5g81t",
          "name": "Google Geocoding API"
        },
        "httpHeaderAuth": {
          "id": "6kDmA09P8PHL5oLh",
          "name": "Evolution API header"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "={{ $json.fileName }}",
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2160,
        -704
      ],
      "id": "1bad0720-6edb-4abe-8e75-9f77cb1e32fd",
      "name": "Convert base64 to image file"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "You are an AI assistant that functions as a \"translator.\" Your purpose is to analyze an image sent by a customer and write the exact text message **the customer would have sent** to describe the problem or share information. It is critical that your output genuinely appears to have been written by the customer.\n\n**CRITICAL: All generated output messages must be in Brazilian Portuguese (PT-BR).**\n\n**Output Goal:**\nYour single goal is to generate a short, natural-sounding text message in **PT-BR** that perfectly represents the image from the **customer's point of view**. The message must sound completely authentic, as if the customer typed it themselves to explain their issue.\n\n**Rule for Irrelevant Images:**\nIf the image has no connection to a tracking device, the app, packaging, or a technical issue (e.g., it is a photo of a pet, a person, a document, or a random object), your task is to simply describe the image literally, from the customer's perspective. Do not invent a problem.\n* *Example (Image of a dog):* \"Foto do meu cachorro.\"\n* *Example (Image of an ID card):* \"Aqui está a foto do meu documento de identidade.\"\n\n**Tone and Style - Adhering to the Customer Perspective (in PT-BR):**\n\n* **Always Use First-Person:** Every message must use \"eu,\" \"meu,\" or \"minha.\"\n* **Use Simple, Direct Language:** Speak like a person, not a technician. For example, instead of \"O dispositivo entrou em estado de erro,\" write \"Meu rastreador está com uma luz vermelha e não funciona.\"\n* **Report Symptoms, Not Diagnoses:** Your internal logic may infer the problem (e.g., \"power failure\"), but your output should describe what the customer sees (e.g., \"As luzes do meu rastreador não acendem.\").\n* **Be Plausible:** The text should be a believable message a real person in Brazil would send to a support line.\n\n**Priorities (For Relevant Images):**\n\n**1. Problem Inference and Identification (Top Priority):**\nYour first goal is to understand and state the customer's likely problem in PT-BR, phrasing it as they would.\n\n* **From App Screenshots:**\n    * **Connectivity Issue:** For \"Offline\" or \"Sem Sinal,\" your output should be like, \"Meu rastreador parece que parou de se comunicar.\"\n    * **Location Issue:** For a wrong location, generate, \"O aplicativo está mostrando meu rastreador no lugar errado.\"\n    * **Battery Issue:** For a \"Bateria Fraca\" warning, write, \"Acho que a bateria do meu rastreador está fraca.\"\n    * **Account/Service Issue:** For \"Assinatura Expirada,\" write, \"Estou recebendo uma mensagem sobre minha assinatura.\"\n    * **General Errors:** For a generic error, state, \"O aplicativo está me mostrando uma mensagem de erro.\" and quote it if possible.\n\n* **From Photos of the Device:**\n    * **No Power:** If a device has no lights on, generate, \"Meu rastreador não quer ligar, nenhuma luz acende.\"\n    * **Error State:** For a specific LED (e.g., solid red), write, \"Meu rastreador está com uma luz vermelha acesa e parou de funcionar.\"\n    * **Installation Fault:** For disconnected wires, generate, \"Acho que instalei algo errado, tem um fio que parece solto.\"\n    * **Physical Damage:** For a cracked device, write, \"Meu rastreador está quebrado.\"\n\n**2. Extraction of Essential Diagnostic Data:**\nSeamlessly integrate critical data into the customer's PT-BR message.\n\n* **Unique Device Identifiers:** If an **IMEI** or **Serial Number (S/N)** is visible, append it naturally. E.g., \"Meu rastreador está offline. O IMEI na parte de trás é 867530912345678.\"\n* **Model Information:** If a model number is clear, include it. E.g., \"Estou com problemas no meu rastreador modelo TK-103.\"\n\n**Constraints:**\n\n* **No AI Persona:** You are ghostwriting for the customer.\n* **Conciseness:** Keep it short and to the point.\n* **Accuracy:** Only report what is visibly present.\n* **No Greetings/Closings:** Do not add \"Olá,\" \"Obrigado,\" etc.\n\n**Example 1: Connectivity Issue from Screenshot**\n* **Input Image:** A screenshot of the tracking app showing the device status as \"Offline. Visto pela última vez: 2 dias atrás\".\n* **Example Output:** \"Meu rastreador não está funcionando. O app diz que ele está 'Offline' há alguns dias.\"\n\n**Example 2: No Power from Physical Photo**\n* **Input Image:** A photo of a tracking device correctly wired, but none of its LED lights are on.\n* **Example Output:** \"Acho que meu rastreador não está recebendo energia. Instalei ele, mas nenhuma luz acende.\"\n\n**Example 3: Error State with Device ID**\n* **Input Image:** A photo of a tracker with a solid red light. The device's IMEI sticker is clearly visible.\n* **Example Output:** \"Meu dispositivo está com uma luz vermelha acesa e não funciona. O IMEI dele é 867530912345678.\"",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2384,
        -704
      ],
      "id": "b7cb761e-6ada-48b6-b264-b2bac097db3c",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "FUKiKElzoP4Yvxlo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b67be40c-1995-49c5-b8a7-8f095cbee4a0",
              "name": "userMessage",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2608,
        -704
      ],
      "id": "a7e7db27-76a7-4016-85d4-83d9c9189faa",
      "name": "Set image description message"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jlLb6Przi1lyPt5o",
          "mode": "list",
          "cachedResultUrl": "/workflow/jlLb6Przi1lyPt5o",
          "cachedResultName": "WhatsApp message sender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evolutionInstanceName": "={{ $json.body.instance }}",
            "phoneNumber": "={{ $json.body.data.key.remoteJid }}",
            "message": "Perdão, não compreendo esse tipo de mensagem. Poderia explicar de maneira textual, por gentileza?"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "evolutionInstanceName",
              "displayName": "evolutionInstanceName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1904,
        -528
      ],
      "id": "3c580a35-4649-4f22-a025-55a6782ff78e",
      "name": "Notify user"
    },
    {
      "parameters": {
        "toolDescription": "An AI agent which purpose is handling tracker operations related functions, such as retrieving the operation texts for a certain tracker ID or creating SMS operations for trackers.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `A good description that helps the Operations agent determine what is needed to be done or what information is required.`, 'string') }}",
        "options": {
          "systemMessage": "=You are the **operations agent**. Your purpose is to receive operation requests from a supervisor agent that has no knowledge of how they are arranged or created, extract the information needed for your available tools and return the output in a way that fits the request from the agent.\nIn case of error, explictly tell the agent what the error was in an attempt to assist them fixing the issue and obtaining the required data.\n\n**Tools**:\n1. `SMS configuration operation creator`: takes a tracker ID (bigint) and creates the SMS configuration operation for the associated tracker.\n2. `SMS texts retriever`: takes a tracker ID (bigint) and retrieves the SMS texts that would be sent to the tracker by the configuring operation.\n3. `SMS responsitivity tester`: takes a tracker ID (bigint) and tests whether it is properly receiving SMS or not."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        3600,
        -672
      ],
      "id": "ceb5cf80-e5fd-4ddb-b462-8fc7db8f61dd",
      "name": "Operations agent"
    },
    {
      "parameters": {
        "toolDescription": "An AI agent which purpose is retrieving tracker information.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', `Provide a description with all available information and what is needed. Make sure to make it **clear** what is a user ID, what is an IMEI, etc.`, 'string') }}",
        "options": {
          "systemMessage": "=You are the **trackers agent**. Your purpose is to receive general tracker requests from a supervisor agent that has no knowledge of how tracker data is arranged, extract the information needed for your available tools and return the output in a way that fits the request from the agent.\nIn case of error, explictly tell the agent what the error was in an attempt to assist them fixing the issue and obtaining the required data.\n\n**Tools**:\n1. `Select tracker for user ID and tracker name`: takes a user ID (GUID) and a tracker name and returns the tracker data.\n2. `Fetch tracker by user ID`: fetches all the trackers associated with a certain user ID (GUID).\n3. `Fetch trackers by ID`: fetches the tracker data for a certain tracker ID (bigint)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        4080,
        -672
      ],
      "id": "c7560a7d-ae81-465f-9870-df8a6a2c40a6",
      "name": "Trackers agent"
    },
    {
      "parameters": {
        "content": "## Evolution API webhook\nThe webhook to which Evolution API sends WhatsApp data.",
        "height": 304,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        -928
      ],
      "typeVersion": 1,
      "id": "c5a1eab4-a2e5-4e74-9f19-96bc72be04f6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Message decoding\nHandles text, image and audio.",
        "height": 768,
        "width": 1568,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        -1120
      ],
      "typeVersion": 1,
      "id": "4d1f2fc2-ee46-4c57-b1a2-cf4a0489938c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## AI agents\nThe agents and their tools responsible for the conversation.",
        "height": 784,
        "width": 2080,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        -1104
      ],
      "typeVersion": 1,
      "id": "d7cb64ac-27de-4f17-ab31-e3313b76d6cd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "description": "Call this tool to retrieve the tracker data associated with a certain user ID and a  tracker's name",
        "workflowId": {
          "__rl": true,
          "value": "FLiF92JpXlYrRoZA",
          "mode": "list",
          "cachedResultUrl": "/workflow/FLiF92JpXlYrRoZA",
          "cachedResultName": "Select tracker for user ID and name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('userId', `The user ID (uniqueidentifier) that owns the tracker.`, 'string') }}",
            "trackerName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('trackerName', `The tracker's name.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "trackerName",
              "displayName": "trackerName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4048,
        -464
      ],
      "id": "a0b95466-a42b-4333-a952-8c928100437d",
      "name": "Select tracker for user ID and tracker name"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8aed82a-2f4e-4a09-b69a-bc7c4b62cfa7",
              "name": "redisKey",
              "value": "=whatsapp-lock:{{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -720
      ],
      "id": "47fd5133-a68d-4759-895c-610a4fed664c",
      "name": "Set Redis key"
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "={{ $('Set Redis key').item.json.redisKey }}",
        "expire": true,
        "ttl": 300
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        608,
        -720
      ],
      "id": "e8999a71-fcb1-41c7-9793-7cc7aea11910",
      "name": "Get Redis lock",
      "credentials": {
        "redis": {
          "id": "mwByg8SMokwEaDY5",
          "name": "n8n Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2375277-c006-4977-9a53-f46777ac5847",
              "leftValue": "={{ $json[Object.keys($json)[0]] }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        -752
      ],
      "id": "b23529a2-679f-42de-b1ed-51037c853393",
      "name": "Has lock been acquired?"
    },
    {
      "parameters": {
        "content": "## Acquire Redis lock\nAcquire the lock to this conversation, if possible. This avoids flooding the bot.",
        "height": 304,
        "width": 624,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -832
      ],
      "typeVersion": 1,
      "id": "cccbcd47-8315-486e-8196-9dfbab47c65c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Release Redis lock\nAs the processing is complete, we may release the lock.",
        "height": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4528,
        -800
      ],
      "typeVersion": 1,
      "id": "5a018391-89e6-43a3-8fb6-23756141454d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Set Redis key').item.json.redisKey }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5216,
        -752
      ],
      "id": "e4bbbcb7-b627-40fe-9cae-03da9a66e3bc",
      "name": "Release Redis lock",
      "credentials": {
        "redis": {
          "id": "mwByg8SMokwEaDY5",
          "name": "n8n Redis"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jlLb6Przi1lyPt5o",
          "mode": "list",
          "cachedResultUrl": "/workflow/jlLb6Przi1lyPt5o",
          "cachedResultName": "WhatsApp message sender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evolutionInstanceName": "={{ $('Webhook').item.json.body.instance }}",
            "phoneNumber": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
            "message": "Aguarde um momento, por favor, para que a operação seja concluída."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "evolutionInstanceName",
              "displayName": "evolutionInstanceName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1584,
        -544
      ],
      "id": "97eda703-9e1d-4bc2-9fc6-4548ab75bdee",
      "name": "Tell user to slow down"
    },
    {
      "parameters": {
        "description": "Call this tool to fetch a tracker's data by its ID (bigint).",
        "workflowId": {
          "__rl": true,
          "value": "WcKQ6J7wfJkGMROE",
          "mode": "list",
          "cachedResultUrl": "/workflow/WcKQ6J7wfJkGMROE",
          "cachedResultName": "Fetch tracker by ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "trackerId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('trackerId', `The ID associated with the tracker (bigint).`, 'number') }}"
          },
          "matchingColumns": [
            "trackerId"
          ],
          "schema": [
            {
              "id": "trackerId",
              "displayName": "trackerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4176,
        -480
      ],
      "id": "df91f605-2cae-4201-a05a-3999edd74618",
      "name": "Fetch tracker by ID"
    },
    {
      "parameters": {
        "description": "Call this tool to fetch the list of trackers for a given user ID (uniqueidentifier). The output will contains a list with all the user's trackers and their respective fields.",
        "workflowId": {
          "__rl": true,
          "value": "RzoOcXGaI7LNA7XH",
          "mode": "list",
          "cachedResultUrl": "/workflow/RzoOcXGaI7LNA7XH",
          "cachedResultName": "Tracker fetcher by user ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('userId', `The user ID (uniqueidentifier) for which the trackers will be retrieved.`, 'string') }}"
          },
          "matchingColumns": [
            "User ID"
          ],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4304,
        -464
      ],
      "id": "29c54a75-525e-4266-aeb4-1d838c32f01f",
      "name": "Fetch trackers by user ID"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -512,
        -1472
      ],
      "id": "4c90a96c-946e-4daf-97b7-932a3537d738",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JiNsxKm28ayWd9LU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        752,
        -1248
      ],
      "id": "22e9eeb7-98d5-4e34-85ee-27aeedc9f181",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "=1e2viNTwU2mCJesEeqoV68VMT38jW541S"
          },
          "whatToSearch": "files",
          "fileTypes": [
            "application/vnd.google-apps.document"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -736,
        -1472
      ],
      "id": "5e627c79-0ab7-4a43-bbee-dda08829dc5a",
      "name": "Retrieve files in folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JiNsxKm28ayWd9LU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_vectors",
          "mode": "list",
          "cachedResultName": "n8n_vectors"
        },
        "restartSequences": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -736,
        -1664
      ],
      "id": "8e6f6ffd-a61c-49b2-8a98-0f6686cca8dd",
      "name": "Truncate vectors table",
      "credentials": {
        "postgres": {
          "id": "lamNznp9fQK5B4zm",
          "name": "PGVector account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        608,
        -1472
      ],
      "id": "e89e96d0-f727-42b7-9952-450715973442",
      "name": "Add document to PGVector store",
      "credentials": {
        "postgres": {
          "id": "lamNznp9fQK5B4zm",
          "name": "PGVector account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        4448,
        -464
      ],
      "id": "a200b161-dccf-468c-b00d-cf5c1b49e26b",
      "name": "PGVector tool embeddings",
      "credentials": {
        "openAiApi": {
          "id": "FUKiKElzoP4Yvxlo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        -1248
      ],
      "id": "cc5b588a-6370-43f2-8413-967ce4f62e9c",
      "name": "PGVector add embeddings",
      "credentials": {
        "openAiApi": {
          "id": "FUKiKElzoP4Yvxlo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Knowledge base updating\nPools a specific Google Drive folder and updates the knowledge base with the documents.",
        "height": 864,
        "width": 2000,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        -1968
      ],
      "typeVersion": 1,
      "id": "a110dfcd-776a-4fbd-95ae-77be5fffb12a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -64,
        -1472
      ],
      "id": "9c9db217-a1fe-4976-9e9d-8064fc983568",
      "name": "Convert from HTML to Markdown"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "options": {
          "fileName": "={{ $('Download file').item.json.name }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        160,
        -1472
      ],
      "id": "17b3e072-d81c-473c-88c4-6225398cc7f0",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "$input.item.binary.data.mimeType = \"text/markdown\";\n$input.item.binary.data.fileExtension = \"md\";\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -1472
      ],
      "id": "765ba157-2282-4cac-a657-7d2e7a5079a5",
      "name": "Correct file extension and mime type"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -288,
        -1472
      ],
      "id": "10fd2fc2-ade3-4981-a4de-092b7953faab",
      "name": "Extract binary file to text"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        -1568
      ],
      "id": "c5890586-1261-485a-a413-505a8349deb1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as account_count FROM Mobiltracker.dbo.Users\nWHERE Phone = '{{ $json.phoneNumber }}'\n  OR Phone2 = '{{ $json.phoneNumber }}'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -96,
        -784
      ],
      "id": "ffc6295b-6dbe-469b-9442-47f9bf0d1419",
      "name": "Fetch number of accounts",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "19946ece-1d12-49d3-a617-b9d73e235e21",
              "leftValue": "={{ $json.account_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        80,
        -768
      ],
      "id": "f856a6ef-6a37-45e9-9442-add6673091be",
      "name": "Keep users that have an account"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This is your primary rulebook and single source of truth. Use this tool to retrieve the specific workflow documents (e.g., \"Tracker configuring process\") that define all your permitted capabilities, step-by-step procedures, and error-handling instructions. You must consult this first to understand what to do for any customer request.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        4368,
        -672
      ],
      "id": "ea321527-7f63-4bf8-999b-2fd56458deaa",
      "name": "Knowledge base",
      "credentials": {
        "postgres": {
          "id": "lamNznp9fQK5B4zm",
          "name": "PGVector account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}-memory",
        "sessionTTL": "={{ 1 * 60 }}",
        "contextWindowLength": 6
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        4944,
        -928
      ],
      "id": "1aae163b-861c-4494-ac17-a8d1997d915d",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "mwByg8SMokwEaDY5",
          "name": "n8n Redis"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"user_reply\": \"Ótimo, localizei o rastreador *Meu Carro*. O número de telefone (SIM card) associado a ele é `11987654321`. Este número está correto?\",\n  \"data_to_store\": \"{\\\"UserId\\\":\\\"123e4567-e89b-12d3-a456-426614174000\\\",\\\"SelectedTrackerName\\\":\\\"Meu Carro\\\",\\\"TrackerId\\\":98765,\\\"PhoneNumber\\\":\\\"11987654321\\\",\\\"IMEI\\\":\\\"123456789012345\\\"}\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4656,
        -672
      ],
      "id": "bcc6671c-eecf-4ea1-9fbd-40d3237f0df7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.output.data_to_store }}",
              "hideFromUI": true
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        4864,
        -1152
      ],
      "id": "9baa4444-b6f3-465e-b4dd-d41ab54daccf",
      "name": "Insert data in history"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3168,
        -480
      ],
      "id": "2804dad4-20bb-455b-93e7-fde0a5d3a3b3",
      "name": "Subagents model",
      "credentials": {
        "openAiApi": {
          "id": "FUKiKElzoP4Yvxlo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3056,
        -672
      ],
      "id": "7cba3c0f-7b15-4035-928b-71a2e2fd01bb",
      "name": "Supervisor model",
      "credentials": {
        "openAiApi": {
          "id": "FUKiKElzoP4Yvxlo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool ONLY with user confirmation that it is okay to proceed with the configuration of their tracker. This tool will create operations that will configure their tracker automatically.",
        "workflowId": {
          "__rl": true,
          "value": "2L3Lr1vlRJf21SHO",
          "mode": "list",
          "cachedResultUrl": "/workflow/2L3Lr1vlRJf21SHO",
          "cachedResultName": "Tracker operation creator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "trackerId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('trackerId', `Tracker ID (number) for which operations will be created.`, 'number') }}"
          },
          "matchingColumns": [
            "trackerId"
          ],
          "schema": [
            {
              "id": "trackerId",
              "displayName": "trackerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3776,
        -464
      ],
      "id": "489cd566-1f2a-4b47-9ad5-d5ec383cdda1",
      "name": "SMS configuration operation creator"
    },
    {
      "parameters": {
        "description": "Call this tool to test if a certain tracker (determined by its tracker ID) is currently properly receiving SMS messages. The success output message is not relevant, but is imperative to respond with the exact failure message in case of fail.",
        "workflowId": {
          "__rl": true,
          "value": "3IZzgHVS3XeOo5yh",
          "mode": "list",
          "cachedResultUrl": "/workflow/3IZzgHVS3XeOo5yh",
          "cachedResultName": "Tracker SMS tester"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "trackerId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('trackerId', `Tracker ID (number) which shall be SMS tested.`, 'number') }}"
          },
          "matchingColumns": [
            "trackerId"
          ],
          "schema": [
            {
              "id": "trackerId",
              "displayName": "trackerId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3888,
        -480
      ],
      "id": "259fefe0-db85-43a5-b615-1b416683dcad",
      "name": "SMS responsitivity tester"
    },
    {
      "parameters": {
        "description": "Call this tool to know if sender is a partner",
        "workflowId": {
          "__rl": true,
          "value": "3T7kY5qO7FTP3V2U",
          "mode": "list",
          "cachedResultUrl": "/workflow/3T7kY5qO7FTP3V2U",
          "cachedResultName": "Checking if sender is partner"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "phoneNumber": "={{ $json.phoneNumber }}"
          },
          "matchingColumns": [
            "phoneNumber"
          ],
          "schema": [
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3024,
        -480
      ],
      "id": "b0ffdfd8-c27a-4170-b70b-3cff0575ce6f",
      "name": "Check if sender is partner"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8db4e979-2500-4a19-a265-6d7d7e356278",
              "leftValue": "={{ $json.body.data.source }}",
              "rightValue": "ios",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -608,
        -800
      ],
      "id": "27cb7ac9-795d-4348-950f-f9bfbf354a9e",
      "name": "IOS or Android"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b80fc91-72ad-4634-9d5a-0c30441c1e92",
              "name": "phoneNumber",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid.split(\"@\")[0].substring(2).length === 10 ? `${$('Webhook').item.json.body.data.key.remoteJid.split(\"@\")[0].substring(2, 5)}9${$('Webhook').item.json.body.data.key.remoteJid.split(\"@\")[0].substring(5)}` : $('Webhook').item.json.body.data.key.remoteJid.split(\"@\")[0].substring(2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -784
      ],
      "id": "4e6d2aa9-3fe5-4f3c-bdbe-07fa860a2aa5",
      "name": "Format Android phone number"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "484d5ea2-71e3-4911-a1ea-06e45c742da4",
              "name": "",
              "value": "={{ jidValue = $json.body.data.key.remoteJid}} \n{{$json.body.data.key.remoteJid = $json.body.data.key.remoteJidAlt;$json.body.data.key.remoteJidAlt = jidValue }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -848
      ],
      "id": "c0c4dd9e-c5ac-402d-9d1d-aaf20fa532c0",
      "name": "Format IOS phone number"
    },
    {
      "parameters": {
        "content": "## Users filtering\nKeep only users that have an account.",
        "height": 352,
        "width": 704,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -976
      ],
      "typeVersion": 1,
      "id": "0e7584e3-cb53-410b-af57-54d0651c5bff",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "description": "Call this tool to fetch all the users associated with a certain phone number.",
        "workflowId": {
          "__rl": true,
          "value": "UrY0HzDBz8ZxGrSy",
          "mode": "list",
          "cachedResultUrl": "/workflow/UrY0HzDBz8ZxGrSy",
          "cachedResultName": "Users for phone fetcher"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "phoneNumber": "={{ $json.phoneNumber }}"
          },
          "matchingColumns": [
            "phoneNumber"
          ],
          "schema": [
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3296,
        -528
      ],
      "id": "c47744ca-5834-4a47-ab4e-9f1ec1e7b708",
      "name": "Users for phone fetcher"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fjygL6mpabZheiwz",
          "mode": "list",
          "cachedResultUrl": "/workflow/fjygL6mpabZheiwz",
          "cachedResultName": "Fetch userId by email"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "customerEmail": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('customerEmail', ``, 'string') }}",
            "organizationId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('organizationId', ``, 'string') }}"
          },
          "matchingColumns": [
            "organizationId"
          ],
          "schema": [
            {
              "id": "organizationId",
              "displayName": "organizationId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "customerEmail",
              "displayName": "customerEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3408,
        -448
      ],
      "id": "f9ff20d3-f4b9-4bee-a112-d92f434a977d",
      "name": "Fetch userId by email"
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-15T22:10:01.719Z",
      "createdAt": "2025-09-15T22:10:01.719Z",
      "role": "workflow:owner",
      "workflowId": "vX6e7zhb473UvZYt",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": {
    "node:When folder is updated": {
      "lastTimeChecked": "2025-10-24T17:38:44Z"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-12-04T20:50:26.842Z",
  "versionId": "ac1e52b0-5f74-4377-b5e0-b03344af1ed5"
}