Development/Check customers that are using the service for free.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get active Stripe SAAS subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get active Stripe SAAS subscriptions": {
      "main": [
        [
          {
            "node": "Compare now with due date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare now with due date": {
      "main": [
        [
          {
            "node": "Is due date in the past?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is due date in the past?": {
      "main": [
        [],
        [
          {
            "node": "Is the difference within the expected interval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is the difference within the expected interval?": {
      "main": [
        [],
        [
          {
            "node": "Get MTK Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get MTK Subscription": {
      "main": [
        [
          {
            "node": "Merge MTK and ViaVan subscriptions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get ViaVan subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ViaVan subscription": {
      "main": [
        [
          {
            "node": "Merge MTK and ViaVan subscriptions",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge MTK and ViaVan subscriptions": {
      "main": [
        [
          {
            "node": "Query driver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query driver": {
      "main": [
        [
          {
            "node": "Set output fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-10T13:51:00.518Z",
  "id": "sIvjLOCtHGKkQ3Ra",
  "isArchived": false,
  "isProd": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Check customers that are using the service for free",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        -96
      ],
      "id": "964b32b4-a762-4d88-8556-a694198513f3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "query",
        "projectId": "parents-poc-app-jc45n7",
        "query": "={\n  \"structuredQuery\": {\n    \"select\": {\n      \"fields\": [\n        {\n          \"fieldPath\": \"external_id\"\n        },\n        {\n          \"fieldPath\": \"due_at\"\n        },\n        {\n          \"fieldPath\": \"status\"\n        },\n        {\n          \"fieldPath\": \"driver\"\n        }\n      ]\n    },\n    \"from\": [\n      {\n        \"collectionId\": \"saas_subscriptions\"\n      }\n    ],\n    \"where\": {\n      \"compositeFilter\": {\n        \"op\": \"AND\",\n        \"filters\": [\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"status\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"stringValue\": \"active\"\n              }\n            }\n          },\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"provider\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"stringValue\": \"stripe\"\n              }\n            }\n          }\n        ]\n      }\n    }\n  }\n}",
        "simple": false
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -32,
        -96
      ],
      "id": "619fa585-f981-4aea-83f5-044148cf9a21",
      "name": "Get active Stripe SAAS subscriptions",
      "credentials": {
        "googleApi": {
          "id": "Z0IQAyI3uZ3a8hmL",
          "name": "ViaVan Firestore"
        }
      }
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ DateTime.now() }}",
        "endDate": "={{ $json.document.fields.due_at.timestampValue.toDateTime() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        192,
        -96
      ],
      "id": "2e782e42-ecba-46b1-855a-0fbaa9392a12",
      "name": "Compare now with due date"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "48b10514-117a-4a5f-b1c0-39fba33bab30",
              "leftValue": "={{ $json.timeDifference.days }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        -96
      ],
      "id": "c4135dcf-6455-447c-802b-f89a6a4c1b56",
      "name": "Is due date in the past?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fecbb7d8-f963-42ec-8f4b-935c277b15e1",
              "leftValue": "={{ $json.timeDifference.days }}",
              "rightValue": 36,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        -96
      ],
      "id": "9b20585e-de5c-41a4-b68a-c0bb691e7694",
      "name": "Is the difference within the expected interval?"
    },
    {
      "parameters": {
        "url": "=https://api.stripe.com/v1/subscriptions/{{ $('Get active Stripe SAAS subscriptions').item.json.document.fields.external_id.stringValue }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        -96
      ],
      "id": "402dd3de-4a5a-4d10-91c0-4fdbc31efc31",
      "name": "Get MTK Subscription",
      "credentials": {
        "stripeApi": {
          "id": "jiWINJh4psKsBV0A",
          "name": "MTK Stripe"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://api.stripe.com/v1/subscriptions/{{ $('Get active Stripe SAAS subscriptions').item.json.document.fields.external_id.stringValue }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        -24
      ],
      "id": "390d80b4-5592-4e23-be74-75ae51a7097c",
      "name": "Get ViaVan subscription",
      "credentials": {
        "stripeApi": {
          "id": "yw2prZ456LC91VwT",
          "name": "ViaVan Stripe"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        -96
      ],
      "id": "7bc5e545-3af1-4d1b-9b9b-5d2ad15b73f2",
      "name": "Merge MTK and ViaVan subscriptions"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "query",
        "projectId": "parents-poc-app-jc45n7",
        "query": "={\n  \"structuredQuery\": {\n    \"select\": {\n      \"fields\": [\n        {\n          \"fieldPath\": \"phone_number\"\n        },\n        {\n          \"fieldPath\": \"email\"\n        },\n        {\n          \"fieldPath\": \"external_references.stripe_customer_id\"\n        }\n      ]\n    },\n    \"from\": [\n      {\n        \"collectionId\": \"drivers\"\n      }\n    ],\n    \"where\": {\n      \"fieldFilter\": {\n        \"field\": {\n          \"fieldPath\": \"__name__\"\n        },\n        \"op\": \"EQUAL\",\n        \"value\": {\n          \"referenceValue\": {{ $('Get active Stripe SAAS subscriptions').item.json.document.fields.driver.referenceValue.toJsonString() }}\n        }\n      }\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        1536,
        -96
      ],
      "id": "1936f445-8d41-4c05-8b27-a00c0f52a7d9",
      "name": "Query driver",
      "credentials": {
        "googleApi": {
          "id": "Z0IQAyI3uZ3a8hmL",
          "name": "ViaVan Firestore"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2541ebc5-1cbf-4948-9ac9-c4a8620f1570",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "72fc2ace-b91e-40ae-8624-20a634d12309",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "5fd32e16-027b-42ae-9197-df3520d14e1d",
              "name": "stripe_id",
              "value": "={{ $('Merge MTK and ViaVan subscriptions').item.json.id }}",
              "type": "string"
            },
            {
              "id": "6d2b0f06-90f8-4539-acdc-c6b173bf83fc",
              "name": "stripe_customer_id",
              "value": "={{ $json.external_references.stripe_customer_id }}",
              "type": "string"
            },
            {
              "id": "6a5c0d13-b32e-4dbe-838a-5f927d7e994e",
              "name": "saas_subscription_due_at",
              "value": "={{ $('Get active Stripe SAAS subscriptions').item.json.document.fields.due_at.timestampValue }}",
              "type": "string"
            },
            {
              "id": "82fc5ca5-a9bc-4506-93bc-3842cebd034a",
              "name": "saas_subscription_id",
              "value": "={{ $('Get active Stripe SAAS subscriptions').item.json.document.id }}",
              "type": "string"
            },
            {
              "id": "ce21b7d4-f3e7-4010-bc24-60fe6b4fdff9",
              "name": "saas_subscription_status",
              "value": "={{ $('Get active Stripe SAAS subscriptions').item.json.document.fields.status.stringValue }}",
              "type": "string"
            },
            {
              "id": "c6e761d7-09e5-48c3-8b25-edad69c7b67b",
              "name": "stripe_status",
              "value": "={{ $('Merge MTK and ViaVan subscriptions').item.json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        -96
      ],
      "id": "999dbf53-bba9-4dac-988b-f47ce88f014d",
      "name": "Set output fields"
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-10T13:51:00.518Z",
      "createdAt": "2025-10-10T13:51:00.518Z",
      "role": "workflow:owner",
      "workflowId": "sIvjLOCtHGKkQ3Ra",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-10T18:58:35.204Z",
  "versionId": "3e3e7c35-ddd9-48ee-8d87-cac73e33f4d1"
}