Development/Generate Github Issue From Slack.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Create an issue": {
      "main": [
        [
          {
            "node": "Success Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "should add to board",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Issue Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "cs-bug-tracking",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mobiltracker-scripts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "issues-and-bugs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Repo Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cs-bug-tracking": {
      "main": [
        [
          {
            "node": "automation-board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mobiltracker-scripts": {
      "main": [
        [
          {
            "node": "automation-board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "automation-board": {
      "main": [
        [
          {
            "node": "set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "should add to board": {
      "main": [
        [
          {
            "node": "Add to board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to board": {
      "main": [
        [
          {
            "node": " Add to field/column",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Add to field/column": {
      "main": [
        [],
        [
          {
            "node": "Board/Column Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "issues-and-bugs-board": {
      "main": [
        [
          {
            "node": "set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "issues-and-bugs": {
      "main": [
        [
          {
            "node": "issues-and-bugs-board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-28T20:09:08.622Z",
  "id": "anVviF0GCwMJansP",
  "isArchived": false,
  "isProd": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Generate Github Issue From Slack",
  "nodes": [
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "mobiltracker",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo }}"
        },
        "title": "={{ $json.title }}",
        "body": "={{ $json.body }}",
        "labels": [],
        "assignees": []
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        576,
        -32
      ],
      "id": "a777a62b-f096-4301-995a-b61a58bd578d",
      "name": "Create an issue",
      "webhookId": "5d30c76f-9c80-4706-a683-a024bc4510ed",
      "alwaysOutputData": false,
      "credentials": {
        "githubApi": {
          "id": "hVzdk14YTolygHXw",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9a51dd16-c48a-4bb8-a567-218b998d4d45",
              "leftValue": "={{ $json.text }}",
              "rightValue": "issue:",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -544,
        -32
      ],
      "id": "98bdd4d5-2cbb-4f62-b05e-5a54076ee8c8",
      "name": "Filter"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = $input.item.json.text;\nconst parts = text.split(/BODY:/gi);\nconst titleContent = parts[0].replace(/ISSUE:/gi, '').trim();\nconst bodyContent = parts.length > 1 ? parts[1].trim() : \"\";\n\nreturn {\n  title: titleContent,\n  body: bodyContent\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -32
      ],
      "id": "1d3be9e9-5bbc-4666-8680-d95b468fc206",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "watchWorkspace": true,
        "options": {
          "userIds": [
            "U0B0L9HU4GM",
            "UQGD1H5ML"
          ]
        }
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -32
      ],
      "id": "fad659e7-a953-4981-970c-290f0cd52c3f",
      "name": "trigger",
      "webhookId": "09773a7b-255c-4298-88b4-b6dee59eef20",
      "credentials": {
        "slackApi": {
          "id": "Qbd8mw1aSfZXDGvQ",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('trigger').item.json.channel }}",
                    "rightValue": "C0B07UPEAH5",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5940e90d-5c96-456b-a94e-a603d606c30a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "automation-issues"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bc4699c6-bed2-498b-bad1-1fea516cba90",
                    "leftValue": "={{ $('trigger').item.json.channel }}",
                    "rightValue": "CQHL0LE3G",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mobinho-tester"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5343dace-80b2-4736-93ea-399259f04658",
                    "leftValue": "={{ $('trigger').item.json.channel }}",
                    "rightValue": "C0B9S782DEX",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "issues-and-bugs"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -192,
        -64
      ],
      "id": "e12f2899-15df-4afe-a1de-084f69504256",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be824160-b29d-4d1b-9b26-012359286404",
              "name": "repo",
              "value": "cs-bug-tracking",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -224
      ],
      "id": "7ff7575c-a57c-43a3-90ef-896fbaa6f23d",
      "name": "cs-bug-tracking"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be824160-b29d-4d1b-9b26-012359286404",
              "name": "repo",
              "value": "mobiltracker-scripts",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        32
      ],
      "id": "2ae3dbca-c9c6-4c61-a987-a4d786fbeee8",
      "name": "mobiltracker-scripts"
    },
    {
      "parameters": {
        "jsCode": "/*\nEsse node só serve para unificar todos os fields para uso em outros nodes.\nNão dá pra (até onde eu sei) fazer uma referência global ($('Node')) sem ter esse node. \n*/\n\nreturn {\n  title:  $input.first().json.title,\n  body:   $input.first().json.body,\n  repo:   $input.first().json.repo,\n  board:  $input.first().json.board,\n  field:  $input.first().json.field,\n  column: $input.first().json.column\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -32
      ],
      "id": "e9a159c1-9d4f-44c5-abd3-ea610ae86cd0",
      "name": "set"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a0c4aac-89fe-46ab-8f8d-9adb054749c2",
              "name": "board",
              "value": "PVT_kwDOAx1Yqs4AD4OZ",
              "type": "string"
            },
            {
              "id": "026339b5-4ff8-46cb-8117-7bc820211b74",
              "name": "field",
              "value": "PVTSSF_lADOAx1Yqs4AD4OZzgCO76s",
              "type": "string"
            },
            {
              "id": "9599e94d-3c69-4efe-bbb8-265aceba0e8a",
              "name": "column",
              "value": "5aafac07",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        32
      ],
      "id": "39b8f4da-801f-472f-92dc-227796f777d6",
      "name": "automation-board"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f891bb62-2174-4c28-89ec-09c7b8edc459",
              "leftValue": "={{ $('set').item.json.board }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        -48
      ],
      "id": "50a96145-b4e3-4d45-8c1c-8b3519fb35e5",
      "name": "should add to board",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a0c4aac-89fe-46ab-8f8d-9adb054749c2",
              "name": "board",
              "value": "PVT_kwDOAx1Yqs4BFOVx",
              "type": "string"
            },
            {
              "id": "026339b5-4ff8-46cb-8117-7bc820211b74",
              "name": "field",
              "value": "PVTSSF_lADOAx1Yqs4BFOVxzg2n8UU",
              "type": "string"
            },
            {
              "id": "a47d4eb5-1894-4c8c-9375-0f7b738ccc70",
              "name": "column",
              "value": "880822d9",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -96
      ],
      "id": "d4abe1de-dbed-4113-8dbd-f96edac16dc5",
      "name": "issues-and-bugs-board"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "endpoint": "https://api.github.com/graphql",
        "query": "=mutation {\n  addProjectV2ItemById(input: {\n    projectId: \"{{$('set').item.json.board}}\", \n    contentId: \"{{$json.node_id}}\"}) {\n      item {\n        id\n      }\n    }\n  }"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        944,
        -112
      ],
      "id": "bb5d163f-7b16-46e8-97e0-164717707962",
      "name": "Add to board",
      "credentials": {
        "httpBasicAuth": {
          "id": "zgzjLNaWqmmMjkOv",
          "name": "Unnamed credential"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "endpoint": "https://api.github.com/graphql",
        "query": "=mutation {\n  updateProjectV2ItemFieldValue(\n    input: {\n      projectId: \"{{$('set').item.json.board}}\"\n      itemId: \"{{ $json.data.addProjectV2ItemById.item.id }}\"\n      fieldId: \"{{$('set').item.json.field}}\"\n      value: {\n        singleSelectOptionId: \"{{$('set').item.json.column}}\"\n      }\n    }\n  ) {\n    projectV2Item {\n      id\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        1088,
        -112
      ],
      "id": "89727f76-6715-4b69-9afd-34a8af6e8f20",
      "name": " Add to field/column",
      "credentials": {
        "httpBasicAuth": {
          "id": "zgzjLNaWqmmMjkOv",
          "name": "Unnamed credential"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "endpoint": "https://api.github.com/graphql",
        "query": "=query {\n  node(id: \"ID DO BOARD AQUI\") {\n    ... on ProjectV2 {\n      title\n      fields(first: 50) {\n        nodes {\n          ... on ProjectV2Field {\n            id\n            name\n          }\n\n          ... on ProjectV2SingleSelectField {\n            id\n            name\n            options {\n              id\n              name\n            }\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -352,
        144
      ],
      "id": "85a39f88-7422-49f7-8b25-9c997d20991a",
      "name": "get fields/columns",
      "credentials": {
        "httpBasicAuth": {
          "id": "zgzjLNaWqmmMjkOv",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "endpoint": "https://api.github.com/graphql",
        "query": "=query {\n  organization(login: \"mobiltracker\") {\n    projectsV2(first: 20) {\n      nodes {\n        id\n        title\n      }\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -560,
        144
      ],
      "id": "2523d7d3-2bc0-4a60-9783-bc9baccd0572",
      "name": "get boards",
      "credentials": {
        "httpBasicAuth": {
          "id": "zgzjLNaWqmmMjkOv",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be824160-b29d-4d1b-9b26-012359286404",
              "name": "repo",
              "value": "issues-and-bugs",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -96
      ],
      "id": "db9b07ca-f038-4016-a867-b5b8ea6b7cea",
      "name": "issues-and-bugs"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "=Issue criada no repo {{ $('set').item.json.repo }}! Acesse em: {{ $json.html_url }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        768,
        -192
      ],
      "id": "357000d3-2153-4b7b-9600-08590675cd65",
      "name": "Success Message",
      "webhookId": "03a52f18-eba8-4af5-834c-b02305566cec",
      "credentials": {
        "slackApi": {
          "id": "Qbd8mw1aSfZXDGvQ",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "Não foi possível criar a issue no github",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        768,
        96
      ],
      "id": "7f0399ad-d6d6-4478-8ccd-5b6cda171212",
      "name": "Issue Error Message",
      "webhookId": "03a52f18-eba8-4af5-834c-b02305566cec",
      "credentials": {
        "slackApi": {
          "id": "Qbd8mw1aSfZXDGvQ",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "Ops! Erro ao passar issue para o quadro Automação!",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1264,
        -48
      ],
      "id": "5dbcb61b-3c4b-4d21-a242-4c4cdbe04c63",
      "name": "Board/Column Error Message",
      "webhookId": "03a52f18-eba8-4af5-834c-b02305566cec",
      "credentials": {
        "slackApi": {
          "id": "Qbd8mw1aSfZXDGvQ",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "Repositório não registrado no workflow do n8n!",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        16,
        160
      ],
      "id": "0bd23500-b938-4ff6-9fb0-595a3728b651",
      "name": "Repo Error Message",
      "webhookId": "03a52f18-eba8-4af5-834c-b02305566cec",
      "credentials": {
        "slackApi": {
          "id": "Qbd8mw1aSfZXDGvQ",
          "name": "Slack account 2"
        }
      }
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-04-28T20:09:08.622Z",
      "createdAt": "2026-04-28T20:09:08.622Z",
      "role": "workflow:owner",
      "workflowId": "anVviF0GCwMJansP",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-11T16:47:14.009Z",
  "versionId": "fb714948-9017-4ddc-be38-42123eb4eb0b"
}