Development/IUGU chargeback checker.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch partners with Iugu API token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve chargebacks": {
      "main": [
        [
          {
            "node": "Are there any chargebacks?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop over partners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch partners with Iugu API token": {
      "main": [
        [
          {
            "node": "Loop over partners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out chargebacks": {
      "main": [
        [
          {
            "node": "Fetch invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over partners": {
      "main": [
        [],
        [
          {
            "node": "Set to",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are there any chargebacks?": {
      "main": [
        [
          {
            "node": "Split out chargebacks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop over partners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has dispute been lost?": {
      "main": [
        [
          {
            "node": "Set open and lost organization properties",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set open organization property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out organization properties": {
      "main": [
        [
          {
            "node": "Fetch number of replicas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge lost and just open disputes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set open and lost organization properties": {
      "main": [
        [
          {
            "node": "Split out organization properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set open organization property": {
      "main": [
        [
          {
            "node": "Fetch number of replicas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge lost and just open disputes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch number of replicas": {
      "main": [
        [
          {
            "node": "Is this unreplicated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create organization property": {
      "main": [
        [
          {
            "node": "Loop over partners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format creation date": {
      "main": [
        [
          {
            "node": "Has dispute been lost?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is this unreplicated?": {
      "main": [
        [
          {
            "node": "Merge organization properties and replicas",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Loop over partners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch partners with Iugu API token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge lost and just open disputes": {
      "main": [
        [
          {
            "node": "Merge organization properties and replicas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge organization properties and replicas": {
      "main": [
        [
          {
            "node": "Create organization property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch invoice": {
      "main": [
        [
          {
            "node": "Set number of installments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop over partners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set number of installments": {
      "main": [
        [
          {
            "node": "Format creation date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set from": {
      "main": [
        [
          {
            "node": "Retrieve chargebacks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set to": {
      "main": [
        [
          {
            "node": "Set from",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-21T16:14:00.375Z",
  "id": "I41ZpinEMacXMlU4",
  "isArchived": false,
  "isProd": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "IUGU chargeback checker",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -944,
        440
      ],
      "id": "50d43564-e2c6-488a-97ca-644d491636e0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "table": "[MobiltrackerPartner].[dbo].[OrganizationProperties]",
        "columns": "OrganizationId, Key, Value, ValueDecimal"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        2864,
        -40
      ],
      "id": "978f95a1-22ce-4565-af69-f81ce6d3cea6",
      "name": "Create organization property",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.iugu.com/v1/chargebacks",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_token",
              "value": "={{ $('Fetch partners with Iugu API token').item.json.IuguApiToken }}"
            },
            {
              "name": "created_at_from",
              "value": "={{ $json.dateFrom }}"
            },
            {
              "name": "created_at_to",
              "value": "={{ $('Set to').item.json.currentDate }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -112
      ],
      "id": "f49f6dc6-b17c-485a-a9a7-d926c2b4f586",
      "name": "Retrieve chargebacks",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT OrganizationId, IuguApiToken FROM MobiltrackerPartner.dbo.Preferences\nWHERE IuguApiToken IS NOT NULL"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -720,
        344
      ],
      "id": "76398d20-f770-4d29-ac42-05ddc5dd0c05",
      "name": "Fetch partners with Iugu API token",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        -112
      ],
      "id": "ec01739a-edaf-4a54-8500-252fac3eaa0c",
      "name": "Split out chargebacks"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -496,
        344
      ],
      "id": "986db547-ec53-453b-a80f-9e901233ffec",
      "name": "Loop over partners"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18612c24-25f3-413f-81f4-e2549250137b",
              "leftValue": "={{ $json.items }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        -112
      ],
      "id": "e0686b71-7182-4b43-a420-fc22c0528d5d",
      "name": "Are there any chargebacks?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b8b9568e-2768-4485-aec3-ef232ed0f81a",
              "leftValue": "={{ $('Split out chargebacks').item.json.status }}",
              "rightValue": "lost",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        -112
      ],
      "id": "65b2be8a-18e1-4b2b-b388-6b14fc4c3c1a",
      "name": "Has dispute been lost?"
    },
    {
      "parameters": {
        "fieldToSplitOut": "properties",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1968,
        -256
      ],
      "id": "5a4e1ee7-c7a4-46f4-912a-8e80eceaecf7",
      "name": "Split out organization properties"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"properties\": [\n    {\n      \"OrganizationId\": {{ $('Loop over partners').item.json.OrganizationId.toJsonString() }},\n      \"Key\": \"IUGU_CHARGEBACK_OPEN:{{ $json.created_at }}\",\n      \"Value\": {{ $('Split out chargebacks').item.json.id.toJsonString() }},\n      \"ValueDecimal\": {{ Math.round($json.timeDifference.months) * 5.6 }}\n    },\n    {\n      \"OrganizationId\": {{ $('Loop over partners').item.json.OrganizationId.toJsonString() }},\n      \"Key\": \"IUGU_CHARGEBACK_LOST:{{ $json.created_at }}\",\n      \"Value\": {{ $('Split out chargebacks').item.json.id.toJsonString() }},\n      \"ValueDecimal\": {{ Math.round($json.timeDifference.months) * 15 }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        -256
      ],
      "id": "90d249dc-167a-46b3-af23-cc36729b7d39",
      "name": "Set open and lost organization properties"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc6f4783-aa0d-49d4-bafc-db27d4b55321",
              "name": "OrganizationId",
              "value": "={{ $('Loop over partners').item.json.OrganizationId }}",
              "type": "string"
            },
            {
              "id": "c7397751-f01b-46f0-9663-1ff3631c5a9c",
              "name": "Key",
              "value": "=IUGU_CHARGEBACK_OPEN:{{ $('Split out chargebacks').item.json.created_at }}",
              "type": "string"
            },
            {
              "id": "1db7c5c0-f80b-40c8-a90b-f12cdf7d1eb2",
              "name": "Value",
              "value": "={{ $('Split out chargebacks').item.json.id }}",
              "type": "string"
            },
            {
              "id": "cb599cab-cfb1-43e5-bed1-fe0316781e3f",
              "name": "ValueDecimal",
              "value": "={{ Math.round($json.timeDifference.months) * 5.6 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        32
      ],
      "id": "0472a5bd-7d4b-4336-8a74-82c423002a6c",
      "name": "Set open organization property"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as replica_count FROM MobiltrackerPartner.dbo.OrganizationProperties\n  WHERE [Key] = '{{ $json.Key }}'\n    AND OrganizationId = '{{ $json.OrganizationId }}'\n    AND [Value] = '{{ $('Split out chargebacks').item.json.id }}'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        2192,
        -16
      ],
      "id": "1a93c556-9794-4b92-898f-9eb419033899",
      "name": "Fetch number of replicas",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Split out chargebacks').item.json.created_at }}",
        "format": "custom",
        "customFormat": "yyyy-MM-dd-HH-mm-ss",
        "outputFieldName": "created_at",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1296,
        -112
      ],
      "id": "9a437542-d550-4def-a648-7cd2722985ba",
      "name": "Format creation date"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0992a214-0b2c-46ec-8863-828353029e67",
              "leftValue": "={{ $json.replica_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2416,
        -16
      ],
      "id": "88e7c163-89b4-4d66-b06e-c1b35a687045",
      "name": "Is this unreplicated?"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -944,
        248
      ],
      "id": "763da698-315a-423b-b169-265aa675655f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2192,
        -208
      ],
      "id": "f467a1c3-12de-411b-baa9-d2071783cc60",
      "name": "Merge lost and just open disputes"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2640,
        -112
      ],
      "id": "81768505-d516-4223-9dd1-8ca50e3a195c",
      "name": "Merge organization properties and replicas"
    },
    {
      "parameters": {
        "url": "=https://api.iugu.com/v1/invoices/{{ $json.invoice_id }}?api_token={{ $('Fetch partners with Iugu API token').item.json.IuguApiToken }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        -112
      ],
      "id": "1aa60d49-3dea-4c5b-b2bd-c07abd9a552b",
      "name": "Fetch invoice",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $json.paid_at.toDateTime() }}",
        "endDate": "={{ $json.chargeback_at_iso.toDateTime() }}",
        "units": [
          "month"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1072,
        -112
      ],
      "id": "35903af5-bd51-4d16-a15c-30c4a494a908",
      "name": "Set number of installments"
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $('Set to').item.json.currentDate }}",
        "timeUnit": "weeks",
        "duration": 1,
        "outputFieldName": "dateFrom",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -48,
        -112
      ],
      "id": "dbeeb5fa-9857-4ba5-8513-a55dd979dd46",
      "name": "Set from"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -272,
        -112
      ],
      "id": "66cf4087-4f5d-4e1c-9c53-bbc7fa108930",
      "name": "Set to"
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-21T16:14:00.375Z",
      "createdAt": "2025-10-21T16:14:00.375Z",
      "role": "workflow:owner",
      "workflowId": "I41ZpinEMacXMlU4",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-10T20:55:45.838Z",
  "versionId": "dbb9a580-19f5-47f9-bcce-88ac659800d0"
}