Development/Set expired contracts to DROPPED.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch not expired contracts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch not expired contracts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Fetch envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has contract expired?": {
      "main": [
        [
          {
            "node": "Set fields to be updated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields to be updated": {
      "main": [
        [
          {
            "node": "Update contract row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update contract row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch envelope": {
      "main": [
        [
          {
            "node": "Has contract expired?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-16T15:48:57.149Z",
  "id": "4f0r8l4cPuZwehwa",
  "isArchived": true,
  "isProd": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Set expired contracts to DROPPED",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        32
      ],
      "id": "60ebfed3-6930-472f-a977-f1cd6449abfa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ContractId, EnvelopeId FROM MtkContract.dbo.CtrContracts\nWHERE Status NOT IN ('DROPPED', 'SIGNED')\n  AND EnvelopeId IS NOT NULL"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -32,
        32
      ],
      "id": "ec26109a-fdcc-4e0f-bb4d-f09ce7bac6bb",
      "name": "Fetch not expired contracts",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        32
      ],
      "id": "2de84c3e-9849-48df-9c63-0d30c948cace",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cfb77a61-b0e2-4e10-aea9-4455d0352aa2",
              "leftValue": "={{ $json.data.attributes.deadline_at.toDateTime() <= DateTime.now() }}",
              "rightValue": "deadline",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        -112
      ],
      "id": "10d79c15-0bd4-49cf-b1f0-53706ae0dbd4",
      "name": "Has contract expired?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d278cd9-dbbc-4d34-b5d0-d0428282c1dc",
              "name": "ContractId",
              "value": "={{ $('Loop Over Items').item.json.ContractId }}",
              "type": "number"
            },
            {
              "id": "9e3d4be2-4293-466e-b8b1-a0f813337801",
              "name": "Status",
              "value": "DROPPED",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -112
      ],
      "id": "093ba6c3-01e0-4d85-a036-f885eff92fba",
      "name": "Set fields to be updated"
    },
    {
      "parameters": {
        "operation": "update",
        "table": "[MtkContract].[dbo].[CtrContracts]",
        "updateKey": "ContractId",
        "columns": "Status"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1088,
        -48
      ],
      "id": "407b2f9e-1cf6-4724-890c-8379e35edd47",
      "name": "Update contract row",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://app.clicksign.com/api/v3/envelopes/{{ $json.EnvelopeId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        -112
      ],
      "id": "1d227baf-2587-435a-99a8-a059d19203d4",
      "name": "Fetch envelope",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AxXDAhJWttDOmF4p",
          "name": "Clicksign API"
        }
      }
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-16T15:48:57.149Z",
      "createdAt": "2026-01-16T15:48:57.149Z",
      "role": "workflow:owner",
      "workflowId": "4f0r8l4cPuZwehwa",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-22T12:50:15.374Z",
  "versionId": "6a800d48-ad5f-4293-aaba-8fe5bc8f75f2"
}