Development/teste_notifica_novos_parceiros_wapp.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-14T20:12:50.922Z",
  "id": "y3p65pTatvyTL4pV",
  "isArchived": false,
  "isProd": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "teste_notifica_novos_parceiros_wapp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "43ac5d81-fc3a-46ae-a340-67cde1bc0727",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -176,
        0
      ],
      "id": "744527ee-a1d2-457a-9087-623764f23165",
      "name": "Webhook",
      "webhookId": "43ac5d81-fc3a-46ae-a340-67cde1bc0727"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8fd48704-ef47-4514-9b96-52f64aa4bd21",
              "name": "body.id",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "2ed110c3-af61-47d0-a597-1708c383271b",
              "name": "body.msg",
              "value": "={{ $json.body.msg }}",
              "type": "string"
            },
            {
              "id": "7410eb70-58c2-41dc-85da-6d67766f6eaa",
              "name": "body.obs",
              "value": "={{ $json.body.obs }}",
              "type": "string"
            },
            {
              "id": "f9c94d5f-5877-44a6-bf1a-6cc0c60b31e0",
              "name": "body.PhoneNumber",
              "value": "={{ $json.body.PhoneNumber }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        0
      ],
      "id": "8690cce7-de95-46ed-af5c-73dd0deadaf6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $env.FABIO_URL }}/evolution-api/label/findLabels/vanescola_support",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "evolutionApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        -224
      ],
      "id": "03ae8547-af83-4ded-9bee-605f8f433347",
      "name": "Fetch labels",
      "credentials": {
        "evolutionApi": {
          "id": "JasOokgkfQnZ96h2",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -224
      ],
      "id": "2460d080-7788-4a46-9343-9ae869503fb8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jlLb6Przi1lyPt5o",
          "mode": "list",
          "cachedResultUrl": "/workflow/jlLb6Przi1lyPt5o",
          "cachedResultName": "WhatsApp message sender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evolutionInstanceName": "={{ $json.body.PhoneNumber }}",
            "phoneNumber": "={{ $json.body.PhoneNumber }}",
            "message": "=Você digitou: {{ $json.body.msg }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "evolutionInstanceName",
              "displayName": "evolutionInstanceName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        272,
        0
      ],
      "id": "edc3375d-083c-4d7c-b8a9-b000c94d53db",
      "name": "Send message"
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-07-14T20:12:50.922Z",
      "createdAt": "2025-07-14T20:12:50.922Z",
      "role": "workflow:owner",
      "workflowId": "y3p65pTatvyTL4pV",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-13T15:31:07.587Z",
  "versionId": "1198aa47-20a2-4b80-b215-ab5719fdf78f"
}