Development/Tracker SMS tester.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-27T16:50:56.963Z",
    "createdAt": "2025-11-27T16:50:56.963Z",
    "versionId": "3772be27-2a0b-43f8-a7bd-274ee0c6462f",
    "workflowId": "3IZzgHVS3XeOo5yh",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "trackerId",
                "type": "number"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          352
        ],
        "id": "836d0f7d-2190-4873-9a62-2f8ff71a1d14",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.smsmarket.com.br/webservice-rest/send-single",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "type",
                "value": "0"
              },
              {
                "name": "number",
                "value": "={{ $json.PhoneNumber }}"
              },
              {
                "name": "content",
                "value": "PING!"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          672,
          232
        ],
        "id": "953ab0fd-8031-4ec6-9772-3332ec9df686",
        "name": "Send SMS",
        "credentials": {
          "httpBasicAuth": {
            "id": "25o54kG74LBJNe8x",
            "name": "SMS Market"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT PhoneNumber FROM Mobiltracker.dbo.Trackers\n  WHERE TrackerId = {{ $json.trackerId }}"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          224,
          352
        ],
        "id": "4ea9b09f-9ef8-41d8-91e4-532767380232",
        "name": "Fetch phone number for SMS",
        "alwaysOutputData": true,
        "credentials": {
          "microsoftSql": {
            "id": "q8QnAyDOfZ8HwqL2",
            "name": "SQLServer account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "amount": 30
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1120,
          232
        ],
        "id": "518be3a7-4c24-4b44-a995-daff4b05bf50",
        "name": "Wait",
        "webhookId": "df9bbd95-ef75-4709-b418-03f29c2953d4"
      },
      {
        "parameters": {
          "url": "https://api.smsmarket.com.br/webservice-rest/mt_id",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "id",
                "value": "={{ $('Send SMS').item.json.id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1344,
          40
        ],
        "id": "98045b9c-e101-4aa1-9b15-df25aff6c87b",
        "name": "Retrieve SMS status",
        "credentials": {
          "httpBasicAuth": {
            "id": "25o54kG74LBJNe8x",
            "name": "SMS Market"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8124ecd0-40a2-4b5b-8769-2a8bd5874fd9",
                "name": "before",
                "value": "={{ new Date().getTime() }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          896,
          232
        ],
        "id": "6afc7f2c-5659-4d68-9ecf-f8b53b6bf928",
        "name": "Set current time"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7276acf2-7fb8-4c02-9ee3-b5200fe0b514",
                "leftValue": "={{ new Date().getTime() - $('Set current time').item.json.before }}",
                "rightValue": "={{ 5 * 60 * 1000 }}",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1792,
          112
        ],
        "id": "69657202-bb00-41c4-92eb-b222ee45f636",
        "name": "Has the operation timed out?"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.success }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      },
                      "id": "7a2becb5-7cf6-4748-9080-4001fdad6a0a"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Failed"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "716b6e40-2b8c-468a-8cf9-6eee5863ffff",
                      "leftValue": "={{ $json.messages[0].status }}",
                      "rightValue": "0",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Received to operator"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "b83d3b59-bcd2-4977-8ab4-8cafc8fc31de",
                      "leftValue": "={{ $json.messages[0].status }}",
                      "rightValue": "1",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "=Success"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "4a0a29bd-2329-4008-b488-0afc56862874",
                      "leftValue": "={{ $json.messages[0].status }}",
                      "rightValue": "3",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Preparing message"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "5fd5cf12-f547-4162-8011-baaf9c7db468",
                      "leftValue": "={{ $json.messages[0].status }}",
                      "rightValue": "-1",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Message queued"
              }
            ]
          },
          "options": {
            "fallbackOutput": 0
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1568,
          -8
        ],
        "id": "7fad2535-f4e3-4456-a048-5b8c4d1a9edf",
        "name": "Route based on SMS result"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT Email FROM Mobiltracker.dbo.Trackers\n  JOIN Mobiltracker.dbo.Memberships\n    ON Memberships.UserId = Trackers.UserId\nWHERE Trackers.TrackerId = {{ $('When Executed by Another Workflow').item.json.trackerId }}"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          2016,
          184
        ],
        "id": "97cc26f3-5d70-4808-a470-cbec95740074",
        "name": "Set user e-mail for SMS fail",
        "credentials": {
          "microsoftSql": {
            "id": "q8QnAyDOfZ8HwqL2",
            "name": "SQLServer account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "86bcfdb8-4217-4fdc-be19-80f42157b901",
                "name": "response",
                "value": "=Realizei os testes de SMS, mas eles não foram entregues. O rastreador não está conectado na rede de telefonia do seu chip.\nHá alguns motivos para isso ocorrer:\n    1. A região pode estar sem sinal da operadora.\n    2. O rastreador pode estar desligado ou travado.\n    3. O chip pode estar desativado ou com defeito.\n    4. O que você pode fazer:\n        a. Retifique-se de que o rastreador encontra-se ligado.\n        b. Se puder, teste com outro chip que esteja funcionando.\n        c. Fale com o fornecedor do chip para confirmar se está tudo certo com ele.\n\nCaso queira, assista a este vídeo para tentar identificar por si o problema com o rastreador: https://youtu.be/O7ng8lKIyxw\n\nParece que não consigo fazer mais do que isso. Caso não tenha resolvido seu problema, entre em contato com o suporte humano: 👉 {{ \n'https://wa.me/555181860143?text=' + encodeURIComponent(\n'Olá, Preciso de ajuda com o meu rastreador: [' + $('Set user e-mail for SMS fail').item.json.Email + '][' + $('When Executed by Another Workflow').item.json.trackerId + '][SMSNE]'\n)\n}}\n\nNão altere a mensagem, ela nos ajuda a resolver o seu problema.\nAté já! Agradecemos pelo contato e estamos sempre à disposição. 😉",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2240,
          184
        ],
        "id": "b01acdf1-a44e-44ef-bcca-8bbb8de6a641",
        "name": "Set failure message"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "227bc728-9b71-4a05-ba76-976c336a35b1",
                "name": "status",
                "value": "Recebimento de SMS verificado com sucesso. O rastreador está conectado à rede de telefonia.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1792,
          -80
        ],
        "id": "720614ed-d773-4673-94de-97ca477b0eea",
        "name": "Set success message"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f2a36f7b-d908-4389-a7a6-c2b5569a488b",
                "name": "error",
                "value": "Failed to fetch data. Please make sure you provided a valid tracker ID (bigint).",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          672,
          448
        ],
        "id": "c5b8e849-7967-4e1d-8a8b-d4716507b4f6",
        "name": "Set error message"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "546c1cbf-c889-4035-98fd-30bcbd2f429f",
                "leftValue": "={{ $json.isNotEmpty() }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          448,
          280
        ],
        "id": "9fd6cc9a-619b-4a34-bfb2-84e173a17f60",
        "name": "Was there a response?"
      }
    ],
    "connections": {
      "Send SMS": {
        "main": [
          [
            {
              "node": "Set current time",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch phone number for SMS": {
        "main": [
          [
            {
              "node": "Was there a response?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Retrieve SMS status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve SMS status": {
        "main": [
          [
            {
              "node": "Route based on SMS result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set current time": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has the operation timed out?": {
        "main": [
          [
            {
              "node": "Set user e-mail for SMS fail",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route based on SMS result": {
        "main": [
          [
            {
              "node": "Set user e-mail for SMS fail",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Has the operation timed out?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set success message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Has the operation timed out?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Has the operation timed out?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Fetch phone number for SMS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set user e-mail for SMS fail": {
        "main": [
          [
            {
              "node": "Set failure message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Was there a response?": {
        "main": [
          [
            {
              "node": "Send SMS",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "3772be27-2a0b-43f8-a7bd-274ee0c6462f",
  "connections": {
    "Send SMS": {
      "main": [
        [
          {
            "node": "Set current time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch phone number for SMS": {
      "main": [
        [
          {
            "node": "Was there a response?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Retrieve SMS status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve SMS status": {
      "main": [
        [
          {
            "node": "Route based on SMS result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set current time": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has the operation timed out?": {
      "main": [
        [
          {
            "node": "Set user e-mail for SMS fail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route based on SMS result": {
      "main": [
        [
          {
            "node": "Set user e-mail for SMS fail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has the operation timed out?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set success message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has the operation timed out?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has the operation timed out?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Fetch phone number for SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set user e-mail for SMS fail": {
      "main": [
        [
          {
            "node": "Set failure message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was there a response?": {
      "main": [
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-16T20:26:01.985Z",
  "id": "3IZzgHVS3XeOo5yh",
  "isArchived": false,
  "isProd": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Tracker SMS tester",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "trackerId",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        352
      ],
      "id": "836d0f7d-2190-4873-9a62-2f8ff71a1d14",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.smsmarket.com.br/webservice-rest/send-single",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "0"
            },
            {
              "name": "number",
              "value": "={{ $json.PhoneNumber }}"
            },
            {
              "name": "content",
              "value": "PING!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        232
      ],
      "id": "953ab0fd-8031-4ec6-9772-3332ec9df686",
      "name": "Send SMS",
      "credentials": {
        "httpBasicAuth": {
          "id": "25o54kG74LBJNe8x",
          "name": "SMS Market"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT PhoneNumber FROM Mobiltracker.dbo.Trackers\n  WHERE TrackerId = {{ $json.trackerId }}"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        224,
        352
      ],
      "id": "4ea9b09f-9ef8-41d8-91e4-532767380232",
      "name": "Fetch phone number for SMS",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        232
      ],
      "id": "518be3a7-4c24-4b44-a995-daff4b05bf50",
      "name": "Wait",
      "webhookId": "df9bbd95-ef75-4709-b418-03f29c2953d4"
    },
    {
      "parameters": {
        "url": "https://api.smsmarket.com.br/webservice-rest/mt_id",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $('Send SMS').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        40
      ],
      "id": "98045b9c-e101-4aa1-9b15-df25aff6c87b",
      "name": "Retrieve SMS status",
      "credentials": {
        "httpBasicAuth": {
          "id": "25o54kG74LBJNe8x",
          "name": "SMS Market"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8124ecd0-40a2-4b5b-8769-2a8bd5874fd9",
              "name": "before",
              "value": "={{ new Date().getTime() }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        232
      ],
      "id": "6afc7f2c-5659-4d68-9ecf-f8b53b6bf928",
      "name": "Set current time"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7276acf2-7fb8-4c02-9ee3-b5200fe0b514",
              "leftValue": "={{ new Date().getTime() - $('Set current time').item.json.before }}",
              "rightValue": "={{ 5 * 60 * 1000 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        112
      ],
      "id": "69657202-bb00-41c4-92eb-b222ee45f636",
      "name": "Has the operation timed out?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.success }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "7a2becb5-7cf6-4748-9080-4001fdad6a0a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "716b6e40-2b8c-468a-8cf9-6eee5863ffff",
                    "leftValue": "={{ $json.messages[0].status }}",
                    "rightValue": "0",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Received to operator"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b83d3b59-bcd2-4977-8ab4-8cafc8fc31de",
                    "leftValue": "={{ $json.messages[0].status }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4a0a29bd-2329-4008-b488-0afc56862874",
                    "leftValue": "={{ $json.messages[0].status }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Preparing message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5fd5cf12-f547-4162-8011-baaf9c7db468",
                    "leftValue": "={{ $json.messages[0].status }}",
                    "rightValue": "-1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Message queued"
            }
          ]
        },
        "options": {
          "fallbackOutput": 0
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1568,
        -8
      ],
      "id": "7fad2535-f4e3-4456-a048-5b8c4d1a9edf",
      "name": "Route based on SMS result"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT Email FROM Mobiltracker.dbo.Trackers\n  JOIN Mobiltracker.dbo.Memberships\n    ON Memberships.UserId = Trackers.UserId\nWHERE Trackers.TrackerId = {{ $('When Executed by Another Workflow').item.json.trackerId }}"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        2016,
        184
      ],
      "id": "97cc26f3-5d70-4808-a470-cbec95740074",
      "name": "Set user e-mail for SMS fail",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86bcfdb8-4217-4fdc-be19-80f42157b901",
              "name": "response",
              "value": "=Realizei os testes de SMS, mas eles não foram entregues. O rastreador não está conectado na rede de telefonia do seu chip.\nHá alguns motivos para isso ocorrer:\n    1. A região pode estar sem sinal da operadora.\n    2. O rastreador pode estar desligado ou travado.\n    3. O chip pode estar desativado ou com defeito.\n    4. O que você pode fazer:\n        a. Retifique-se de que o rastreador encontra-se ligado.\n        b. Se puder, teste com outro chip que esteja funcionando.\n        c. Fale com o fornecedor do chip para confirmar se está tudo certo com ele.\n\nCaso queira, assista a este vídeo para tentar identificar por si o problema com o rastreador: https://youtu.be/O7ng8lKIyxw\n\nParece que não consigo fazer mais do que isso. Caso não tenha resolvido seu problema, entre em contato com o suporte humano: 👉 {{ \n'https://wa.me/555181860143?text=' + encodeURIComponent(\n'Olá, Preciso de ajuda com o meu rastreador: [' + $('Set user e-mail for SMS fail').item.json.Email + '][' + $('When Executed by Another Workflow').item.json.trackerId + '][SMSNE]'\n)\n}}\n\nNão altere a mensagem, ela nos ajuda a resolver o seu problema.\nAté já! Agradecemos pelo contato e estamos sempre à disposição. 😉",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        184
      ],
      "id": "b01acdf1-a44e-44ef-bcca-8bbb8de6a641",
      "name": "Set failure message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "227bc728-9b71-4a05-ba76-976c336a35b1",
              "name": "status",
              "value": "Recebimento de SMS verificado com sucesso. O rastreador está conectado à rede de telefonia.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        -80
      ],
      "id": "720614ed-d773-4673-94de-97ca477b0eea",
      "name": "Set success message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2a36f7b-d908-4389-a7a6-c2b5569a488b",
              "name": "error",
              "value": "Failed to fetch data. Please make sure you provided a valid tracker ID (bigint).",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        448
      ],
      "id": "c5b8e849-7967-4e1d-8a8b-d4716507b4f6",
      "name": "Set error message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "546c1cbf-c889-4035-98fd-30bcbd2f429f",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        280
      ],
      "id": "9fd6cc9a-619b-4a34-bfb2-84e173a17f60",
      "name": "Was there a response?"
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-16T20:26:01.985Z",
      "createdAt": "2025-09-16T20:26:01.985Z",
      "role": "workflow:owner",
      "workflowId": "3IZzgHVS3XeOo5yh",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-09T17:01:59.510Z",
  "versionId": "3772be27-2a0b-43f8-a7bd-274ee0c6462f"
}