Development/Tracker by IMEI fetcher.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-27T16:50:56.963Z",
    "createdAt": "2025-11-27T16:50:56.963Z",
    "versionId": "95598ecf-3520-41dd-a922-9578872e5222",
    "workflowId": "R8WY1Z5MnAIhQeDT",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "imei"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          -88
        ],
        "id": "292e649f-ef45-4bbd-b4b8-f59d437b4ddf",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT TrackerId, Name FROM Mobiltracker.dbo.Trackers\n  WHERE IMEI = '{{ $json.imei }}'\n    OR IMEI_11 = '{{ $json.imei }}'"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          224,
          -88
        ],
        "id": "6a2f0936-6dd5-4617-9f82-e02ebd4ea76f",
        "name": "Fetch tracker by IMEI",
        "alwaysOutputData": true,
        "credentials": {
          "microsoftSql": {
            "id": "q8QnAyDOfZ8HwqL2",
            "name": "SQLServer account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d32b7703-b21e-476c-9647-a028f3cedebc",
                "name": "error",
                "value": "Failed to retrieve tracker data. Please make sure you provided a valid IMEI (11 or 15-digit number).",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          672,
          -88
        ],
        "id": "14073dc3-5a07-478c-963e-b10e0018f379",
        "name": "Set error message"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c3391c0d-645c-483d-91ea-ecd85b263d93",
                "leftValue": "={{ $json.isNotEmpty() }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          448,
          -160
        ],
        "id": "156e0e4f-2d85-4faa-b919-d59ac8cd3dfb",
        "name": "Was it successful?"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Fetch tracker by IMEI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch tracker by IMEI": {
        "main": [
          [
            {
              "node": "Was it successful?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Was it successful?": {
        "main": [
          [],
          [
            {
              "node": "Set error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "95598ecf-3520-41dd-a922-9578872e5222",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Fetch tracker by IMEI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch tracker by IMEI": {
      "main": [
        [
          {
            "node": "Was it successful?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was it successful?": {
      "main": [
        [],
        [
          {
            "node": "Set error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-22T21:14:20.242Z",
  "id": "R8WY1Z5MnAIhQeDT",
  "isArchived": false,
  "isProd": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Tracker by IMEI fetcher",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "imei"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -88
      ],
      "id": "292e649f-ef45-4bbd-b4b8-f59d437b4ddf",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT TrackerId, Name FROM Mobiltracker.dbo.Trackers\n  WHERE IMEI = '{{ $json.imei }}'\n    OR IMEI_11 = '{{ $json.imei }}'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        224,
        -88
      ],
      "id": "6a2f0936-6dd5-4617-9f82-e02ebd4ea76f",
      "name": "Fetch tracker by IMEI",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d32b7703-b21e-476c-9647-a028f3cedebc",
              "name": "error",
              "value": "Failed to retrieve tracker data. Please make sure you provided a valid IMEI (11 or 15-digit number).",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -88
      ],
      "id": "14073dc3-5a07-478c-963e-b10e0018f379",
      "name": "Set error message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3391c0d-645c-483d-91ea-ecd85b263d93",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -160
      ],
      "id": "156e0e4f-2d85-4faa-b919-d59ac8cd3dfb",
      "name": "Was it successful?"
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-22T21:14:20.242Z",
      "createdAt": "2025-09-22T21:14:20.242Z",
      "role": "workflow:owner",
      "workflowId": "R8WY1Z5MnAIhQeDT",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-09T14:40:37.261Z",
  "versionId": "95598ecf-3520-41dd-a922-9578872e5222"
}