Development/Valid subscription checker.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Get all customers": {
      "main": [
        [
          {
            "node": "Loop over customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over customers": {
      "main": [
        [],
        [
          {
            "node": "Get customer's subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get customer's subscriptions": {
      "main": [
        [
          {
            "node": "Get driver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get driver": {
      "main": [
        [
          {
            "node": "Is there a driver?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get saas subscription": {
      "main": [
        [
          {
            "node": "Is there a saas subscription?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set current subscription": {
      "main": [
        [
          {
            "node": "Is the current subscription not active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is the current subscription not active?": {
      "main": [
        [
          {
            "node": "Set valid subscription",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop over customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add five days to due date": {
      "main": [
        [
          {
            "node": "Set fields to be updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields to be updated": {
      "main": [
        [
          {
            "node": "Update document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update document": {
      "main": [
        [
          {
            "node": "Loop over customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set valid subscription": {
      "main": [
        [
          {
            "node": "Is new subscription valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is new subscription valid?": {
      "main": [
        [
          {
            "node": "Add five days to due date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop over customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is there a driver?": {
      "main": [
        [
          {
            "node": "Get saas subscription",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop over customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is there a saas subscription?": {
      "main": [
        [
          {
            "node": "Set current subscription",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop over customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get all customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-03T18:13:01.457Z",
  "id": "bbQdXVPCavXPJVwK",
  "isArchived": false,
  "isProd": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Valid subscription checker",
  "nodes": [
    {
      "parameters": {
        "resource": "customer",
        "operation": "getAll",
        "returnAll": true,
        "filters": {}
      },
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [
        112,
        32
      ],
      "id": "32f8b8fe-5971-4f35-b994-532de39a4bd4",
      "name": "Get all customers",
      "credentials": {
        "stripeApi": {
          "id": "jiWINJh4psKsBV0A",
          "name": "MTK Stripe"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.stripe.com/v1/subscriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer",
              "value": "={{ $json.id }}"
            },
            {
              "name": "status",
              "value": "all"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -256
      ],
      "id": "626fdd5e-4f1e-40bf-a711-eaf69d27da96",
      "name": "Get customer's subscriptions",
      "credentials": {
        "stripeApi": {
          "id": "jiWINJh4psKsBV0A",
          "name": "MTK Stripe"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        32
      ],
      "id": "6385d1cb-79ab-42df-bff0-e60f12b25fec",
      "name": "Loop over customers"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "query",
        "projectId": "parents-poc-app-jc45n7",
        "query": "={\n  \"structuredQuery\": {\n    \"from\": [\n      {\n        \"collectionId\": \"drivers\"\n      }\n    ],\n    \"where\": {\n      \"fieldFilter\": {\n        \"field\": {\n          \"fieldPath\": \"external_references.stripe_customer_id\"\n        },\n        \"op\": \"EQUAL\",\n        \"value\": {\n          \"stringValue\": {{ $('Loop over customers').item.json.id.toJsonString() }}\n        }\n      }\n    }\n  }\n}",
        "simple": false
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        784,
        -256
      ],
      "id": "13375b81-73e4-4340-ba97-3e6f0a339954",
      "name": "Get driver",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "Z0IQAyI3uZ3a8hmL",
          "name": "ViaVan Firestore"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "query",
        "projectId": "parents-poc-app-jc45n7",
        "query": "={\n  \"structuredQuery\": {\n    \"select\": {\n      \"fields\": [\n        {\n          \"fieldPath\": \"external_id\"\n        },\n        {\n          \"fieldPath\": \"status\"\n        }\n      ]\n    },\n    \"from\": [\n      {\n        \"collectionId\": \"saas_subscriptions\"\n      }\n    ],\n    \"where\": {\n      \"compositeFilter\": {\n        \"op\": \"AND\",\n        \"filters\": [\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"status\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"stringValue\": \"active\"\n              }\n            }\n          },\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"driver\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"referenceValue\": {{ $json.document.name.toJsonString() }}\n              }\n            }\n          }\n        ]\n      }\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        1232,
        -256
      ],
      "id": "8b1891ee-e200-4a6a-8416-784ff8c112e5",
      "name": "Get saas subscription",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "Z0IQAyI3uZ3a8hmL",
          "name": "ViaVan Firestore"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f165428f-085f-48ef-8ec4-182fe97a1c11",
              "name": "currentSubscription",
              "value": "={{ $('Get customer\\'s subscriptions').item.json.data.find(s => s.id === $json.external_id) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        -256
      ],
      "id": "cea403df-d37b-4c6d-9b01-0da7e24b24a6",
      "name": "Set current subscription"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4838bf41-57bf-4583-ae52-df6d07acac67",
              "leftValue": "={{ $json.currentSubscription.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1904,
        -256
      ],
      "id": "4a86d3e7-031c-459d-b9ae-8809f14ce65f",
      "name": "Is the current subscription not active?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"external_id\": {{ $('Is new subscription valid?').item.json.newSubscription.id.toJsonString() }},\n  \"due_at\": {{ $json.dueDate.toJsonString() }},\n  \"document_id\": {{ $('Get saas subscription').item.json._id.toJsonString() }},\n  \"item\": {\n    \"id\": {{ $('Is new subscription valid?').item.json.newSubscription.items.data[0].id.toJsonString() }},\n    \"plan\": {\n      \"id\": {{ $('Is new subscription valid?').item.json.newSubscription.items.data[0].price.id.toJsonString() }},\n      \"metadata\": {\n        \"price_category\": \"standard\"\n      }\n    },\n    \"seats\": {{ $('Is new subscription valid?').item.json.newSubscription.items.data[0].quantity }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2800,
        -256
      ],
      "id": "9b7769ba-fe07-42bc-b37e-b6a38dcb5c4f",
      "name": "Set fields to be updated"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ new Date($json.currentSubscription.items.data[0].current_period_end * 1000) }}",
        "duration": 5,
        "outputFieldName": "dueDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2576,
        -256
      ],
      "id": "424e9d12-aa29-4613-85a7-af2685728deb",
      "name": "Add five days to due date"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "parents-poc-app-jc45n7",
        "collection": "saas_subscriptions",
        "updateKey": "document_id",
        "columns": "external_id, due_at, item"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        3024,
        -184
      ],
      "id": "dc56bd43-16d9-427e-957c-b52df4bf882d",
      "name": "Update document",
      "credentials": {
        "googleApi": {
          "id": "Z0IQAyI3uZ3a8hmL",
          "name": "ViaVan Firestore"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "234c4472-086c-492c-9a89-56520a03e4fd",
              "name": "newSubscription",
              "value": "={{ $('Get customer\\'s subscriptions').item.json.data.find(s => s.status === \"active\") }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        -256
      ],
      "id": "820cb2ee-691d-4995-9007-205e83efd330",
      "name": "Set valid subscription"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0ccc032-60ce-4a0e-ab28-8518cbdd1f78",
              "leftValue": "={{ !!$json.newSubscription }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2352,
        -256
      ],
      "id": "85d92d3d-bce8-489d-964c-8b2c87b1f8b6",
      "name": "Is new subscription valid?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ba51b410-ef1b-47d4-8522-0f9cd688a62d",
              "leftValue": "={{ !!$json.document }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        -256
      ],
      "id": "e263c0a7-b687-4b71-8a1b-4af3e2701c79",
      "name": "Is there a driver?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d4590cad-b626-4cbb-aacc-a01a83c64340",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1456,
        -256
      ],
      "id": "09f26048-d20b-4bf7-9ecf-32fbc0792304",
      "name": "Is there a saas subscription?"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        32
      ],
      "id": "b6e2f772-ea11-464b-bad1-b5eecd05935a",
      "name": "Schedule Trigger"
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-03T18:13:01.457Z",
      "createdAt": "2025-10-03T18:13:01.457Z",
      "role": "workflow:owner",
      "workflowId": "bbQdXVPCavXPJVwK",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-03T21:09:25.098Z",
  "versionId": "c0561fc3-319d-4b9d-979d-9bf5e5f93454"
}