Development/WhatsApp partner sender by category.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Route based on category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route based on category": {
      "main": [
        [
          {
            "node": "Set message for first category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set message for second category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set message for third category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set message for fourth category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set message for fifth category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set message for sixth category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set message for seventh category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set message for eigth category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set message for ninth category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set message for tenth category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message for second category": {
      "main": [
        [
          {
            "node": "Set e-mail addresses and message to be sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message for third category": {
      "main": [
        [
          {
            "node": "Set e-mail addresses and message to be sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message for fourth category": {
      "main": [
        [
          {
            "node": "Set e-mail addresses and message to be sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message for fifth category": {
      "main": [
        [
          {
            "node": "Set e-mail addresses and message to be sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message for sixth category": {
      "main": [
        [
          {
            "node": "Set e-mail addresses and message to be sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message for first category": {
      "main": [
        [
          {
            "node": "Set e-mail addresses and message to be sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message for seventh category": {
      "main": [
        [
          {
            "node": "Set e-mail addresses and message to be sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message for eigth category": {
      "main": [
        [
          {
            "node": "Set e-mail addresses and message to be sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message for ninth category": {
      "main": [
        [
          {
            "node": "Set e-mail addresses and message to be sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message for tenth category": {
      "main": [
        [
          {
            "node": "Set e-mail addresses and message to be sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch partner's phone number": {
      "main": [
        [
          {
            "node": "Clear invalid partners",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop over partners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields to be inserted in DB": {
      "main": [
        [
          {
            "node": "Create message row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set e-mail addresses and message to be sent": {
      "main": [
        [
          {
            "node": "Fetch partner's phone number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route based on phone number format": {
      "main": [
        [
          {
            "node": "Set fields to be inserted in DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add one '9' to phone number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append invalid partner to static data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add one '9' to phone number": {
      "main": [
        [
          {
            "node": "Set fields to be inserted in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over partners": {
      "main": [
        [
          {
            "node": "Fetch invalid partners",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route based on phone number format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create message row": {
      "main": [
        [
          {
            "node": "Loop over partners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch invalid partners": {
      "main": [
        [
          {
            "node": "Finish process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append invalid partner to static data": {
      "main": [
        [
          {
            "node": "Loop over partners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear invalid partners": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-10-17T13:44:14.220Z",
  "id": "UeRICHmZQx55xCAG",
  "isArchived": false,
  "isProd": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "WhatsApp partner sender by category",
  "nodes": [
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Envio de etapa a parceiros",
        "formDescription": "Insira os parceiros e selecione a etapa para enviar as mensagens correspondentes.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "E-mails",
              "placeholder": "Insira aqui os e-mails dos parceiros separados por vírgula",
              "requiredField": true
            },
            {
              "fieldLabel": "Categoria",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1"
                  },
                  {
                    "option": "2"
                  },
                  {
                    "option": "3"
                  },
                  {
                    "option": "4"
                  },
                  {
                    "option": "5"
                  },
                  {
                    "option": "6"
                  },
                  {
                    "option": "7"
                  },
                  {
                    "option": "8"
                  },
                  {
                    "option": "9"
                  },
                  {
                    "option": "10"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -416,
        704
      ],
      "id": "23784598-2f7f-481b-9be0-10c26501e9a8",
      "name": "On form submission",
      "webhookId": "1dd6d112-59b8-456a-9db3-78366ff0d81d",
      "credentials": {
        "httpBasicAuth": {
          "id": "oX6J1RdpqttuBfuf",
          "name": "n8n form credentials"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Categoria }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d6581f10-f8cf-47da-bf74-0fafac90a070"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "71aed1ae-bac9-49a7-898d-e09a0822ea4d",
                    "leftValue": "={{ $json.Categoria }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "575aa811-7474-4e91-8abb-c303d3d2baef",
                    "leftValue": "={{ $json.Categoria }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "19bd1d5c-bf09-4f82-8e8b-5bc5b17177b8",
                    "leftValue": "={{ $json.Categoria }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9821ae7d-7f57-44f4-a353-781e27b9e709",
                    "leftValue": "={{ $json.Categoria }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "5"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e539289e-8728-4ab6-aeae-e4c5cae3673e",
                    "leftValue": "={{ $json.Categoria }}",
                    "rightValue": "6",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "6"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "55e12409-d2a2-470f-b49e-00e5fb8b15c1",
                    "leftValue": "={{ $json.Categoria }}",
                    "rightValue": "7",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "7"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "33074ef5-dd08-45eb-8ac5-98f263da877c",
                    "leftValue": "={{ $json.Categoria }}",
                    "rightValue": "8",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "8"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "db0eb28e-5e37-48cb-981c-4e11085fe578",
                    "leftValue": "={{ $json.Categoria }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "9"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "54fecc24-db37-480a-b446-f1439eea6c77",
                    "leftValue": "={{ $json.Categoria }}",
                    "rightValue": "10",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -192,
        576
      ],
      "id": "5c20ff29-e7a1-4632-ba25-b037a67a9143",
      "name": "Route based on category"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ba5bee5-3b73-4f64-a426-16f1008a65b2",
              "name": "message",
              "value": "=Olá. Tudo Bem? Esse é o contato do Suporte de sua Plataforma Parceiros.\nAqui você pode tirar todos suas duvidas, seja bem vindo! ☺️\n\nVi que você ainda não cadastrou nenhum cliente na sua plataforma de parceiros.\nTemos um passo a passo simples e rápido para te ajudar a começar. 😊\nVocê está disponível agora para fazermos juntos esses primeiros passos?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -112
      ],
      "id": "857b689e-84fe-45fe-8be1-56777564d8f3",
      "name": "Set message for first category"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ba5bee5-3b73-4f64-a426-16f1008a65b2",
              "name": "message",
              "value": "=Boa tarde, vi que você ainda não cadastrou nenhum cliente, qual dia ou horário fica melhor para entrarmos em contato com você para lhe auxiliar com os seus primeiros passos na sua plataforma de parceiros? ☺️",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        80
      ],
      "id": "502b712c-35de-4119-b988-34ba9c36e6c5",
      "name": "Set message for second category"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ba5bee5-3b73-4f64-a426-16f1008a65b2",
              "name": "message",
              "value": "=Boa tarde, passando aqui novamente para te ajudar a começar com a plataforma de parceiros.\nAinda não vi nenhum cliente cadastrado por aqui. Posso te mostrar o passo a passo agora? É rapidinho! 😊",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        272
      ],
      "id": "488a708d-c795-417c-b4eb-5c4767cdb789",
      "name": "Set message for third category"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ba5bee5-3b73-4f64-a426-16f1008a65b2",
              "name": "message",
              "value": "=Boa tarde, vi em sua conta que você não possui um rastreador cadastrado.\nTemos um passo a passo simples e rápido para te ajudar a começar. 😊\nPosso lhe auxiliar na configuração do rastreador?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        464
      ],
      "id": "9f19290d-0f80-491c-9422-6aa1557106ee",
      "name": "Set message for fourth category"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ba5bee5-3b73-4f64-a426-16f1008a65b2",
              "name": "message",
              "value": "=Boa tarde, vi que você ainda não cadastrou nenhum rastreador, qual dia ou horário fica melhor para entrarmos em contato com você para lhe auxiliar com o cadastro de rastreador na sua plataforma de parceiros? ☺️",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        656
      ],
      "id": "a9414eee-697e-47ae-b7c5-2b87bf80aa36",
      "name": "Set message for fifth category"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ba5bee5-3b73-4f64-a426-16f1008a65b2",
              "name": "message",
              "value": "=Boa tarde, passando aqui novamente para te ajudar a começar com o cadastro do rastreador.  Ainda não vi nenhum rastreador cadastrado, você tem encontrado alguma dificuldade no processo?\nPosso te mostrar o passo a passo agora? É rapidinho! 😊",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        848
      ],
      "id": "53fe763e-5b30-4116-9e42-3ad0e2689f99",
      "name": "Set message for sixth category"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ba5bee5-3b73-4f64-a426-16f1008a65b2",
              "name": "message",
              "value": "=Boa tarde, vi em sua conta que você possui rastreador cadastrado mas ele ainda não foi configurado.\nTemos um passo a passo simples e rápido para te ajudar a começar. 😊\nPosso lhe auxiliar na configuração do rastreador?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        1040
      ],
      "id": "d46f5c70-4a6c-4dd8-a860-efd7c5fd7cff",
      "name": "Set message for seventh category"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ba5bee5-3b73-4f64-a426-16f1008a65b2",
              "name": "message",
              "value": "=Boa tarde, vi que você ainda não configurou nenhum rastreador, qual dia ou horário fica melhor para entrarmos em contato com você para lhe auxiliar com a configuração do rastreador? ☺️",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        1232
      ],
      "id": "0b9639a0-974e-494b-9c56-083b3f5b731b",
      "name": "Set message for eigth category"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ba5bee5-3b73-4f64-a426-16f1008a65b2",
              "name": "message",
              "value": "=Boa tarde, vi que você já está com rastreadores online na plataforma.\nComo está sendo sua experiência com a plataforma? 😊",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        1424
      ],
      "id": "ad175d81-b15e-4fd9-b57a-091ca9a1fa42",
      "name": "Set message for ninth category"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ba5bee5-3b73-4f64-a426-16f1008a65b2",
              "name": "message",
              "value": "=Boa tarde, passando para lhe informar que qualquer dúvida ou auxilio, me coloco a disposição para lhe auxiliar 😊.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        1616
      ],
      "id": "e2f32fde-c320-4333-b0e3-5a0a17d6e6f5",
      "name": "Set message for tenth category"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT Email, IIF(PhoneNumber IS NOT NULL, PhoneNumber, PhoneNumber2) as PhoneNumber\nFROM MobiltrackerPartner.dbo.Users\n         JOIN MobiltrackerPartner.dbo.Memberships ON Users.UserId = Memberships.UserId\nWHERE Email IN ({{ $json.addresses.map(address => `'${address}'`).join(\", \") }})"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        480,
        752
      ],
      "id": "2c8aedb5-9a56-4a6e-995e-57fd601488a4",
      "name": "Fetch partner's phone number",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "table": "[DEVOPS].[dbo].[NtfWhapN8nNotifications]",
        "columns": "Phone,Message,Channel"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1600,
        800
      ],
      "id": "576a73ec-2910-4f80-9024-ca5c363bc509",
      "name": "Create message row",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be04402e-07eb-440e-82d7-716642b0cc19",
              "name": "Phone",
              "value": "=+55{{ $json.PhoneNumber }}",
              "type": "string"
            },
            {
              "id": "d6d25997-fa37-43b6-9bf2-35b1d92ca769",
              "name": "Channel",
              "value": "partners_support",
              "type": "string"
            },
            {
              "id": "c37331ac-858e-4c3f-835d-907f6426b349",
              "name": "Message",
              "value": "={{ $('Set e-mail addresses and message to be sent').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        552
      ],
      "id": "5d624966-1e80-43ca-b5de-16a47635217b",
      "name": "Set fields to be inserted in DB"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6641b6ed-4a8c-41f8-a55e-a4c3c3868627",
              "name": "addresses",
              "value": "={{ $('On form submission').item.json['E-mails'].replaceAll(/\\s/g, \"\").split(\",\") }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "message",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        752
      ],
      "id": "6b49f90d-b3b4-4144-9812-19599d8bd344",
      "name": "Set e-mail addresses and message to be sent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.PhoneNumber.length }}",
                    "rightValue": 11,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "2df2adae-e87c-4a69-a7fb-ff469abd64c6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "857a3e18-8108-4e22-b995-39b766d19391",
                    "leftValue": "={{ $json.PhoneNumber.length }}",
                    "rightValue": 10,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Missing a '9'"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        928,
        608
      ],
      "id": "1c4e5eaf-4a05-4c9b-9cde-2cea148fa70a",
      "name": "Route based on phone number format"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a686fe3-d792-427b-851b-b779ef9f1410",
              "name": "PhoneNumber",
              "value": "={{ $json.PhoneNumber.substring(0, 2) }}9{{ $json.PhoneNumber.substring(2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        480
      ],
      "id": "dc616876-27f9-4b10-9f0b-765847ef11da",
      "name": "Add one '9' to phone number"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData(\"global\");\nif(!data.invalidPartners) {\n  data.invalidPartners = [];\n}\ndata.invalidPartners.push($('Fetch partner\\'s phone number').first().json.Email);\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        768
      ],
      "id": "599b211d-98a0-4d92-bf3b-8c63881d18bc",
      "name": "Append invalid partner to static data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        848
      ],
      "id": "c3761ca5-59e8-404f-8d71-fdebe940f8bc",
      "name": "Loop over partners"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Processo finalizado",
        "completionMessage": "={{ $json.invalidPartners.length > 0 ? `Parceiros com número de telefone inválido: ${$json.invalidPartners.join(\", \")}. Corrija-os e reinicie o processo. Os demais foram processados normalmente.` : \"Todos os parceiros foram processados com sucesso.\" }}",
        "limitWaitTime": true,
        "resumeAmount": 5,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        1152,
        968
      ],
      "id": "fe913c3e-bee5-483a-9c6c-dde1242b2e06",
      "name": "Finish process",
      "webhookId": "52088b58-506b-44dc-956c-9b1998adc5d2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $getWorkflowStaticData(\"global\");\nreturn { invalidPartners: data.invalidPartners ?? [] };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        968
      ],
      "id": "a9f36800-089a-47b2-bcc0-3ef2ba9250dc",
      "name": "Fetch invalid partners"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData(\"global\");\ndata.invalidPartners = [];\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        656
      ],
      "id": "12c359b5-1b4d-4886-852d-cb5e29ba18f4",
      "name": "Clear invalid partners",
      "alwaysOutputData": true
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-17T13:44:14.220Z",
      "createdAt": "2025-10-17T13:44:14.220Z",
      "role": "workflow:owner",
      "workflowId": "UeRICHmZQx55xCAG",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": {
    "global": {
      "invalidPartners": [
        "mobinho@mobiltracker.com.br"
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-24T12:02:23.341Z",
  "versionId": "b5662219-d363-4dbd-9a0a-9fd9ac2aa929"
}