2025/11/3T7kY5qO7FTP3V2U.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-04T20:44:02.188Z",
    "createdAt": "2025-12-04T20:44:02.188Z",
    "versionId": "cad3baae-bc39-4434-8a05-9a18a06b7fc2",
    "workflowId": "3T7kY5qO7FTP3V2U",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "phoneNumber"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "63427bb0-936b-4d90-8af1-e0343cb094e0",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT [OrganizationId], COALESCE([LegalName], [BillingEmail]) as businessName\n  FROM [MobiltrackerPartner].[dbo].[Organizations]\n WHERE [OrganizationId] in (SELECT [UserId] \n                              FROM [MobiltrackerPartner].[dbo].[Users] \n                             WHERE ([PhoneNumber] = '{{ $json.phoneNumber }}' \n                                OR [PhoneNumber2] = '{{ $json.phoneNumber }}'))\n--AND [AccountActivationStatus] = 'ACTIVE'"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          272,
          0
        ],
        "id": "6c4a05b8-b99c-40c0-8faa-e3704bcc06eb",
        "name": "Checking if is partner",
        "alwaysOutputData": true,
        "credentials": {
          "microsoftSql": {
            "id": "q8QnAyDOfZ8HwqL2",
            "name": "SQLServer account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b155d674-bd08-4323-baee-73224e485f43",
                "leftValue": "={{ $json.isNotEmpty() }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          528,
          -96
        ],
        "id": "e9e43610-2412-4f37-8df0-aa55535cc88c",
        "name": "Was response valid?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "aa22a805-2294-42b0-90cd-0201662a077f",
                "name": "warning",
                "value": "The user is not a partner, follow the normal customer configuration process",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          992,
          32
        ],
        "id": "b41da3d5-fdaf-4f77-b8ee-e1b8100bebba",
        "name": "User is not a partner"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3983108b-e1e8-4dd0-890f-10944c731e38",
                "name": "error",
                "value": "Failed to retrieve if customer is a partner. Please make sure you provided a valid 11-digit phone number.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          480,
          96
        ],
        "id": "f095351d-a820-42c6-aafe-c7611604432a",
        "name": "Wrong data provided"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "caf4f17c-9b1d-4481-a82a-0c50ff063ca8",
                "name": "OrganizationId",
                "value": "='{{ $json.OrganizationId }}'",
                "type": "string"
              },
              {
                "id": "e1edff30-1709-4dfc-9940-b0b11555a754",
                "name": "businessname",
                "value": "={{ $('Checking if is partner').item.json.businessName }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          736,
          -192
        ],
        "id": "f3551fc1-fc50-44ea-9b65-1953649cb37d",
        "name": "Format organizationId and businessName"
      }
    ],
    "connections": {
      "Checking if is partner": {
        "main": [
          [
            {
              "node": "Was response valid?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wrong data provided",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Checking if is partner",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Was response valid?": {
        "main": [
          [
            {
              "node": "Format organizationId and businessName",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "User is not a partner",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format organizationId and businessName": {
        "main": [
          []
        ]
      }
    },
    "authors": "Contato Mobiltracker",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "cad3baae-bc39-4434-8a05-9a18a06b7fc2",
  "connections": {
    "Checking if is partner": {
      "main": [
        [
          {
            "node": "Was response valid?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wrong data provided",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Checking if is partner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was response valid?": {
      "main": [
        [
          {
            "node": "Format organizationId and businessName",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "User is not a partner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format organizationId and businessName": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-11-25T19:12:52.238Z",
  "id": "3T7kY5qO7FTP3V2U",
  "isArchived": false,
  "meta": null,
  "name": "Checking if sender is partner",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "phoneNumber"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "63427bb0-936b-4d90-8af1-e0343cb094e0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT [OrganizationId], COALESCE([LegalName], [BillingEmail]) as businessName\n  FROM [MobiltrackerPartner].[dbo].[Organizations]\n WHERE [OrganizationId] in (SELECT [UserId] \n                              FROM [MobiltrackerPartner].[dbo].[Users] \n                             WHERE ([PhoneNumber] = '{{ $json.phoneNumber }}' \n                                OR [PhoneNumber2] = '{{ $json.phoneNumber }}'))\n--AND [AccountActivationStatus] = 'ACTIVE'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        272,
        0
      ],
      "id": "6c4a05b8-b99c-40c0-8faa-e3704bcc06eb",
      "name": "Checking if is partner",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b155d674-bd08-4323-baee-73224e485f43",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        -96
      ],
      "id": "e9e43610-2412-4f37-8df0-aa55535cc88c",
      "name": "Was response valid?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa22a805-2294-42b0-90cd-0201662a077f",
              "name": "warning",
              "value": "The user is not a partner, follow the normal customer configuration process",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        32
      ],
      "id": "b41da3d5-fdaf-4f77-b8ee-e1b8100bebba",
      "name": "User is not a partner"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3983108b-e1e8-4dd0-890f-10944c731e38",
              "name": "error",
              "value": "Failed to retrieve if customer is a partner. Please make sure you provided a valid 11-digit phone number.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        96
      ],
      "id": "f095351d-a820-42c6-aafe-c7611604432a",
      "name": "Wrong data provided"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "caf4f17c-9b1d-4481-a82a-0c50ff063ca8",
              "name": "OrganizationId",
              "value": "='{{ $json.OrganizationId }}'",
              "type": "string"
            },
            {
              "id": "e1edff30-1709-4dfc-9940-b0b11555a754",
              "name": "businessname",
              "value": "={{ $('Checking if is partner').item.json.businessName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -192
      ],
      "id": "f3551fc1-fc50-44ea-9b65-1953649cb37d",
      "name": "Format organizationId and businessName"
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-25T19:12:52.238Z",
      "createdAt": "2025-11-25T19:12:52.238Z",
      "role": "workflow:owner",
      "workflowId": "3T7kY5qO7FTP3V2U",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-04T20:44:02.183Z",
  "versionId": "cad3baae-bc39-4434-8a05-9a18a06b7fc2"
}