Production/[PRODUCTION] [PRODUCTION] Resumee seeker - Ef99OOHtdPlONzhp - Ef99OOHtdPlONzhp.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-09T17:24:04.548Z",
    "createdAt": "2026-06-09T17:24:04.548Z",
    "versionId": "2abc6920-6e73-43aa-8f78-4b2eedab67a9",
    "workflowId": "JLhCxHQq1kkDbAf2",
    "nodes": [
      {
        "parameters": {
          "authentication": "basicAuth",
          "formTitle": "Processador de currículos",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Seu nome",
                "placeholder": "João Silva",
                "requiredField": true
              },
              {
                "fieldLabel": "Para quê é esta vaga?",
                "fieldType": "textarea",
                "placeholder": "Estágio em UX. Procura-se um candidato com um portifólio organizado e consistente...",
                "requiredField": true
              },
              {
                "fieldLabel": "Início de recebimento dos currículos",
                "fieldType": "date",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          -18288,
          -3048
        ],
        "id": "1ec849ee-f6d4-4db9-8942-2d5742c23311",
        "name": "On form submission",
        "webhookId": "f9a219ec-2f35-44be-a7cd-58a0b8a5b914",
        "credentials": {
          "httpBasicAuth": {
            "id": "oX6J1RdpqttuBfuf",
            "name": "n8n form credentials"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "returnAll": true,
          "simple": false,
          "filters": {
            "labelIds": [
              "Label_244298310841452940"
            ],
            "q": "=!from:me -subject:(re OR fwd OR reply OR fw)",
            "readStatus": "unread",
            "receivedAfter": "={{ $('On form submission').item.json[\"Início de recebimento dos currículos\"] }}"
          },
          "options": {
            "downloadAttachments": true
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -15152,
          -3048
        ],
        "id": "a3373845-1f01-4d6e-a906-7b81a41aa237",
        "name": "Retrieve recent e-mails",
        "webhookId": "2a828d60-151a-484a-abd9-fc60559668ef",
        "credentials": {
          "gmailOAuth2": {
            "id": "y1cHHwSTNlBKO2KQ",
            "name": "Gmail: contato@mobiltracker.com.br"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.trello.com/1/organizations/mobiltracker/boards",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "trelloApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -16944,
          -3048
        ],
        "id": "099a6a85-ba40-4021-98b7-fb7c95942d5b",
        "name": "Retrieve boards",
        "credentials": {
          "trelloApi": {
            "id": "kZzKuYZRYXUfz3tQ",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "defineForm": "json",
          "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Quadro\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n        \"values\": {{ JSON.stringify($json.boards.map(board => ({ option: board.name }))) }}\n    },\n    \"requiredField\": true\n  }\n]",
          "limitWaitTime": true,
          "resumeAmount": 15,
          "resumeUnit": "minutes",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          -16496,
          -3048
        ],
        "id": "f4157423-c14f-492b-87a7-ae8969375e85",
        "name": "Request board",
        "webhookId": "a8c09bd7-6b3d-4bcf-906c-b2b05af798c1"
      },
      {
        "parameters": {
          "defineForm": "json",
          "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Lista\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n        \"values\": {{ JSON.stringify($('Aggregate lists').item.json.lists.filter(list => list.idBoard === $('Set board ID').item.json.boardId).map(list => ({\n          option: list.name\n        }))) }}\n    },\n    \"requiredField\": true\n  }\n]",
          "limitWaitTime": true,
          "resumeAmount": 15,
          "resumeUnit": "minutes",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          -15600,
          -3048
        ],
        "id": "b47f4c5d-4e7e-42fd-9ec9-0bd43e043d09",
        "name": "Request list",
        "webhookId": "ac813c49-123c-4994-9f67-a103b579449c"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e03cce7b-1965-46c7-98fd-990d7b6e6934",
                "name": "boardId",
                "value": "={{ $('Aggregate boards').item.json.boards.find(board => board.name === $json.Quadro).id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -16272,
          -3048
        ],
        "id": "b5e5e74d-bcae-48fb-b987-8c04dce87952",
        "name": "Set board ID"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "75bed2f3-111e-407c-a486-939fd30c69e3",
                "name": "listId",
                "value": "={{ $('Aggregate lists').item.json.lists.find(list => list.name === $json.Lista).id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -15376,
          -3048
        ],
        "id": "b9d74203-2631-41a4-b1b2-dfb1cd40baf7",
        "name": "Set list ID"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "boards",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -16720,
          -3048
        ],
        "id": "0a615abd-a932-4d74-880c-aaf1a30e11c1",
        "name": "Aggregate boards"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "lists",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -15824,
          -3048
        ],
        "id": "039772c6-a479-403f-8906-110b7f1a3bd0",
        "name": "Aggregate lists"
      },
      {
        "parameters": {
          "resource": "list",
          "operation": "getAll",
          "id": "={{ $json.boardId }}",
          "returnAll": true,
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.trello",
        "typeVersion": 1,
        "position": [
          -16048,
          -3048
        ],
        "id": "59ec200e-24e3-4243-8ad2-6f0e6f8fa2e4",
        "name": "Get lists in board",
        "credentials": {
          "trelloApi": {
            "id": "kZzKuYZRYXUfz3tQ",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "$binary",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -14032,
          -2808
        ],
        "id": "d9a1e797-a60b-414e-b9a8-ef6eed58744f",
        "name": "Split into individual attachments",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.trello.com/1/cards/{{ $('Refetch attachments').item.json.cardId }}/attachments",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "trelloApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "={{ Object.keys($binary)[0] }}"
              },
              {
                "name": "name",
                "value": "={{ $binary[Object.keys($binary)[0]].fileName }}"
              },
              {
                "name": "mimeType",
                "value": "={{ $binary[Object.keys($binary)[0]].mimeType }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -10320,
          -3072
        ],
        "id": "73d6e600-0727-4848-919c-b71e06a62cfa",
        "name": "Create attachment on card",
        "retryOnFail": true,
        "credentials": {
          "trelloApi": {
            "id": "kZzKuYZRYXUfz3tQ",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "81555266-a761-433e-9370-bb3f30e894e4",
                "name": "response",
                "value": "=Oi {{ $('Set candidate data').item.json.givenName }},\n\nEstamos confirmando o recebimento do seu currículo.\n\nAté mais.\n--\n{{ $('On form submission').item.json['Seu nome'] }} ",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -9648,
          -2736
        ],
        "id": "b2c90698-81b0-4027-a9e4-4edd337ffaeb",
        "name": "Set e-mail response"
      },
      {
        "parameters": {
          "operation": "reply",
          "messageId": "={{ $('Loop over e-mails').item.json.id }}",
          "emailType": "text",
          "message": "={{ $json.response }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -8528,
          -3168
        ],
        "id": "2f296c95-49c4-4d00-b105-b2e7ef217612",
        "name": "Reply to a message",
        "webhookId": "c35692dc-8246-4ace-93d0-617551711f4d",
        "credentials": {
          "gmailOAuth2": {
            "id": "y1cHHwSTNlBKO2KQ",
            "name": "Gmail: contato@mobiltracker.com.br"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "770c9cab-93b8-4290-b01b-fa5bf221fb39",
                "name": "response",
                "value": "={{ $('Request e-mail response').item.json['E-mail a ser enviado'].trim().length > 0 ? $('Request e-mail response').item.json['E-mail a ser enviado'] : $('Set e-mail response').item.json.response }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -8752,
          -3168
        ],
        "id": "39c091a4-7102-4b1c-a4c7-618357591678",
        "name": "Set definitive response"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -14480,
          -3048
        ],
        "id": "2e75297a-55ba-40c1-8f21-3b16e9d6047a",
        "name": "Loop over e-mails"
      },
      {
        "parameters": {
          "operation": "completion",
          "respondWith": "redirect",
          "redirectUrl": "={{ $('Aggregate boards').item.json.boards.find(board => board.id === $('Set board ID').item.json.boardId).url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          -14256,
          -2656
        ],
        "id": "ccba1cd0-c563-418f-a52e-cbf82bff107c",
        "name": "Wrap up",
        "webhookId": "e1d7d7ff-a287-4ab5-8615-c7562414aefe"
      },
      {
        "parameters": {
          "resource": "label",
          "returnAll": true
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -18064,
          -3048
        ],
        "id": "1f984f67-4bd8-484d-9ee8-64d027fd744c",
        "name": "Get many labels",
        "webhookId": "16e6cd95-2973-4c42-b6fa-70077c6aa004",
        "credentials": {
          "gmailOAuth2": {
            "id": "y1cHHwSTNlBKO2KQ",
            "name": "Gmail: contato@mobiltracker.com.br"
          }
        }
      },
      {
        "parameters": {
          "defineForm": "json",
          "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Rótulos a serem inseridos\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n        \"values\": {{ JSON.stringify($json.labels.map(label => ({ option: label.name }))) }}\n    },\n    \"requiredField\": true,\n    \"multiselect\": true\n  }\n]",
          "limitWaitTime": true,
          "resumeAmount": 15,
          "resumeUnit": "minutes",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          -17392,
          -3048
        ],
        "id": "46eec7ff-58a7-4a97-9df3-f38c612f3610",
        "name": "Request label(s) to be inserted",
        "webhookId": "de8fcb61-9abe-48c7-872c-ec61f53526ce"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "labels",
          "include": "specifiedFields",
          "fieldsToInclude": "id, name",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -17840,
          -3048
        ],
        "id": "35ad713a-dd4f-4377-8763-092655ef6423",
        "name": "Aggregate labels"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d873b759-161a-4cd7-8915-28458889bb9d",
                "name": "labels",
                "value": "={{ $json.labels.filter(label => label.name.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').startsWith('estagio')) }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -17616,
          -3048
        ],
        "id": "7ff339f7-8810-421e-acce-dae5b05cbf5e",
        "name": "Filter labels"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a6e277cd-2179-460a-8834-0c2b592aa7a2",
                "name": "labelIds",
                "value": "={{ $('Filter labels').item.json.labels.filter(label => [].concat($('Request label(s) to be inserted').item.json['Rótulos a serem inseridos']).includes(label.name)).map(label => label.id) }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -17168,
          -3048
        ],
        "id": "1b884920-80ef-4f2f-8bf1-081f158b1165",
        "name": "Set label IDs"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['Enviar e-mail (padrão: sim)'] }}",
                      "rightValue": "Sim",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "4a817276-4f4f-4660-b3c8-f6cf71b15449"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Yes"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "402aad7f-e32a-488a-8f29-9667d3619e74",
                      "leftValue": "={{ $json['Enviar e-mail (padrão: sim)'] }}",
                      "rightValue": "Não",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "No"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -8976,
          -2752
        ],
        "id": "d25af4f5-5ef6-4438-a771-17f31c2a9250",
        "name": "Route based on e-mail sending method"
      },
      {
        "parameters": {
          "listId": "={{ $('Set list ID').item.json.listId }}",
          "name": "={{ $('Set candidate data').item.json.fullName }}",
          "description": "=## E-mail\n**Remetente**: {{ $('Loop over e-mails').item.json.from.value[0].address }}\n**Título**: {{ $('Loop over e-mails').item.json.subject }}\n**Corpo**:\n> {{ $('Loop over e-mails').item.json.text }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.trello",
        "typeVersion": 1,
        "position": [
          -11664,
          -2688
        ],
        "id": "a2d0489a-2cb4-450e-9ba8-ce1658e536cc",
        "name": "Create a card",
        "credentials": {
          "trelloApi": {
            "id": "kZzKuYZRYXUfz3tQ",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0f85581b-b921-41fe-87c5-e1c6382e585a",
                "name": "cardId",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -11440,
          -2688
        ],
        "id": "47126453-94cd-4e96-a953-d91d422dc9ac",
        "name": "Set card ID"
      },
      {
        "parameters": {
          "operation": "pdf",
          "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -13360,
          -2880
        ],
        "id": "f81eee82-eb95-45cb-bc6b-eb21481746a8",
        "name": "Analyze PDF"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldType": "html",
                "html": "<div>\n  Responda se deseja se o e-mail seja\n  enviado automática ou manualmente.<br>\n  Caso opte pelo envio automático, você pode editar\n  a resposta no campo abaixo, assim como pode, também, deixá-lo\n  em branco para utilizar o e-mail padrão gerado.\n  <br>\n  <b>Anexos</b>:\n  <ol>\n    {{ $('Set attachment list').isExecuted ? $('Set attachment list').item.json.attachmentList : \"- Nenhum.\" }}\n  </ol>\n  <br>\n  <b>Título</b>:\n  {{ $('Loop over e-mails').item.json.subject }}\n  <br>\n  <b>Corpo</b>:\n  {{ $('Loop over e-mails').item.json.textAsHtml }}\n</div>\n<br>\n\n<b>E-mail automático a ser enviado (pode ser editado abaixo)</b>:\n<div>\n  {{ $('Set e-mail response').item.json.response.replaceAll(\"\\n\", \"<br>\") }}\n</div>\n<br>\n<br>"
              },
              {
                "fieldLabel": "Enviar e-mail (padrão: sim)",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Sim"
                    },
                    {
                      "option": "Não"
                    }
                  ]
                }
              },
              {
                "fieldLabel": "E-mail a ser enviado",
                "fieldType": "textarea",
                "placeholder": "=Insira a resposta aqui ou deixe em branco para utilizar a padrão"
              }
            ]
          },
          "limitWaitTime": true,
          "resumeAmount": 15,
          "resumeUnit": "minutes",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          -9200,
          -2736
        ],
        "id": "68365b39-3a9b-4ce6-bd9a-e83625ce4c7f",
        "name": "Request e-mail response",
        "webhookId": "5fbe52ee-a729-4d92-bc29-8f239a5f93c5"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "847a4a08-7529-4a82-bb7b-03e01fc62602",
                "name": "index",
                "value": "={{ $runIndex + 1 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -9424,
          -2736
        ],
        "id": "2b946561-9346-4ec1-a293-12c640d30856",
        "name": "Set current index"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "include": "specifiedFields",
          "fieldsToInclude": "name, mimeType, url",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -10096,
          -3072
        ],
        "id": "23901318-dcee-4220-a181-07bb8490b078",
        "name": "Aggregate upload URLs"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4799cb46-2e88-4988-88f6-24c097a84dff",
                "name": "attachmentList",
                "value": "={{ $json.data.map(data => `<li><a href=\"${data.url}\">${data.name}</a></li>`).join(\"\\n\") }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -9872,
          -3072
        ],
        "id": "65909cfb-22ec-4d66-b4b4-d5fa0e09d5ce",
        "name": "Set attachment list"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c3035250-6f39-464f-b8ca-a951547f2570",
                "leftValue": "={{ $binary.isEmpty() }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -14256,
          -3600
        ],
        "id": "6510e51f-e9da-468c-8bd2-71c97e7bdff2",
        "name": "Are there no attachments?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "747fc5ba-7c14-4d81-b3e2-f83c0a8ed8f9",
                "leftValue": "={{ $('Loop over e-mails').item.binary.isNotEmpty() }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -11216,
          -2688
        ],
        "id": "af1dc8ce-bad4-4581-a082-cfe729f1b425",
        "name": "Are there any attachments?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                "name": "senderAddress",
                "value": "={{ $json.from.value[0].address }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -14928,
          -3048
        ],
        "id": "1c4aea18-7ec4-4458-92d4-8179fc00664c",
        "name": "Extract sender address"
      },
      {
        "parameters": {
          "compare": "selectedFields",
          "fieldsToCompare": "senderAddress",
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          -14704,
          -3048
        ],
        "id": "34a3d285-067d-43df-b23c-4967970ff491",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.0-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.0-flash"
          },
          "messages": {
            "values": [
              {
                "content": "=### ROLE\nVocê é um assistente de RH. Sua única tarefa é identificar o nome completo e o nome de tratamento do candidato que enviou o e-mail.\n\n### INPUT DATA\n1. \"email_address\": Endereço de e-mail do remetente — use como principal indicador do nome do candidato.\n2. \"attachment_filenames\": Nomes dos arquivos anexados — geralmente contêm o nome do candidato.\n3. \"email_body\": Corpo do e-mail escrito pelo candidato.\n4. \"resume_content\": Texto extraído dos anexos — pode conter nomes de terceiros; use com cautela.\n\n### PRIORITY\nPara identificar o candidato, siga esta ordem de confiança:\n1. email_address (mais confiável)\n2. attachment_filenames\n3. email_body (assinatura ou apresentação)\n4. resume_content (menos confiável — pode conter nomes de referencias ou outras pessoas)\n\n### CONSTRAINTS\n- O output deve ser EXCLUSIVAMENTE um objeto JSON, sem caracteres adicionais, delimitadores ou comentários.\n\n### OUTPUT FORMAT (JSON)\n{\n  \"givenName\": \"Nome de tratamento (primeiro nome ou como o candidato se apresenta)\",\n  \"fullName\": \"Nome completo do candidato\"\n}",
                "role": "system"
              },
              {
                "content": "={\n  \"email_address\": {{ ($('Loop over e-mails').item.json.from?.value?.[0]?.address ?? '').toJsonString() }},\n  \"attachment_filenames\": {{ JSON.stringify(Object.values($('Loop over e-mails').item.binary ?? {}).map(b => b.fileName).filter(Boolean)) }},\n  \"email_body\": {{ ($('Loop over e-mails').item.json.text ?? '').toJsonString() }},\n  \"resume_content\": {{ $json.texts.toJsonString() }}\n}"
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          -12464,
          -2808
        ],
        "id": "86fb588f-af0c-4486-9d8b-3660f14d0f90",
        "name": "Summarize resumee",
        "credentials": {
          "googlePalmApi": {
            "id": "626frRnPRCEksFrz",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const item = $input.item.json;\nconst raw = item.text ?? item.output ?? item.output?.[0]?.content?.[0]?.text ?? '';\nconst cleaned = raw.replace(/^```json\\n?|^```\\n?|```$/g, '').trim();\ntry {\n  const parsed = JSON.parse(cleaned);\n  return [{ json: { givenName: parsed.givenName, fullName: parsed.fullName } }];\n} catch (e) {\n  throw new Error('Failed to parse AI response: ' + e.message + '. Raw output: ' + String(raw).substring(0, 300));\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -12112,
          -2808
        ],
        "id": "bc77ed65-3952-4134-8e28-0f29107e2411",
        "name": "Set candidate data"
      },
      {
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $('Loop over e-mails').item.json.id }}",
          "labelIds": "={{ $('Set label IDs').item.json.labelIds }}"
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -7856,
          -2616
        ],
        "id": "2609f624-c359-49aa-9e3d-5dc05f1ebcb2",
        "name": "Add label to message",
        "webhookId": "b35418a9-398f-4e58-84f6-bea3bebb8f9a",
        "credentials": {
          "gmailOAuth2": {
            "id": "y1cHHwSTNlBKO2KQ",
            "name": "Gmail: contato@mobiltracker.com.br"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "$binary",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -10768,
          -3568
        ],
        "id": "05c35826-6169-4d34-bd83-8c425a4b741d",
        "name": "Split attachments"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -10992,
          -3568
        ],
        "id": "ffda2061-e777-40a5-8e55-29f69dbaf9fc",
        "name": "Refetch attachments"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -11888,
          -3256
        ],
        "id": "bb5c6725-2dec-452d-bf87-d65a7855004d",
        "name": "Fetch attachments"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ Object.values($binary)[0].mimeType }}",
                      "rightValue": "application/pdf",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "a19864fc-62ce-4b1f-b99f-542cfa795fa5"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "PDF"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c4499a5a-d6e7-4980-9dc9-41d3bcf47bd6",
                      "leftValue": "={{ Object.values($binary)[0].mimeType }}",
                      "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "DOCX"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "da4da715-6b8a-4024-bded-0b9343911a6b",
                      "leftValue": "={{ Object.values($binary)[0].mimeType }}",
                      "rightValue": "text/plain",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Plain text"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -13584,
          -3208
        ],
        "id": "c4bf5bd0-ad1e-40bb-b875-3ed50df01200",
        "name": "Route based on mimetype"
      },
      {
        "parameters": {
          "inputBinaryField": "={{ Object.keys($binary)[0] }}"
        },
        "type": "n8n-nodes-docx-converter.docxToText",
        "typeVersion": 1,
        "position": [
          -13360,
          -3456
        ],
        "id": "59029595-fc3e-4c95-a1fa-652c977e2df2",
        "name": "DOCX to Text"
      },
      {
        "parameters": {
          "operation": "text",
          "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
          "destinationKey": "text",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          -13360,
          -3264
        ],
        "id": "ab69f771-44a8-4358-9e8a-f6fb21e5b5e3",
        "name": "Extract text from plain text"
      },
      {
        "parameters": {
          "options": {
            "reset": "={{ $(\"Loop over attachments\").context.noItemsLeft }}"
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -13808,
          -2808
        ],
        "id": "734c576f-19cc-4977-957b-ef73b2cb92c1",
        "name": "Loop over attachments"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f3ff3670-56a6-400e-b334-b91f93194dc4",
                "leftValue": "={{ $('Loop over attachments').context.noItemsLeft }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -12912,
          -2808
        ],
        "id": "02f1d3ec-4370-4da6-a86c-7fc47dffb767",
        "name": "Done looping through attachments?"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -13136,
          -3256
        ],
        "id": "ad3cd993-3740-48b7-8af1-b036eec19ed1",
        "name": "Receive texts"
      },
      {
        "parameters": {
          "jsCode": "let results = [];\nlet counter = 0;\n\ndo {\n  try {\n    const texts = $(\"Receive texts\")\n      .all(0, counter)\n      .map((item) => item.json.text);\n    results = [...results, ...texts];\n  } catch (error) {\n    return { texts: results };\n  }\n  counter++;\n} while (true);\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -12688,
          -2808
        ],
        "id": "143a4863-bcb2-4e5b-995b-885bc4299456",
        "name": "Merge runs into a single text array",
        "executeOnce": false
      },
      {
        "parameters": {
          "operation": "markAsRead",
          "messageId": "={{ $('Loop over e-mails').item.json.id }}"
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -8080,
          -3216
        ],
        "id": "e28e9044-9679-416f-a211-daf1fdadbe13",
        "name": "Mark candidate message as read",
        "webhookId": "aeb30d54-395e-413a-bb1a-a228fffbcce2",
        "credentials": {
          "gmailOAuth2": {
            "id": "y1cHHwSTNlBKO2KQ",
            "name": "Gmail: contato@mobiltracker.com.br"
          }
        }
      },
      {
        "parameters": {
          "operation": "markAsRead",
          "messageId": "={{ $json.id }}"
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          -8304,
          -3168
        ],
        "id": "bc58907b-b40d-403d-85af-4b3208343c6b",
        "name": "Mark response as read",
        "webhookId": "4b447eed-627b-4cce-9251-8f2799b22707",
        "credentials": {
          "gmailOAuth2": {
            "id": "y1cHHwSTNlBKO2KQ",
            "name": "Gmail: contato@mobiltracker.com.br"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "78d2f9bd-6ae5-4269-a63d-42f5b73f0295",
                "leftValue": "={{ Object.values($binary)[0].bytes }}",
                "rightValue": "={{ 10 * 1048576 }}",
                "operator": {
                  "type": "number",
                  "operation": "lt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -10544,
          -3568
        ],
        "id": "76f0f904-3bb8-4af9-a96e-bf1c12ab8f52",
        "name": "Keep files that are not too large"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c3d4e5f6-a7b8-9012-cdef-ab3456789012",
                "name": "text",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -13360,
          -3072
        ],
        "id": "b380315f-38ce-46d7-b4e6-5cdbeaa6e282",
        "name": "Set empty text for unsupported type"
      },
      {
        "parameters": {
          "operation": "addComment"
        },
        "type": "n8n-nodes-base.trello",
        "typeVersion": 1,
        "position": [
          -10320,
          -3576
        ],
        "id": "f5aefb1e-0f57-4109-bf6d-f931420d2dd9",
        "name": "Warn large attachment",
        "credentials": {
          "trelloApi": {
            "id": "kZzKuYZRYXUfz3tQ",
            "name": "Trello account"
          }
        }
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "Get many labels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve recent e-mails": {
        "main": [
          [
            {
              "node": "Extract sender address",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract sender address": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve boards": {
        "main": [
          [
            {
              "node": "Aggregate boards",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Request board": {
        "main": [
          [
            {
              "node": "Set board ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set board ID": {
        "main": [
          [
            {
              "node": "Get lists in board",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Request list": {
        "main": [
          [
            {
              "node": "Set list ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set list ID": {
        "main": [
          [
            {
              "node": "Retrieve recent e-mails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate boards": {
        "main": [
          [
            {
              "node": "Request board",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate lists": {
        "main": [
          [
            {
              "node": "Request list",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get lists in board": {
        "main": [
          [
            {
              "node": "Aggregate lists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split into individual attachments": {
        "main": [
          [
            {
              "node": "Loop over attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create attachment on card": {
        "main": [
          [
            {
              "node": "Aggregate upload URLs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set e-mail response": {
        "main": [
          [
            {
              "node": "Set current index",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to a message": {
        "main": [
          [
            {
              "node": "Mark response as read",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set definitive response": {
        "main": [
          [
            {
              "node": "Reply to a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop over e-mails": {
        "main": [
          [
            {
              "node": "Wrap up",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Are there no attachments?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many labels": {
        "main": [
          [
            {
              "node": "Aggregate labels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Request label(s) to be inserted": {
        "main": [
          [
            {
              "node": "Set label IDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate labels": {
        "main": [
          [
            {
              "node": "Filter labels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter labels": {
        "main": [
          [
            {
              "node": "Request label(s) to be inserted",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set label IDs": {
        "main": [
          [
            {
              "node": "Retrieve boards",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route based on e-mail sending method": {
        "main": [
          [
            {
              "node": "Set definitive response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Mark candidate message as read",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set definitive response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a card": {
        "main": [
          [
            {
              "node": "Set card ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set card ID": {
        "main": [
          [
            {
              "node": "Are there any attachments?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze PDF": {
        "main": [
          [
            {
              "node": "Receive texts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Request e-mail response": {
        "main": [
          [
            {
              "node": "Route based on e-mail sending method",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set current index": {
        "main": [
          [
            {
              "node": "Request e-mail response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate upload URLs": {
        "main": [
          [
            {
              "node": "Set attachment list",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set attachment list": {
        "main": [
          [
            {
              "node": "Set e-mail response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Are there no attachments?": {
        "main": [
          [
            {
              "node": "Mark candidate message as read",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Split into individual attachments",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch attachments",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Are there any attachments?": {
        "main": [
          [
            {
              "node": "Refetch attachments",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set e-mail response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Loop over e-mails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize resumee": {
        "main": [
          [
            {
              "node": "Set candidate data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set candidate data": {
        "main": [
          [
            {
              "node": "Fetch attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add label to message": {
        "main": [
          [
            {
              "node": "Loop over e-mails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split attachments": {
        "main": [
          [
            {
              "node": "Keep files that are not too large",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Refetch attachments": {
        "main": [
          [
            {
              "node": "Split attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch attachments": {
        "main": [
          [
            {
              "node": "Create a card",
              "type": "main",
              "index": 0
            },
            {
              "node": "Refetch attachments",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Route based on mimetype": {
        "main": [
          [
            {
              "node": "Analyze PDF",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "DOCX to Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract text from plain text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set empty text for unsupported type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DOCX to Text": {
        "main": [
          [
            {
              "node": "Receive texts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract text from plain text": {
        "main": [
          [
            {
              "node": "Receive texts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop over attachments": {
        "main": [
          [
            {
              "node": "Done looping through attachments?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Route based on mimetype",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Done looping through attachments?": {
        "main": [
          [
            {
              "node": "Merge runs into a single text array",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop over attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Receive texts": {
        "main": [
          [
            {
              "node": "Done looping through attachments?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge runs into a single text array": {
        "main": [
          [
            {
              "node": "Summarize resumee",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark candidate message as read": {
        "main": [
          [
            {
              "node": "Add label to message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark response as read": {
        "main": [
          [
            {
              "node": "Mark candidate message as read",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Keep files that are not too large": {
        "main": [
          [
            {
              "node": "Create attachment on card",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Warn large attachment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set empty text for unsupported type": {
        "main": [
          [
            {
              "node": "Receive texts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Contato Mobiltracker",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "2abc6920-6e73-43aa-8f78-4b2eedab67a9",
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Get many labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve recent e-mails": {
      "main": [
        [
          {
            "node": "Extract sender address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract sender address": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve boards": {
      "main": [
        [
          {
            "node": "Aggregate boards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request board": {
      "main": [
        [
          {
            "node": "Set board ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set board ID": {
      "main": [
        [
          {
            "node": "Get lists in board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request list": {
      "main": [
        [
          {
            "node": "Set list ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set list ID": {
      "main": [
        [
          {
            "node": "Retrieve recent e-mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate boards": {
      "main": [
        [
          {
            "node": "Request board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate lists": {
      "main": [
        [
          {
            "node": "Request list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get lists in board": {
      "main": [
        [
          {
            "node": "Aggregate lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into individual attachments": {
      "main": [
        [
          {
            "node": "Loop over attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create attachment on card": {
      "main": [
        [
          {
            "node": "Aggregate upload URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set e-mail response": {
      "main": [
        [
          {
            "node": "Set current index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Mark response as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set definitive response": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over e-mails": {
      "main": [
        [
          {
            "node": "Wrap up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Are there no attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels": {
      "main": [
        [
          {
            "node": "Aggregate labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request label(s) to be inserted": {
      "main": [
        [
          {
            "node": "Set label IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate labels": {
      "main": [
        [
          {
            "node": "Filter labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter labels": {
      "main": [
        [
          {
            "node": "Request label(s) to be inserted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set label IDs": {
      "main": [
        [
          {
            "node": "Retrieve boards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route based on e-mail sending method": {
      "main": [
        [
          {
            "node": "Set definitive response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark candidate message as read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set definitive response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a card": {
      "main": [
        [
          {
            "node": "Set card ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set card ID": {
      "main": [
        [
          {
            "node": "Are there any attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze PDF": {
      "main": [
        [
          {
            "node": "Receive texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request e-mail response": {
      "main": [
        [
          {
            "node": "Route based on e-mail sending method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set current index": {
      "main": [
        [
          {
            "node": "Request e-mail response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate upload URLs": {
      "main": [
        [
          {
            "node": "Set attachment list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set attachment list": {
      "main": [
        [
          {
            "node": "Set e-mail response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are there no attachments?": {
      "main": [
        [
          {
            "node": "Mark candidate message as read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split into individual attachments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch attachments",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Are there any attachments?": {
      "main": [
        [
          {
            "node": "Refetch attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set e-mail response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop over e-mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize resumee": {
      "main": [
        [
          {
            "node": "Set candidate data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set candidate data": {
      "main": [
        [
          {
            "node": "Fetch attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Loop over e-mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split attachments": {
      "main": [
        [
          {
            "node": "Keep files that are not too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refetch attachments": {
      "main": [
        [
          {
            "node": "Split attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch attachments": {
      "main": [
        [
          {
            "node": "Create a card",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refetch attachments",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Route based on mimetype": {
      "main": [
        [
          {
            "node": "Analyze PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DOCX to Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract text from plain text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set empty text for unsupported type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOCX to Text": {
      "main": [
        [
          {
            "node": "Receive texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from plain text": {
      "main": [
        [
          {
            "node": "Receive texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over attachments": {
      "main": [
        [
          {
            "node": "Done looping through attachments?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route based on mimetype",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done looping through attachments?": {
      "main": [
        [
          {
            "node": "Merge runs into a single text array",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop over attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive texts": {
      "main": [
        [
          {
            "node": "Done looping through attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge runs into a single text array": {
      "main": [
        [
          {
            "node": "Summarize resumee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark candidate message as read": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark response as read": {
      "main": [
        [
          {
            "node": "Mark candidate message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep files that are not too large": {
      "main": [
        [
          {
            "node": "Create attachment on card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Warn large attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set empty text for unsupported type": {
      "main": [
        [
          {
            "node": "Receive texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-09T15:56:52.577Z",
  "id": "JLhCxHQq1kkDbAf2",
  "isArchived": false,
  "isProd": true,
  "meta": null,
  "name": "[PRODUCTION] [PRODUCTION] Resumee seeker - Ef99OOHtdPlONzhp - Ef99OOHtdPlONzhp",
  "nodes": [
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Processador de currículos",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Seu nome",
              "placeholder": "João Silva",
              "requiredField": true
            },
            {
              "fieldLabel": "Para quê é esta vaga?",
              "fieldType": "textarea",
              "placeholder": "Estágio em UX. Procura-se um candidato com um portifólio organizado e consistente...",
              "requiredField": true
            },
            {
              "fieldLabel": "Início de recebimento dos currículos",
              "fieldType": "date",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -18288,
        -3048
      ],
      "id": "1ec849ee-f6d4-4db9-8942-2d5742c23311",
      "name": "On form submission",
      "webhookId": "f9a219ec-2f35-44be-a7cd-58a0b8a5b914",
      "credentials": {
        "httpBasicAuth": {
          "id": "oX6J1RdpqttuBfuf",
          "name": "n8n form credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_244298310841452940"
          ],
          "q": "=!from:me -subject:(re OR fwd OR reply OR fw)",
          "readStatus": "unread",
          "receivedAfter": "={{ $('On form submission').item.json[\"Início de recebimento dos currículos\"] }}"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -15152,
        -3048
      ],
      "id": "a3373845-1f01-4d6e-a906-7b81a41aa237",
      "name": "Retrieve recent e-mails",
      "webhookId": "2a828d60-151a-484a-abd9-fc60559668ef",
      "credentials": {
        "gmailOAuth2": {
          "id": "y1cHHwSTNlBKO2KQ",
          "name": "Gmail: contato@mobiltracker.com.br"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.trello.com/1/organizations/mobiltracker/boards",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16944,
        -3048
      ],
      "id": "099a6a85-ba40-4021-98b7-fb7c95942d5b",
      "name": "Retrieve boards",
      "credentials": {
        "trelloApi": {
          "id": "kZzKuYZRYXUfz3tQ",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Quadro\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n        \"values\": {{ JSON.stringify($json.boards.map(board => ({ option: board.name }))) }}\n    },\n    \"requiredField\": true\n  }\n]",
        "limitWaitTime": true,
        "resumeAmount": 15,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -16496,
        -3048
      ],
      "id": "f4157423-c14f-492b-87a7-ae8969375e85",
      "name": "Request board",
      "webhookId": "a8c09bd7-6b3d-4bcf-906c-b2b05af798c1"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Lista\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n        \"values\": {{ JSON.stringify($('Aggregate lists').item.json.lists.filter(list => list.idBoard === $('Set board ID').item.json.boardId).map(list => ({\n          option: list.name\n        }))) }}\n    },\n    \"requiredField\": true\n  }\n]",
        "limitWaitTime": true,
        "resumeAmount": 15,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -15600,
        -3048
      ],
      "id": "b47f4c5d-4e7e-42fd-9ec9-0bd43e043d09",
      "name": "Request list",
      "webhookId": "ac813c49-123c-4994-9f67-a103b579449c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e03cce7b-1965-46c7-98fd-990d7b6e6934",
              "name": "boardId",
              "value": "={{ $('Aggregate boards').item.json.boards.find(board => board.name === $json.Quadro).id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16272,
        -3048
      ],
      "id": "b5e5e74d-bcae-48fb-b987-8c04dce87952",
      "name": "Set board ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75bed2f3-111e-407c-a486-939fd30c69e3",
              "name": "listId",
              "value": "={{ $('Aggregate lists').item.json.lists.find(list => list.name === $json.Lista).id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -15376,
        -3048
      ],
      "id": "b9d74203-2631-41a4-b1b2-dfb1cd40baf7",
      "name": "Set list ID"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "boards",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -16720,
        -3048
      ],
      "id": "0a615abd-a932-4d74-880c-aaf1a30e11c1",
      "name": "Aggregate boards"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "lists",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -15824,
        -3048
      ],
      "id": "039772c6-a479-403f-8906-110b7f1a3bd0",
      "name": "Aggregate lists"
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "getAll",
        "id": "={{ $json.boardId }}",
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -16048,
        -3048
      ],
      "id": "59ec200e-24e3-4243-8ad2-6f0e6f8fa2e4",
      "name": "Get lists in board",
      "credentials": {
        "trelloApi": {
          "id": "kZzKuYZRYXUfz3tQ",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -14032,
        -2808
      ],
      "id": "d9a1e797-a60b-414e-b9a8-ef6eed58744f",
      "name": "Split into individual attachments",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.trello.com/1/cards/{{ $('Refetch attachments').item.json.cardId }}/attachments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "={{ Object.keys($binary)[0] }}"
            },
            {
              "name": "name",
              "value": "={{ $binary[Object.keys($binary)[0]].fileName }}"
            },
            {
              "name": "mimeType",
              "value": "={{ $binary[Object.keys($binary)[0]].mimeType }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -10320,
        -3072
      ],
      "id": "73d6e600-0727-4848-919c-b71e06a62cfa",
      "name": "Create attachment on card",
      "retryOnFail": true,
      "credentials": {
        "trelloApi": {
          "id": "kZzKuYZRYXUfz3tQ",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81555266-a761-433e-9370-bb3f30e894e4",
              "name": "response",
              "value": "=Oi {{ $('Set candidate data').item.json.givenName }},\n\nEstamos confirmando o recebimento do seu currículo.\n\nAté mais.\n--\n{{ $('On form submission').item.json['Seu nome'] }} ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9648,
        -2736
      ],
      "id": "b2c90698-81b0-4027-a9e4-4edd337ffaeb",
      "name": "Set e-mail response"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Loop over e-mails').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -8528,
        -3168
      ],
      "id": "2f296c95-49c4-4d00-b105-b2e7ef217612",
      "name": "Reply to a message",
      "webhookId": "c35692dc-8246-4ace-93d0-617551711f4d",
      "credentials": {
        "gmailOAuth2": {
          "id": "y1cHHwSTNlBKO2KQ",
          "name": "Gmail: contato@mobiltracker.com.br"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "770c9cab-93b8-4290-b01b-fa5bf221fb39",
              "name": "response",
              "value": "={{ $('Request e-mail response').item.json['E-mail a ser enviado'].trim().length > 0 ? $('Request e-mail response').item.json['E-mail a ser enviado'] : $('Set e-mail response').item.json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8752,
        -3168
      ],
      "id": "39c091a4-7102-4b1c-a4c7-618357591678",
      "name": "Set definitive response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -14480,
        -3048
      ],
      "id": "2e75297a-55ba-40c1-8f21-3b16e9d6047a",
      "name": "Loop over e-mails"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "redirect",
        "redirectUrl": "={{ $('Aggregate boards').item.json.boards.find(board => board.id === $('Set board ID').item.json.boardId).url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -14256,
        -2656
      ],
      "id": "ccba1cd0-c563-418f-a52e-cbf82bff107c",
      "name": "Wrap up",
      "webhookId": "e1d7d7ff-a287-4ab5-8615-c7562414aefe"
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -18064,
        -3048
      ],
      "id": "1f984f67-4bd8-484d-9ee8-64d027fd744c",
      "name": "Get many labels",
      "webhookId": "16e6cd95-2973-4c42-b6fa-70077c6aa004",
      "credentials": {
        "gmailOAuth2": {
          "id": "y1cHHwSTNlBKO2KQ",
          "name": "Gmail: contato@mobiltracker.com.br"
        }
      }
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Rótulos a serem inseridos\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n        \"values\": {{ JSON.stringify($json.labels.map(label => ({ option: label.name }))) }}\n    },\n    \"requiredField\": true,\n    \"multiselect\": true\n  }\n]",
        "limitWaitTime": true,
        "resumeAmount": 15,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -17392,
        -3048
      ],
      "id": "46eec7ff-58a7-4a97-9df3-f38c612f3610",
      "name": "Request label(s) to be inserted",
      "webhookId": "de8fcb61-9abe-48c7-872c-ec61f53526ce"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "labels",
        "include": "specifiedFields",
        "fieldsToInclude": "id, name",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -17840,
        -3048
      ],
      "id": "35ad713a-dd4f-4377-8763-092655ef6423",
      "name": "Aggregate labels"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d873b759-161a-4cd7-8915-28458889bb9d",
              "name": "labels",
              "value": "={{ $json.labels.filter(label => label.name.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').startsWith('estagio')) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -17616,
        -3048
      ],
      "id": "7ff339f7-8810-421e-acce-dae5b05cbf5e",
      "name": "Filter labels"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6e277cd-2179-460a-8834-0c2b592aa7a2",
              "name": "labelIds",
              "value": "={{ $('Filter labels').item.json.labels.filter(label => [].concat($('Request label(s) to be inserted').item.json['Rótulos a serem inseridos']).includes(label.name)).map(label => label.id) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -17168,
        -3048
      ],
      "id": "1b884920-80ef-4f2f-8bf1-081f158b1165",
      "name": "Set label IDs"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Enviar e-mail (padrão: sim)'] }}",
                    "rightValue": "Sim",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4a817276-4f4f-4660-b3c8-f6cf71b15449"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Yes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "402aad7f-e32a-488a-8f29-9667d3619e74",
                    "leftValue": "={{ $json['Enviar e-mail (padrão: sim)'] }}",
                    "rightValue": "Não",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -8976,
        -2752
      ],
      "id": "d25af4f5-5ef6-4438-a771-17f31c2a9250",
      "name": "Route based on e-mail sending method"
    },
    {
      "parameters": {
        "listId": "={{ $('Set list ID').item.json.listId }}",
        "name": "={{ $('Set candidate data').item.json.fullName }}",
        "description": "=## E-mail\n**Remetente**: {{ $('Loop over e-mails').item.json.from.value[0].address }}\n**Título**: {{ $('Loop over e-mails').item.json.subject }}\n**Corpo**:\n> {{ $('Loop over e-mails').item.json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -11664,
        -2688
      ],
      "id": "a2d0489a-2cb4-450e-9ba8-ce1658e536cc",
      "name": "Create a card",
      "credentials": {
        "trelloApi": {
          "id": "kZzKuYZRYXUfz3tQ",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f85581b-b921-41fe-87c5-e1c6382e585a",
              "name": "cardId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11440,
        -2688
      ],
      "id": "47126453-94cd-4e96-a953-d91d422dc9ac",
      "name": "Set card ID"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -13360,
        -2880
      ],
      "id": "f81eee82-eb95-45cb-bc6b-eb21481746a8",
      "name": "Analyze PDF"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "<div>\n  Responda se deseja se o e-mail seja\n  enviado automática ou manualmente.<br>\n  Caso opte pelo envio automático, você pode editar\n  a resposta no campo abaixo, assim como pode, também, deixá-lo\n  em branco para utilizar o e-mail padrão gerado.\n  <br>\n  <b>Anexos</b>:\n  <ol>\n    {{ $('Set attachment list').isExecuted ? $('Set attachment list').item.json.attachmentList : \"- Nenhum.\" }}\n  </ol>\n  <br>\n  <b>Título</b>:\n  {{ $('Loop over e-mails').item.json.subject }}\n  <br>\n  <b>Corpo</b>:\n  {{ $('Loop over e-mails').item.json.textAsHtml }}\n</div>\n<br>\n\n<b>E-mail automático a ser enviado (pode ser editado abaixo)</b>:\n<div>\n  {{ $('Set e-mail response').item.json.response.replaceAll(\"\\n\", \"<br>\") }}\n</div>\n<br>\n<br>"
            },
            {
              "fieldLabel": "Enviar e-mail (padrão: sim)",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Sim"
                  },
                  {
                    "option": "Não"
                  }
                ]
              }
            },
            {
              "fieldLabel": "E-mail a ser enviado",
              "fieldType": "textarea",
              "placeholder": "=Insira a resposta aqui ou deixe em branco para utilizar a padrão"
            }
          ]
        },
        "limitWaitTime": true,
        "resumeAmount": 15,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -9200,
        -2736
      ],
      "id": "68365b39-3a9b-4ce6-bd9a-e83625ce4c7f",
      "name": "Request e-mail response",
      "webhookId": "5fbe52ee-a729-4d92-bc29-8f239a5f93c5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "847a4a08-7529-4a82-bb7b-03e01fc62602",
              "name": "index",
              "value": "={{ $runIndex + 1 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9424,
        -2736
      ],
      "id": "2b946561-9346-4ec1-a293-12c640d30856",
      "name": "Set current index"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "name, mimeType, url",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -10096,
        -3072
      ],
      "id": "23901318-dcee-4220-a181-07bb8490b078",
      "name": "Aggregate upload URLs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4799cb46-2e88-4988-88f6-24c097a84dff",
              "name": "attachmentList",
              "value": "={{ $json.data.map(data => `<li><a href=\"${data.url}\">${data.name}</a></li>`).join(\"\\n\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9872,
        -3072
      ],
      "id": "65909cfb-22ec-4d66-b4b4-d5fa0e09d5ce",
      "name": "Set attachment list"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3035250-6f39-464f-b8ca-a951547f2570",
              "leftValue": "={{ $binary.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -14256,
        -3600
      ],
      "id": "6510e51f-e9da-468c-8bd2-71c97e7bdff2",
      "name": "Are there no attachments?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "747fc5ba-7c14-4d81-b3e2-f83c0a8ed8f9",
              "leftValue": "={{ $('Loop over e-mails').item.binary.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -11216,
        -2688
      ],
      "id": "af1dc8ce-bad4-4581-a082-cfe729f1b425",
      "name": "Are there any attachments?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "senderAddress",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -14928,
        -3048
      ],
      "id": "1c4aea18-7ec4-4458-92d4-8179fc00664c",
      "name": "Extract sender address"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "senderAddress",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -14704,
        -3048
      ],
      "id": "34a3d285-067d-43df-b23c-4967970ff491",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=### ROLE\nVocê é um assistente de RH. Sua única tarefa é identificar o nome completo e o nome de tratamento do candidato que enviou o e-mail.\n\n### INPUT DATA\n1. \"email_address\": Endereço de e-mail do remetente — use como principal indicador do nome do candidato.\n2. \"attachment_filenames\": Nomes dos arquivos anexados — geralmente contêm o nome do candidato.\n3. \"email_body\": Corpo do e-mail escrito pelo candidato.\n4. \"resume_content\": Texto extraído dos anexos — pode conter nomes de terceiros; use com cautela.\n\n### PRIORITY\nPara identificar o candidato, siga esta ordem de confiança:\n1. email_address (mais confiável)\n2. attachment_filenames\n3. email_body (assinatura ou apresentação)\n4. resume_content (menos confiável — pode conter nomes de referencias ou outras pessoas)\n\n### CONSTRAINTS\n- O output deve ser EXCLUSIVAMENTE um objeto JSON, sem caracteres adicionais, delimitadores ou comentários.\n\n### OUTPUT FORMAT (JSON)\n{\n  \"givenName\": \"Nome de tratamento (primeiro nome ou como o candidato se apresenta)\",\n  \"fullName\": \"Nome completo do candidato\"\n}",
              "role": "system"
            },
            {
              "content": "={\n  \"email_address\": {{ ($('Loop over e-mails').item.json.from?.value?.[0]?.address ?? '').toJsonString() }},\n  \"attachment_filenames\": {{ JSON.stringify(Object.values($('Loop over e-mails').item.binary ?? {}).map(b => b.fileName).filter(Boolean)) }},\n  \"email_body\": {{ ($('Loop over e-mails').item.json.text ?? '').toJsonString() }},\n  \"resume_content\": {{ $json.texts.toJsonString() }}\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -12464,
        -2808
      ],
      "id": "86fb588f-af0c-4486-9d8b-3660f14d0f90",
      "name": "Summarize resumee",
      "credentials": {
        "googlePalmApi": {
          "id": "626frRnPRCEksFrz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst raw = item.text ?? item.output ?? item.output?.[0]?.content?.[0]?.text ?? '';\nconst cleaned = raw.replace(/^```json\\n?|^```\\n?|```$/g, '').trim();\ntry {\n  const parsed = JSON.parse(cleaned);\n  return [{ json: { givenName: parsed.givenName, fullName: parsed.fullName } }];\n} catch (e) {\n  throw new Error('Failed to parse AI response: ' + e.message + '. Raw output: ' + String(raw).substring(0, 300));\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12112,
        -2808
      ],
      "id": "bc77ed65-3952-4134-8e28-0f29107e2411",
      "name": "Set candidate data"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Loop over e-mails').item.json.id }}",
        "labelIds": "={{ $('Set label IDs').item.json.labelIds }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -7856,
        -2616
      ],
      "id": "2609f624-c359-49aa-9e3d-5dc05f1ebcb2",
      "name": "Add label to message",
      "webhookId": "b35418a9-398f-4e58-84f6-bea3bebb8f9a",
      "credentials": {
        "gmailOAuth2": {
          "id": "y1cHHwSTNlBKO2KQ",
          "name": "Gmail: contato@mobiltracker.com.br"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -10768,
        -3568
      ],
      "id": "05c35826-6169-4d34-bd83-8c425a4b741d",
      "name": "Split attachments"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -10992,
        -3568
      ],
      "id": "ffda2061-e777-40a5-8e55-29f69dbaf9fc",
      "name": "Refetch attachments"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -11888,
        -3256
      ],
      "id": "bb5c6725-2dec-452d-bf87-d65a7855004d",
      "name": "Fetch attachments"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ Object.values($binary)[0].mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a19864fc-62ce-4b1f-b99f-542cfa795fa5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4499a5a-d6e7-4980-9dc9-41d3bcf47bd6",
                    "leftValue": "={{ Object.values($binary)[0].mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "da4da715-6b8a-4024-bded-0b9343911a6b",
                    "leftValue": "={{ Object.values($binary)[0].mimeType }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Plain text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -13584,
        -3208
      ],
      "id": "c4bf5bd0-ad1e-40bb-b875-3ed50df01200",
      "name": "Route based on mimetype"
    },
    {
      "parameters": {
        "inputBinaryField": "={{ Object.keys($binary)[0] }}"
      },
      "type": "n8n-nodes-docx-converter.docxToText",
      "typeVersion": 1,
      "position": [
        -13360,
        -3456
      ],
      "id": "59029595-fc3e-4c95-a1fa-652c977e2df2",
      "name": "DOCX to Text"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -13360,
        -3264
      ],
      "id": "ab69f771-44a8-4358-9e8a-f6fb21e5b5e3",
      "name": "Extract text from plain text"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $(\"Loop over attachments\").context.noItemsLeft }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -13808,
        -2808
      ],
      "id": "734c576f-19cc-4977-957b-ef73b2cb92c1",
      "name": "Loop over attachments"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f3ff3670-56a6-400e-b334-b91f93194dc4",
              "leftValue": "={{ $('Loop over attachments').context.noItemsLeft }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -12912,
        -2808
      ],
      "id": "02f1d3ec-4370-4da6-a86c-7fc47dffb767",
      "name": "Done looping through attachments?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -13136,
        -3256
      ],
      "id": "ad3cd993-3740-48b7-8af1-b036eec19ed1",
      "name": "Receive texts"
    },
    {
      "parameters": {
        "jsCode": "let results = [];\nlet counter = 0;\n\ndo {\n  try {\n    const texts = $(\"Receive texts\")\n      .all(0, counter)\n      .map((item) => item.json.text);\n    results = [...results, ...texts];\n  } catch (error) {\n    return { texts: results };\n  }\n  counter++;\n} while (true);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12688,
        -2808
      ],
      "id": "143a4863-bcb2-4e5b-995b-885bc4299456",
      "name": "Merge runs into a single text array",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Loop over e-mails').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -8080,
        -3216
      ],
      "id": "e28e9044-9679-416f-a211-daf1fdadbe13",
      "name": "Mark candidate message as read",
      "webhookId": "aeb30d54-395e-413a-bb1a-a228fffbcce2",
      "credentials": {
        "gmailOAuth2": {
          "id": "y1cHHwSTNlBKO2KQ",
          "name": "Gmail: contato@mobiltracker.com.br"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -8304,
        -3168
      ],
      "id": "bc58907b-b40d-403d-85af-4b3208343c6b",
      "name": "Mark response as read",
      "webhookId": "4b447eed-627b-4cce-9251-8f2799b22707",
      "credentials": {
        "gmailOAuth2": {
          "id": "y1cHHwSTNlBKO2KQ",
          "name": "Gmail: contato@mobiltracker.com.br"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "78d2f9bd-6ae5-4269-a63d-42f5b73f0295",
              "leftValue": "={{ Object.values($binary)[0].bytes }}",
              "rightValue": "={{ 10 * 1048576 }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -10544,
        -3568
      ],
      "id": "76f0f904-3bb8-4af9-a96e-bf1c12ab8f52",
      "name": "Keep files that are not too large"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3d4e5f6-a7b8-9012-cdef-ab3456789012",
              "name": "text",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -13360,
        -3072
      ],
      "id": "b380315f-38ce-46d7-b4e6-5cdbeaa6e282",
      "name": "Set empty text for unsupported type"
    },
    {
      "parameters": {
        "operation": "addComment"
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -10320,
        -3576
      ],
      "id": "f5aefb1e-0f57-4109-bf6d-f931420d2dd9",
      "name": "Warn large attachment",
      "credentials": {
        "trelloApi": {
          "id": "kZzKuYZRYXUfz3tQ",
          "name": "Trello account"
        }
      }
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-06-09T15:56:52.577Z",
      "createdAt": "2026-06-09T15:56:52.577Z",
      "role": "workflow:owner",
      "workflowId": "JLhCxHQq1kkDbAf2",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-09T17:24:04.546Z",
  "versionId": "2abc6920-6e73-43aa-8f78-4b2eedab67a9"
}