Production/[PRODUCTION] SendMessageByWhatsAppVanEscola - us4nJ96haGYVgTCp.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-27T16:50:56.963Z",
    "createdAt": "2025-11-27T16:50:56.963Z",
    "versionId": "fa175318-3926-495d-b4d1-db2c07f76709",
    "workflowId": "mlkuE6uz6K4kKQMq",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "c15bc760-68f5-4ba4-bcf3-38a5abcde96b",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "6b48c5d2-cdf7-455f-8729-6586962a252c",
        "name": "Webhook",
        "webhookId": "c15bc760-68f5-4ba4-bcf3-38a5abcde96b"
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "vanescola_support",
          "remoteJid": "={{ $json.body.phone }}",
          "messageText": "={{ $json.body.message }}",
          "options_message": {}
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          208,
          0
        ],
        "id": "09979de2-97a8-487d-a282-288755958c82",
        "name": "Enviar texto",
        "credentials": {
          "evolutionApi": {
            "id": "JasOokgkfQnZ96h2",
            "name": "Evolution account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": {{ $json.success }},\n  \"timestamp\": \"{{ $now }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          416,
          0
        ],
        "id": "6fc152b6-f25d-4777-bc69-5298a92923ae",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Enviar texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar texto": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "fa175318-3926-495d-b4d1-db2c07f76709",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-23T19:57:52.025Z",
  "id": "mlkuE6uz6K4kKQMq",
  "isArchived": false,
  "isProd": true,
  "meta": null,
  "name": "[PRODUCTION] SendMessageByWhatsAppVanEscola - us4nJ96haGYVgTCp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c15bc760-68f5-4ba4-bcf3-38a5abcde96b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -112
      ],
      "id": "6b48c5d2-cdf7-455f-8729-6586962a252c",
      "name": "Webhook",
      "webhookId": "c15bc760-68f5-4ba4-bcf3-38a5abcde96b"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": {{ $json.success }},\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        -112
      ],
      "id": "6fc152b6-f25d-4777-bc69-5298a92923ae",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jlLb6Przi1lyPt5o",
          "mode": "list",
          "cachedResultUrl": "/workflow/jlLb6Przi1lyPt5o",
          "cachedResultName": "WhatsApp message sender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evolutionInstanceName": "vanescola_support",
            "phoneNumber": "={{ $json.body.phone }}",
            "message": "={{ $json.body.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "evolutionInstanceName",
              "displayName": "evolutionInstanceName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        -112
      ],
      "id": "877b00e3-dc9d-45d4-bbd9-04dc1db307a1",
      "name": "Send message"
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-09-23T19:57:52.025Z",
      "createdAt": "2025-09-23T19:57:52.025Z",
      "role": "workflow:owner",
      "workflowId": "mlkuE6uz6K4kKQMq",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-13T15:19:31.582Z",
  "versionId": "88cbb441-02e3-4ff6-be7c-9a30558fe11a"
}