2025/07/[PRODUCTION] Resumee seeker - Ef99OOHtdPlONzhp.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-09T16:50:18.444Z",
    "createdAt": "2026-06-09T16:50:18.444Z",
    "versionId": "e78c7e71-e4e0-46e9-a24d-0cab1cdbad79",
    "workflowId": "ZfePaYYW4vJtlbC4",
    "nodes": [
      {
        "parameters": {
          "authentication": "basicAuth",
          "formTitle": "Processador de currículos",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Seu nome",
                "placeholder": "João Silva",
                "requiredField": true
              },
              {
                "fieldLabel": "Para quê é esta vaga?",
                "fieldType": "textarea",
                "placeholder": "Estágio em UX. Procura-se um candidato com um portifólio organizado e consistente...",
                "requiredField": true
              },
              {
                "fieldLabel": "Início de recebimento dos currículos",
                "fieldType": "date",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          -9840,
          -2456
        ],
        "id": "a2f37c9f-d52a-49ab-b865-19b6d27892ce",
        "name": "On form submission",
        "webhookId": "6d3b85f3-8782-4770-9062-0f90895a1af0",
        "credentials": {
          "httpBasicAuth": {
            "id": "oX6J1RdpqttuBfuf",
            "name": "n8n form credentials"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "returnAll": true,
          "simple": false,
          "filters": {
            "labelIds": [
              "Label_244298310841452940"
            ],
            "q": "=!from:me -subject:(re OR fwd OR reply OR fw)",
            "readStatus": "unread",
            "receivedAfter": "={{ $('On form submission').item.json[\"Início de recebimento dos currículos\"] }}"
          },
          "options": {
            "downloadAttachments": true
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -6704,
          -2456
        ],
        "id": "752eb577-3893-4581-9e70-81581ff21864",
        "name": "Retrieve recent e-mails",
        "webhookId": "2a828d60-151a-484a-abd9-fc60559668ef",
        "credentials": {
          "gmailOAuth2": {
            "id": "y1cHHwSTNlBKO2KQ",
            "name": "Gmail: contato@mobiltracker.com.br"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.trello.com/1/organizations/mobiltracker/boards",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "trelloApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -8496,
          -2456
        ],
        "id": "5d944423-f976-4185-a1ec-59ee62e8cb68",
        "name": "Retrieve boards",
        "credentials": {
          "trelloApi": {
            "id": "kZzKuYZRYXUfz3tQ",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "defineForm": "json",
          "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Quadro\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n        \"values\": {{ JSON.stringify($json.boards.map(board => ({ option: board.name }))) }}\n    },\n    \"requiredField\": true\n  }\n]",
          "limitWaitTime": true,
          "resumeAmount": 15,
          "resumeUnit": "minutes",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          -8048,
          -2456
        ],
        "id": "472c5eeb-5428-4968-a5de-3ea20ba05d5f",
        "name": "Request board",
        "webhookId": "a8c09bd7-6b3d-4bcf-906c-b2b05af798c1"
      },
      {
        "parameters": {
          "defineForm": "json",
          "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Lista\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n        \"values\": {{ JSON.stringify($('Aggregate lists').item.json.lists.filter(list => list.idBoard === $('Set board ID').item.json.boardId).map(list => ({\n          option: list.name\n        }))) }}\n    },\n    \"requiredField\": true\n  }\n]",
          "limitWaitTime": true,
          "resumeAmount": 15,
          "resumeUnit": "minutes",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          -7152,
          -2456
        ],
        "id": "db2caeef-23c7-4486-bd1d-bd6107560b65",
        "name": "Request list",
        "webhookId": "ac813c49-123c-4994-9f67-a103b579449c"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e03cce7b-1965-46c7-98fd-990d7b6e6934",
                "name": "boardId",
                "value": "={{ $('Aggregate boards').item.json.boards.find(board => board.name === $json.Quadro).id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -7824,
          -2456
        ],
        "id": "7a5335eb-81b7-4756-98f5-f228766a6bda",
        "name": "Set board ID"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "75bed2f3-111e-407c-a486-939fd30c69e3",
                "name": "listId",
                "value": "={{ $('Aggregate lists').item.json.lists.find(list => list.name === $json.Lista).id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -6928,
          -2456
        ],
        "id": "d0485059-a298-4609-8314-399998851d75",
        "name": "Set list ID"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "boards",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -8272,
          -2456
        ],
        "id": "d15dbef1-a136-4403-9544-4354cc1d1cae",
        "name": "Aggregate boards"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "lists",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -7376,
          -2456
        ],
        "id": "f97ca1e5-2b72-4627-b050-7b7da6f9b05f",
        "name": "Aggregate lists"
      },
      {
        "parameters": {
          "resource": "list",
          "operation": "getAll",
          "id": "={{ $json.boardId }}",
          "returnAll": true,
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.trello",
        "typeVersion": 1,
        "position": [
          -7600,
          -2456
        ],
        "id": "985335ec-02e7-449a-91b6-6fa4ada1ed57",
        "name": "Get lists in board",
        "credentials": {
          "trelloApi": {
            "id": "kZzKuYZRYXUfz3tQ",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "$binary",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -5584,
          -2216
        ],
        "id": "7ee55c07-91db-4777-826a-710f60ae3649",
        "name": "Split into individual attachments",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.trello.com/1/cards/{{ $('Refetch attachments').item.json.cardId }}/attachments",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "trelloApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "={{ Object.keys($binary)[0] }}"
              },
              {
                "name": "name",
                "value": "={{ $binary[Object.keys($binary)[0]].fileName }}"
              },
              {
                "name": "mimeType",
                "value": "={{ $binary[Object.keys($binary)[0]].mimeType }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1872,
          -2480
        ],
        "id": "0439e51d-81fb-4492-8a14-2b6d9d0f5946",
        "name": "Create attachment on card",
        "retryOnFail": true,
        "credentials": {
          "trelloApi": {
            "id": "kZzKuYZRYXUfz3tQ",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "81555266-a761-433e-9370-bb3f30e894e4",
                "name": "response",
                "value": "=Oi {{ $('Set candidate data').item.json.givenName }},\n\nEstamos confirmando o recebimento do seu currículo.\n\nAté mais.\n--\n{{ $('On form submission').item.json['Seu nome'] }} ",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1200,
          -2144
        ],
        "id": "97db8d07-1290-4e0f-9cb8-a09192e0cde5",
        "name": "Set e-mail response"
      },
      {
        "parameters": {
          "operation": "reply",
          "messageId": "={{ $('Loop over e-mails').item.json.id }}",
          "emailType": "text",
          "message": "={{ $json.response }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -80,
          -2576
        ],
        "id": "e1014fe1-ea0c-4ba5-9399-69612126eff0",
        "name": "Reply to a message",
        "webhookId": "c35692dc-8246-4ace-93d0-617551711f4d",
        "credentials": {
          "gmailOAuth2": {
            "id": "y1cHHwSTNlBKO2KQ",
            "name": "Gmail: contato@mobiltracker.com.br"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "770c9cab-93b8-4290-b01b-fa5bf221fb39",
                "name": "response",
                "value": "={{ $('Request e-mail response').item.json['E-mail a ser enviado'].trim().length > 0 ? $('Request e-mail response').item.json['E-mail a ser enviado'] : $('Set e-mail response').item.json.response }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -304,
          -2576
        ],
        "id": "532b1236-2039-4826-b583-56301099b5d4",
        "name": "Set definitive response"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -6032,
          -2456
        ],
        "id": "453b49af-f8ef-4f55-b797-6f59b7b244f4",
        "name": "Loop over e-mails"
      },
      {
        "parameters": {
          "operation": "completion",
          "respondWith": "redirect",
          "redirectUrl": "={{ $('Aggregate boards').item.json.boards.find(board => board.id === $('Set board ID').item.json.boardId).url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          -5808,
          -2064
        ],
        "id": "c55a391e-4ebc-4d7d-b468-68183f7ce1df",
        "name": "Wrap up",
        "webhookId": "e1d7d7ff-a287-4ab5-8615-c7562414aefe"
      },
      {
        "parameters": {
          "resource": "label",
          "returnAll": true
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          -9616,
          -2456
        ],
        "id": "320d24dd-b744-4ee6-9852-c2c36cd9eea2",
        "name": "Get many labels",
        "webhookId": "16e6cd95-2973-4c42-b6fa-70077c6aa004",
        "credentials": {
          "gmailOAuth2": {
            "id": "y1cHHwSTNlBKO2KQ",
            "name": "Gmail: contato@mobiltracker.com.br"
          }
        }
      },
      {
        "parameters": {
          "defineForm": "json",
          "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Rótulos a serem inseridos\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n        \"values\": {{ JSON.stringify($json.labels.map(label => ({ option: label.name }))) }}\n    },\n    \"requiredField\": true,\n    \"multiselect\": true\n  }\n]",
          "limitWaitTime": true,
          "resumeAmount": 15,
          "resumeUnit": "minutes",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          -8944,
          -2456
        ],
        "id": "570b5225-1dac-4d80-9f5b-8e277a59ce35",
        "name": "Request label(s) to be inserted",
        "webhookId": "de8fcb61-9abe-48c7-872c-ec61f53526ce"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "labels",
          "include": "specifiedFields",
          "fieldsToInclude": "id, name",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -9392,
          -2456
        ],
        "id": "39f7a202-4ca0-4105-9ef1-e178b41cc820",
        "name": "Aggregate labels"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d873b759-161a-4cd7-8915-28458889bb9d",
                "name": "labels",
                "value": "={{ $json.labels.filter(label => label.name.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').startsWith('estagio')) }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -9168,
          -2456
        ],
        "id": "3f1a8455-c863-42da-9f8c-0478cc198806",
        "name": "Filter labels"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a6e277cd-2179-460a-8834-0c2b592aa7a2",
                "name": "labelIds",
                "value": "={{ $('Filter labels').item.json.labels.filter(label => [].concat($('Request label(s) to be inserted').item.json['Rótulos a serem inseridos']).includes(label.name)).map(label => label.id) }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -8720,
          -2456
        ],
        "id": "135e3e01-51ef-4f71-8041-36533b1dde57",
        "name": "Set label IDs"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['Enviar e-mail (padrão: sim)'] }}",
                      "rightValue": "Sim",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "4a817276-4f4f-4660-b3c8-f6cf71b15449"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Yes"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "402aad7f-e32a-488a-8f29-9667d3619e74",
                      "leftValue": "={{ $json['Enviar e-mail (padrão: sim)'] }}",
                      "rightValue": "Não",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "No"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -528,
          -2160
        ],
        "id": "51310c31-d4a1-4cd5-8591-13aaa964f623",
        "name": "Route based on e-mail sending method"
      },
      {
        "parameters": {
          "listId": "={{ $('Set list ID').item.json.listId }}",
          "name": "={{ $('Set candidate data').item.json.fullName }}",
          "description": "=## E-mail\n**Remetente**: {{ $('Loop over e-mails').item.json.from.value[0].address }}\n**Título**: {{ $('Loop over e-mails').item.json.subject }}\n**Corpo**:\n> {{ $('Loop over e-mails').item.json.text }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.trello",
        "typeVersion": 1,
        "position": [
          -3216,
          -2096
        ],
        "id": "e87e9760-5a0b-492d-9f61-30c95cb78b6c",
        "name": "Create a card",
        "credentials": {
          "trelloApi": {
            "id": "kZzKuYZRYXUfz3tQ",
            "name": "Trello account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0f85581b-b921-41fe-87c5-e1c6382e585a",
                "name": "cardId",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2992,
          -2096
        ],
        "id": "ae4d58db-c1ad-45bf-8b40-dab6a93753af",
        "name": "Set card ID"
      },
      {
        "parameters": {
          "operation": "pdf",
          "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -4912,
          -2288
        ],
        "id": "defa18d2-aac2-453c-96df-8202e09fdd3d",
        "name": "Analyze PDF"
      },
      {
        "parameters": {
          "formFields": {
            "values": [
              {
                "fieldType": "html",
                "html": "<div>\n  Responda se deseja se o e-mail seja\n  enviado automática ou manualmente.<br>\n  Caso opte pelo envio automático, você pode editar\n  a resposta no campo abaixo, assim como pode, também, deixá-lo\n  em branco para utilizar o e-mail padrão gerado.\n  <br>\n  <b>Anexos</b>:\n  <ol>\n    {{ $('Set attachment list').isExecuted ? $('Set attachment list').item.json.attachmentList : \"- Nenhum.\" }}\n  </ol>\n  <br>\n  <b>Título</b>:\n  {{ $('Loop over e-mails').item.json.subject }}\n  <br>\n  <b>Corpo</b>:\n  {{ $('Loop over e-mails').item.json.textAsHtml }}\n</div>\n<br>\n\n<b>E-mail automático a ser enviado (pode ser editado abaixo)</b>:\n<div>\n  {{ $('Set e-mail response').item.json.response.replaceAll(\"\\n\", \"<br>\") }}\n</div>\n<br>\n<br>"
              },
              {
                "fieldLabel": "Enviar e-mail (padrão: sim)",
                "fieldType": "dropdown",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Sim"
                    },
                    {
                      "option": "Não"
                    }
                  ]
                }
              },
              {
                "fieldLabel": "E-mail a ser enviado",
                "fieldType": "textarea",
                "placeholder": "=Insira a resposta aqui ou deixe em branco para utilizar a padrão"
              }
            ]
          },
          "limitWaitTime": true,
          "resumeAmount": 15,
          "resumeUnit": "minutes",
          "options": {}
        },
        "type": "n8n-nodes-base.form",
        "typeVersion": 1,
        "position": [
          -752,
          -2144
        ],
        "id": "f761b3ce-8220-46cf-8b02-ab0fde8b8ec2",
        "name": "Request e-mail response",
        "webhookId": "5fbe52ee-a729-4d92-bc29-8f239a5f93c5"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "847a4a08-7529-4a82-bb7b-03e01fc62602",
                "name": "index",
                "value": "={{ $runIndex + 1 }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -976,
          -2144
        ],
        "id": "a0d964ee-6b8a-4a9e-b608-41ceb90c03b8",
        "name": "Set current index"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "include": "specifiedFields",
          "fieldsToInclude": "name, mimeType, url",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -1648,
          -2480
        ],
        "id": "1619c64b-be22-4e41-895c-13c60fb3c5ed",
        "name": "Aggregate upload URLs"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "4799cb46-2e88-4988-88f6-24c097a84dff",
                "name": "attachmentList",
                "value": "={{ $json.data.map(data => `<li><a href=\"${data.url}\">${data.name}</a></li>`).join(\"\\n\") }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1424,
          -2480
        ],
        "id": "9fd774db-d800-423f-befe-05fa19c0e3d2",
        "name": "Set attachment list"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c3035250-6f39-464f-b8ca-a951547f2570",
                "leftValue": "={{ $binary.isEmpty() }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -5808,
          -3008
        ],
        "id": "816300ed-3227-4a5c-8d75-e6a4d6a0de82",
        "name": "Are there no attachments?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "747fc5ba-7c14-4d81-b3e2-f83c0a8ed8f9",
                "leftValue": "={{ $('Loop over e-mails').item.binary.isNotEmpty() }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2768,
          -2096
        ],
        "id": "87c079da-90a9-46bc-8002-392421e04d0b",
        "name": "Are there any attachments?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                "name": "senderAddress",
                "value": "={{ $json.from.value[0].address }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -6480,
          -2456
        ],
        "id": "75faed90-364a-4323-9575-307a967f19eb",
        "name": "Extract sender address"
      },
      {
        "parameters": {
          "compare": "selectedFields",
          "fieldsToCompare": "senderAddress",
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          -6256,
          -2456
        ],
        "id": "bfdf6e12-d86a-4a95-a6b3-08c0bca1ca34",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "GPT-4O-MINI"
          },
          "responses": {
            "values": [
              {
                "role": "system",
                "content": "=### ROLE\nVocê é um assistente de RH. Sua única tarefa é identificar o nome completo e o nome de tratamento do candidato que enviou o e-mail.\n\n### INPUT DATA\n1. \"email_address\": Endereço de e-mail do remetente — use como principal indicador do nome do candidato.\n2. \"attachment_filenames\": Nomes dos arquivos anexados — geralmente contêm o nome do candidato.\n3. \"email_body\": Corpo do e-mail escrito pelo candidato.\n4. \"resume_content\": Texto extraído dos anexos — pode conter nomes de terceiros; use com cautela.\n\n### PRIORITY\nPara identificar o candidato, siga esta ordem de confiança:\n1. email_address (mais confiável)\n2. attachment_filenames\n3. email_body (assinatura ou apresentação)\n4. resume_content (menos confiável — pode conter nomes de referencias ou outras pessoas)\n\n### CONSTRAINTS\n- O output deve ser EXCLUSIVAMENTE um objeto JSON, sem caracteres adicionais, delimitadores ou comentários.\n\n### OUTPUT FORMAT (JSON)\n{\n  \"givenName\": \"Nome de tratamento (primeiro nome ou como o candidato se apresenta)\",\n  \"fullName\": \"Nome completo do candidato\"\n}"
              },
              {
                "content": "={\n  \"email_address\": {{ ($('Loop over e-mails').item.json.from?.value?.[0]?.address ?? '').toJsonString() }},\n  \"attachment_filenames\": {{ JSON.stringify(Object.values($('Loop over e-mails').item.binary ?? {}).map(b => b.fileName).filter(Boolean)) }},\n  \"email_body\": {{ ($('Loop over e-mails').item.json.text ?? '').toJsonString() }},\n  \"resume_content\": {{ $json.texts.toJsonString() }}\n}"
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2,
        "position": [
          -4016,
          -2216
        ],
        "id": "104eccf1-ce81-4685-82a6-3fc375751084",
        "name": "Summarize resumee",
        "credentials": {
          "openAiApi": {
            "id": "FUKiKElzoP4Yvxlo",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.item.json.output[0].content[0].text;\nconst cleaned = raw.replace(/^```json\\n?|^```\\n?|```$/g, '').trim();\ntry {\n  const parsed = JSON.parse(cleaned);\n  return [{ json: { givenName: parsed.givenName, fullName: parsed.fullName } }];\n} catch (e) {\n  throw new Error('Failed to parse AI response: ' + e.message + '. Raw output: ' + raw.substring(0, 300));\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3664,
          -2216
        ],
        "id": "7fe97811-238e-4842-a5f0-21cacbdfcf0e",
        "name": "Set candidate data"
      },
      {
        "parameters": {
          "operation": "addLabels",
          "messageId": "={{ $('Loop over e-mails').item.json.id }}",
          "labelIds": "={{ $('Set label IDs').item.json.labelIds }}"
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          592,
          -2024
        ],
        "id": "0b746507-f574-47f6-ba81-12a9b45bf270",
        "name": "Add label to message",
        "webhookId": "b35418a9-398f-4e58-84f6-bea3bebb8f9a",
        "credentials": {
          "gmailOAuth2": {
            "id": "y1cHHwSTNlBKO2KQ",
            "name": "Gmail: contato@mobiltracker.com.br"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "$binary",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -2320,
          -2976
        ],
        "id": "2d074945-940f-4ece-8b74-41c079714f32",
        "name": "Split attachments"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -2544,
          -2976
        ],
        "id": "58562c17-5be5-4c0b-bbec-1c5f7bb1210f",
        "name": "Refetch attachments"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -3440,
          -2664
        ],
        "id": "1d310f5d-f5e5-4895-a3d6-d4fd3ce9126f",
        "name": "Fetch attachments"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ Object.values($binary)[0].mimeType }}",
                      "rightValue": "application/pdf",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "a19864fc-62ce-4b1f-b99f-542cfa795fa5"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "PDF"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c4499a5a-d6e7-4980-9dc9-41d3bcf47bd6",
                      "leftValue": "={{ Object.values($binary)[0].mimeType }}",
                      "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "DOCX"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "da4da715-6b8a-4024-bded-0b9343911a6b",
                      "leftValue": "={{ Object.values($binary)[0].mimeType }}",
                      "rightValue": "text/plain",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Plain text"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -5136,
          -2616
        ],
        "id": "0fb5fcfc-cb0d-45a6-8e79-7121112cbf89",
        "name": "Route based on mimetype"
      },
      {
        "parameters": {
          "inputBinaryField": "={{ Object.keys($binary)[0] }}"
        },
        "type": "n8n-nodes-docx-converter.docxToText",
        "typeVersion": 1,
        "position": [
          -4912,
          -2864
        ],
        "id": "b5544598-70e2-4eac-a18c-84358ac6a2ac",
        "name": "DOCX to Text"
      },
      {
        "parameters": {
          "operation": "text",
          "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
          "destinationKey": "text",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          -4912,
          -2672
        ],
        "id": "3861582b-acf0-4d96-9077-f28d28cf0e27",
        "name": "Extract text from plain text"
      },
      {
        "parameters": {
          "options": {
            "reset": "={{ $(\"Loop over attachments\").context.noItemsLeft }}"
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -5360,
          -2216
        ],
        "id": "58380eec-027d-4516-80b7-bbda5e5ec649",
        "name": "Loop over attachments"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f3ff3670-56a6-400e-b334-b91f93194dc4",
                "leftValue": "={{ $('Loop over attachments').context.noItemsLeft }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -4464,
          -2216
        ],
        "id": "25b4663e-40ee-4e0b-bf1d-d7e6cef47cb8",
        "name": "Done looping through attachments?"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -4688,
          -2664
        ],
        "id": "7e9af4e9-8d3d-4516-b6e8-998a6ba2bbb9",
        "name": "Receive texts"
      },
      {
        "parameters": {
          "jsCode": "let results = [];\nlet counter = 0;\n\ndo {\n  try {\n    const texts = $(\"Receive texts\")\n      .all(0, counter)\n      .map((item) => item.json.text);\n    results = [...results, ...texts];\n  } catch (error) {\n    return { texts: results };\n  }\n  counter++;\n} while (true);\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -4240,
          -2216
        ],
        "id": "0bfde23e-c68b-49f9-901d-df80c3a25b0d",
        "name": "Merge runs into a single text array",
        "executeOnce": false
      },
      {
        "parameters": {
          "operation": "markAsRead",
          "messageId": "={{ $('Loop over e-mails').item.json.id }}"
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          368,
          -2624
        ],
        "id": "47827408-1363-4757-9c3b-e091e22fc330",
        "name": "Mark candidate message as read",
        "webhookId": "aeb30d54-395e-413a-bb1a-a228fffbcce2",
        "credentials": {
          "gmailOAuth2": {
            "id": "y1cHHwSTNlBKO2KQ",
            "name": "Gmail: contato@mobiltracker.com.br"
          }
        }
      },
      {
        "parameters": {
          "operation": "markAsRead",
          "messageId": "={{ $json.id }}"
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          144,
          -2576
        ],
        "id": "2cd9e730-26e1-45c1-8be2-0cc42acecb6f",
        "name": "Mark response as read",
        "webhookId": "4b447eed-627b-4cce-9251-8f2799b22707",
        "credentials": {
          "gmailOAuth2": {
            "id": "y1cHHwSTNlBKO2KQ",
            "name": "Gmail: contato@mobiltracker.com.br"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "78d2f9bd-6ae5-4269-a63d-42f5b73f0295",
                "leftValue": "={{ Object.values($binary)[0].bytes }}",
                "rightValue": "={{ 10 * 1048576 }}",
                "operator": {
                  "type": "number",
                  "operation": "lt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2096,
          -2976
        ],
        "id": "abc4f100-ed3b-4872-a524-51821284f305",
        "name": "Keep files that are not too large"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c3d4e5f6-a7b8-9012-cdef-ab3456789012",
                "name": "text",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -4912,
          -2480
        ],
        "id": "0792f10d-a48b-47cc-8f19-ae8075b00a68",
        "name": "Set empty text for unsupported type"
      },
      {
        "parameters": {
          "operation": "addComment"
        },
        "type": "n8n-nodes-base.trello",
        "typeVersion": 1,
        "position": [
          -1872,
          -2984
        ],
        "id": "9cdc40e1-73ec-4729-9f87-b1fa7c060670",
        "name": "Warn large attachment",
        "credentials": {
          "trelloApi": {
            "id": "kZzKuYZRYXUfz3tQ",
            "name": "Trello account"
          }
        }
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "Get many labels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve recent e-mails": {
        "main": [
          [
            {
              "node": "Extract sender address",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract sender address": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve boards": {
        "main": [
          [
            {
              "node": "Aggregate boards",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Request board": {
        "main": [
          [
            {
              "node": "Set board ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set board ID": {
        "main": [
          [
            {
              "node": "Get lists in board",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Request list": {
        "main": [
          [
            {
              "node": "Set list ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set list ID": {
        "main": [
          [
            {
              "node": "Retrieve recent e-mails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate boards": {
        "main": [
          [
            {
              "node": "Request board",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate lists": {
        "main": [
          [
            {
              "node": "Request list",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get lists in board": {
        "main": [
          [
            {
              "node": "Aggregate lists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split into individual attachments": {
        "main": [
          [
            {
              "node": "Loop over attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create attachment on card": {
        "main": [
          [
            {
              "node": "Aggregate upload URLs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set e-mail response": {
        "main": [
          [
            {
              "node": "Set current index",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to a message": {
        "main": [
          [
            {
              "node": "Mark response as read",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set definitive response": {
        "main": [
          [
            {
              "node": "Reply to a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop over e-mails": {
        "main": [
          [
            {
              "node": "Wrap up",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Are there no attachments?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many labels": {
        "main": [
          [
            {
              "node": "Aggregate labels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Request label(s) to be inserted": {
        "main": [
          [
            {
              "node": "Set label IDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate labels": {
        "main": [
          [
            {
              "node": "Filter labels",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter labels": {
        "main": [
          [
            {
              "node": "Request label(s) to be inserted",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set label IDs": {
        "main": [
          [
            {
              "node": "Retrieve boards",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route based on e-mail sending method": {
        "main": [
          [
            {
              "node": "Set definitive response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Mark candidate message as read",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set definitive response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a card": {
        "main": [
          [
            {
              "node": "Set card ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set card ID": {
        "main": [
          [
            {
              "node": "Are there any attachments?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze PDF": {
        "main": [
          [
            {
              "node": "Receive texts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Request e-mail response": {
        "main": [
          [
            {
              "node": "Route based on e-mail sending method",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set current index": {
        "main": [
          [
            {
              "node": "Request e-mail response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate upload URLs": {
        "main": [
          [
            {
              "node": "Set attachment list",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set attachment list": {
        "main": [
          [
            {
              "node": "Set e-mail response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Are there no attachments?": {
        "main": [
          [
            {
              "node": "Mark candidate message as read",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Split into individual attachments",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch attachments",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Are there any attachments?": {
        "main": [
          [
            {
              "node": "Refetch attachments",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set e-mail response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Loop over e-mails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize resumee": {
        "main": [
          [
            {
              "node": "Set candidate data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set candidate data": {
        "main": [
          [
            {
              "node": "Fetch attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add label to message": {
        "main": [
          [
            {
              "node": "Loop over e-mails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split attachments": {
        "main": [
          [
            {
              "node": "Keep files that are not too large",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Refetch attachments": {
        "main": [
          [
            {
              "node": "Split attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch attachments": {
        "main": [
          [
            {
              "node": "Create a card",
              "type": "main",
              "index": 0
            },
            {
              "node": "Refetch attachments",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Route based on mimetype": {
        "main": [
          [
            {
              "node": "Analyze PDF",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "DOCX to Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract text from plain text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set empty text for unsupported type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DOCX to Text": {
        "main": [
          [
            {
              "node": "Receive texts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract text from plain text": {
        "main": [
          [
            {
              "node": "Receive texts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop over attachments": {
        "main": [
          [
            {
              "node": "Done looping through attachments?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Route based on mimetype",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Done looping through attachments?": {
        "main": [
          [
            {
              "node": "Merge runs into a single text array",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop over attachments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Receive texts": {
        "main": [
          [
            {
              "node": "Done looping through attachments?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge runs into a single text array": {
        "main": [
          [
            {
              "node": "Summarize resumee",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark candidate message as read": {
        "main": [
          [
            {
              "node": "Add label to message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark response as read": {
        "main": [
          [
            {
              "node": "Mark candidate message as read",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Keep files that are not too large": {
        "main": [
          [
            {
              "node": "Create attachment on card",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Warn large attachment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set empty text for unsupported type": {
        "main": [
          [
            {
              "node": "Receive texts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Contato Mobiltracker",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "e78c7e71-e4e0-46e9-a24d-0cab1cdbad79",
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Get many labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve recent e-mails": {
      "main": [
        [
          {
            "node": "Extract sender address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract sender address": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve boards": {
      "main": [
        [
          {
            "node": "Aggregate boards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request board": {
      "main": [
        [
          {
            "node": "Set board ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set board ID": {
      "main": [
        [
          {
            "node": "Get lists in board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request list": {
      "main": [
        [
          {
            "node": "Set list ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set list ID": {
      "main": [
        [
          {
            "node": "Retrieve recent e-mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate boards": {
      "main": [
        [
          {
            "node": "Request board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate lists": {
      "main": [
        [
          {
            "node": "Request list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get lists in board": {
      "main": [
        [
          {
            "node": "Aggregate lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into individual attachments": {
      "main": [
        [
          {
            "node": "Loop over attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create attachment on card": {
      "main": [
        [
          {
            "node": "Aggregate upload URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set e-mail response": {
      "main": [
        [
          {
            "node": "Set current index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Mark response as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set definitive response": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over e-mails": {
      "main": [
        [
          {
            "node": "Wrap up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Are there no attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels": {
      "main": [
        [
          {
            "node": "Aggregate labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request label(s) to be inserted": {
      "main": [
        [
          {
            "node": "Set label IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate labels": {
      "main": [
        [
          {
            "node": "Filter labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter labels": {
      "main": [
        [
          {
            "node": "Request label(s) to be inserted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set label IDs": {
      "main": [
        [
          {
            "node": "Retrieve boards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route based on e-mail sending method": {
      "main": [
        [
          {
            "node": "Set definitive response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark candidate message as read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set definitive response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a card": {
      "main": [
        [
          {
            "node": "Set card ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set card ID": {
      "main": [
        [
          {
            "node": "Are there any attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze PDF": {
      "main": [
        [
          {
            "node": "Receive texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request e-mail response": {
      "main": [
        [
          {
            "node": "Route based on e-mail sending method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set current index": {
      "main": [
        [
          {
            "node": "Request e-mail response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate upload URLs": {
      "main": [
        [
          {
            "node": "Set attachment list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set attachment list": {
      "main": [
        [
          {
            "node": "Set e-mail response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Are there no attachments?": {
      "main": [
        [
          {
            "node": "Mark candidate message as read",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split into individual attachments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch attachments",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Are there any attachments?": {
      "main": [
        [
          {
            "node": "Refetch attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set e-mail response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop over e-mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize resumee": {
      "main": [
        [
          {
            "node": "Set candidate data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set candidate data": {
      "main": [
        [
          {
            "node": "Fetch attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Loop over e-mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split attachments": {
      "main": [
        [
          {
            "node": "Keep files that are not too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refetch attachments": {
      "main": [
        [
          {
            "node": "Split attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch attachments": {
      "main": [
        [
          {
            "node": "Create a card",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refetch attachments",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Route based on mimetype": {
      "main": [
        [
          {
            "node": "Analyze PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DOCX to Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract text from plain text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set empty text for unsupported type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOCX to Text": {
      "main": [
        [
          {
            "node": "Receive texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from plain text": {
      "main": [
        [
          {
            "node": "Receive texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over attachments": {
      "main": [
        [
          {
            "node": "Done looping through attachments?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route based on mimetype",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Done looping through attachments?": {
      "main": [
        [
          {
            "node": "Merge runs into a single text array",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop over attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive texts": {
      "main": [
        [
          {
            "node": "Done looping through attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge runs into a single text array": {
      "main": [
        [
          {
            "node": "Summarize resumee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark candidate message as read": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark response as read": {
      "main": [
        [
          {
            "node": "Mark candidate message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep files that are not too large": {
      "main": [
        [
          {
            "node": "Create attachment on card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Warn large attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set empty text for unsupported type": {
      "main": [
        [
          {
            "node": "Receive texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-16T15:20:54.680Z",
  "id": "ZfePaYYW4vJtlbC4",
  "isArchived": false,
  "meta": null,
  "name": "[PRODUCTION] Resumee seeker - Ef99OOHtdPlONzhp",
  "nodes": [
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Processador de currículos",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Seu nome",
              "placeholder": "João Silva",
              "requiredField": true
            },
            {
              "fieldLabel": "Para quê é esta vaga?",
              "fieldType": "textarea",
              "placeholder": "Estágio em UX. Procura-se um candidato com um portifólio organizado e consistente...",
              "requiredField": true
            },
            {
              "fieldLabel": "Início de recebimento dos currículos",
              "fieldType": "date",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -9840,
        -2456
      ],
      "id": "a2f37c9f-d52a-49ab-b865-19b6d27892ce",
      "name": "On form submission",
      "webhookId": "6d3b85f3-8782-4770-9062-0f90895a1af0",
      "credentials": {
        "httpBasicAuth": {
          "id": "oX6J1RdpqttuBfuf",
          "name": "n8n form credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_244298310841452940"
          ],
          "q": "=!from:me -subject:(re OR fwd OR reply OR fw)",
          "readStatus": "unread",
          "receivedAfter": "={{ $('On form submission').item.json[\"Início de recebimento dos currículos\"] }}"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -6704,
        -2456
      ],
      "id": "752eb577-3893-4581-9e70-81581ff21864",
      "name": "Retrieve recent e-mails",
      "webhookId": "2a828d60-151a-484a-abd9-fc60559668ef",
      "credentials": {
        "gmailOAuth2": {
          "id": "y1cHHwSTNlBKO2KQ",
          "name": "Gmail: contato@mobiltracker.com.br"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.trello.com/1/organizations/mobiltracker/boards",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8496,
        -2456
      ],
      "id": "5d944423-f976-4185-a1ec-59ee62e8cb68",
      "name": "Retrieve boards",
      "credentials": {
        "trelloApi": {
          "id": "kZzKuYZRYXUfz3tQ",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Quadro\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n        \"values\": {{ JSON.stringify($json.boards.map(board => ({ option: board.name }))) }}\n    },\n    \"requiredField\": true\n  }\n]",
        "limitWaitTime": true,
        "resumeAmount": 15,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -8048,
        -2456
      ],
      "id": "472c5eeb-5428-4968-a5de-3ea20ba05d5f",
      "name": "Request board",
      "webhookId": "a8c09bd7-6b3d-4bcf-906c-b2b05af798c1"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Lista\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n        \"values\": {{ JSON.stringify($('Aggregate lists').item.json.lists.filter(list => list.idBoard === $('Set board ID').item.json.boardId).map(list => ({\n          option: list.name\n        }))) }}\n    },\n    \"requiredField\": true\n  }\n]",
        "limitWaitTime": true,
        "resumeAmount": 15,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -7152,
        -2456
      ],
      "id": "db2caeef-23c7-4486-bd1d-bd6107560b65",
      "name": "Request list",
      "webhookId": "ac813c49-123c-4994-9f67-a103b579449c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e03cce7b-1965-46c7-98fd-990d7b6e6934",
              "name": "boardId",
              "value": "={{ $('Aggregate boards').item.json.boards.find(board => board.name === $json.Quadro).id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7824,
        -2456
      ],
      "id": "7a5335eb-81b7-4756-98f5-f228766a6bda",
      "name": "Set board ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75bed2f3-111e-407c-a486-939fd30c69e3",
              "name": "listId",
              "value": "={{ $('Aggregate lists').item.json.lists.find(list => list.name === $json.Lista).id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6928,
        -2456
      ],
      "id": "d0485059-a298-4609-8314-399998851d75",
      "name": "Set list ID"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "boards",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -8272,
        -2456
      ],
      "id": "d15dbef1-a136-4403-9544-4354cc1d1cae",
      "name": "Aggregate boards"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "lists",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -7376,
        -2456
      ],
      "id": "f97ca1e5-2b72-4627-b050-7b7da6f9b05f",
      "name": "Aggregate lists"
    },
    {
      "parameters": {
        "resource": "list",
        "operation": "getAll",
        "id": "={{ $json.boardId }}",
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -7600,
        -2456
      ],
      "id": "985335ec-02e7-449a-91b6-6fa4ada1ed57",
      "name": "Get lists in board",
      "credentials": {
        "trelloApi": {
          "id": "kZzKuYZRYXUfz3tQ",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -5584,
        -2216
      ],
      "id": "7ee55c07-91db-4777-826a-710f60ae3649",
      "name": "Split into individual attachments",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.trello.com/1/cards/{{ $('Refetch attachments').item.json.cardId }}/attachments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "trelloApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "={{ Object.keys($binary)[0] }}"
            },
            {
              "name": "name",
              "value": "={{ $binary[Object.keys($binary)[0]].fileName }}"
            },
            {
              "name": "mimeType",
              "value": "={{ $binary[Object.keys($binary)[0]].mimeType }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1872,
        -2480
      ],
      "id": "0439e51d-81fb-4492-8a14-2b6d9d0f5946",
      "name": "Create attachment on card",
      "retryOnFail": true,
      "credentials": {
        "trelloApi": {
          "id": "kZzKuYZRYXUfz3tQ",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81555266-a761-433e-9370-bb3f30e894e4",
              "name": "response",
              "value": "=Oi {{ $('Set candidate data').item.json.givenName }},\n\nEstamos confirmando o recebimento do seu currículo.\n\nAté mais.\n--\n{{ $('On form submission').item.json['Seu nome'] }} ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        -2144
      ],
      "id": "97db8d07-1290-4e0f-9cb8-a09192e0cde5",
      "name": "Set e-mail response"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Loop over e-mails').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -80,
        -2576
      ],
      "id": "e1014fe1-ea0c-4ba5-9399-69612126eff0",
      "name": "Reply to a message",
      "webhookId": "c35692dc-8246-4ace-93d0-617551711f4d",
      "credentials": {
        "gmailOAuth2": {
          "id": "y1cHHwSTNlBKO2KQ",
          "name": "Gmail: contato@mobiltracker.com.br"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "770c9cab-93b8-4290-b01b-fa5bf221fb39",
              "name": "response",
              "value": "={{ $('Request e-mail response').item.json['E-mail a ser enviado'].trim().length > 0 ? $('Request e-mail response').item.json['E-mail a ser enviado'] : $('Set e-mail response').item.json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -2576
      ],
      "id": "532b1236-2039-4826-b583-56301099b5d4",
      "name": "Set definitive response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -6032,
        -2456
      ],
      "id": "453b49af-f8ef-4f55-b797-6f59b7b244f4",
      "name": "Loop over e-mails"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "redirect",
        "redirectUrl": "={{ $('Aggregate boards').item.json.boards.find(board => board.id === $('Set board ID').item.json.boardId).url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -5808,
        -2064
      ],
      "id": "c55a391e-4ebc-4d7d-b468-68183f7ce1df",
      "name": "Wrap up",
      "webhookId": "e1d7d7ff-a287-4ab5-8615-c7562414aefe"
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -9616,
        -2456
      ],
      "id": "320d24dd-b744-4ee6-9852-c2c36cd9eea2",
      "name": "Get many labels",
      "webhookId": "16e6cd95-2973-4c42-b6fa-70077c6aa004",
      "credentials": {
        "gmailOAuth2": {
          "id": "y1cHHwSTNlBKO2KQ",
          "name": "Gmail: contato@mobiltracker.com.br"
        }
      }
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n  {\n    \"fieldLabel\": \"Rótulos a serem inseridos\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n        \"values\": {{ JSON.stringify($json.labels.map(label => ({ option: label.name }))) }}\n    },\n    \"requiredField\": true,\n    \"multiselect\": true\n  }\n]",
        "limitWaitTime": true,
        "resumeAmount": 15,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -8944,
        -2456
      ],
      "id": "570b5225-1dac-4d80-9f5b-8e277a59ce35",
      "name": "Request label(s) to be inserted",
      "webhookId": "de8fcb61-9abe-48c7-872c-ec61f53526ce"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "labels",
        "include": "specifiedFields",
        "fieldsToInclude": "id, name",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -9392,
        -2456
      ],
      "id": "39f7a202-4ca0-4105-9ef1-e178b41cc820",
      "name": "Aggregate labels"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d873b759-161a-4cd7-8915-28458889bb9d",
              "name": "labels",
              "value": "={{ $json.labels.filter(label => label.name.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').startsWith('estagio')) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9168,
        -2456
      ],
      "id": "3f1a8455-c863-42da-9f8c-0478cc198806",
      "name": "Filter labels"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6e277cd-2179-460a-8834-0c2b592aa7a2",
              "name": "labelIds",
              "value": "={{ $('Filter labels').item.json.labels.filter(label => [].concat($('Request label(s) to be inserted').item.json['Rótulos a serem inseridos']).includes(label.name)).map(label => label.id) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8720,
        -2456
      ],
      "id": "135e3e01-51ef-4f71-8041-36533b1dde57",
      "name": "Set label IDs"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Enviar e-mail (padrão: sim)'] }}",
                    "rightValue": "Sim",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4a817276-4f4f-4660-b3c8-f6cf71b15449"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Yes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "402aad7f-e32a-488a-8f29-9667d3619e74",
                    "leftValue": "={{ $json['Enviar e-mail (padrão: sim)'] }}",
                    "rightValue": "Não",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -528,
        -2160
      ],
      "id": "51310c31-d4a1-4cd5-8591-13aaa964f623",
      "name": "Route based on e-mail sending method"
    },
    {
      "parameters": {
        "listId": "={{ $('Set list ID').item.json.listId }}",
        "name": "={{ $('Set candidate data').item.json.fullName }}",
        "description": "=## E-mail\n**Remetente**: {{ $('Loop over e-mails').item.json.from.value[0].address }}\n**Título**: {{ $('Loop over e-mails').item.json.subject }}\n**Corpo**:\n> {{ $('Loop over e-mails').item.json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -3216,
        -2096
      ],
      "id": "e87e9760-5a0b-492d-9f61-30c95cb78b6c",
      "name": "Create a card",
      "credentials": {
        "trelloApi": {
          "id": "kZzKuYZRYXUfz3tQ",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f85581b-b921-41fe-87c5-e1c6382e585a",
              "name": "cardId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2992,
        -2096
      ],
      "id": "ae4d58db-c1ad-45bf-8b40-dab6a93753af",
      "name": "Set card ID"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -4912,
        -2288
      ],
      "id": "defa18d2-aac2-453c-96df-8202e09fdd3d",
      "name": "Analyze PDF"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldType": "html",
              "html": "<div>\n  Responda se deseja se o e-mail seja\n  enviado automática ou manualmente.<br>\n  Caso opte pelo envio automático, você pode editar\n  a resposta no campo abaixo, assim como pode, também, deixá-lo\n  em branco para utilizar o e-mail padrão gerado.\n  <br>\n  <b>Anexos</b>:\n  <ol>\n    {{ $('Set attachment list').isExecuted ? $('Set attachment list').item.json.attachmentList : \"- Nenhum.\" }}\n  </ol>\n  <br>\n  <b>Título</b>:\n  {{ $('Loop over e-mails').item.json.subject }}\n  <br>\n  <b>Corpo</b>:\n  {{ $('Loop over e-mails').item.json.textAsHtml }}\n</div>\n<br>\n\n<b>E-mail automático a ser enviado (pode ser editado abaixo)</b>:\n<div>\n  {{ $('Set e-mail response').item.json.response.replaceAll(\"\\n\", \"<br>\") }}\n</div>\n<br>\n<br>"
            },
            {
              "fieldLabel": "Enviar e-mail (padrão: sim)",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Sim"
                  },
                  {
                    "option": "Não"
                  }
                ]
              }
            },
            {
              "fieldLabel": "E-mail a ser enviado",
              "fieldType": "textarea",
              "placeholder": "=Insira a resposta aqui ou deixe em branco para utilizar a padrão"
            }
          ]
        },
        "limitWaitTime": true,
        "resumeAmount": 15,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -752,
        -2144
      ],
      "id": "f761b3ce-8220-46cf-8b02-ab0fde8b8ec2",
      "name": "Request e-mail response",
      "webhookId": "5fbe52ee-a729-4d92-bc29-8f239a5f93c5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "847a4a08-7529-4a82-bb7b-03e01fc62602",
              "name": "index",
              "value": "={{ $runIndex + 1 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        -2144
      ],
      "id": "a0d964ee-6b8a-4a9e-b608-41ceb90c03b8",
      "name": "Set current index"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "name, mimeType, url",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1648,
        -2480
      ],
      "id": "1619c64b-be22-4e41-895c-13c60fb3c5ed",
      "name": "Aggregate upload URLs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4799cb46-2e88-4988-88f6-24c097a84dff",
              "name": "attachmentList",
              "value": "={{ $json.data.map(data => `<li><a href=\"${data.url}\">${data.name}</a></li>`).join(\"\\n\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1424,
        -2480
      ],
      "id": "9fd774db-d800-423f-befe-05fa19c0e3d2",
      "name": "Set attachment list"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c3035250-6f39-464f-b8ca-a951547f2570",
              "leftValue": "={{ $binary.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5808,
        -3008
      ],
      "id": "816300ed-3227-4a5c-8d75-e6a4d6a0de82",
      "name": "Are there no attachments?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "747fc5ba-7c14-4d81-b3e2-f83c0a8ed8f9",
              "leftValue": "={{ $('Loop over e-mails').item.binary.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2768,
        -2096
      ],
      "id": "87c079da-90a9-46bc-8002-392421e04d0b",
      "name": "Are there any attachments?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "senderAddress",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6480,
        -2456
      ],
      "id": "75faed90-364a-4323-9575-307a967f19eb",
      "name": "Extract sender address"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "senderAddress",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -6256,
        -2456
      ],
      "id": "bfdf6e12-d86a-4a95-a6b3-08c0bca1ca34",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=### ROLE\nVocê é um assistente de RH. Sua única tarefa é identificar o nome completo e o nome de tratamento do candidato que enviou o e-mail.\n\n### INPUT DATA\n1. \"email_address\": Endereço de e-mail do remetente — use como principal indicador do nome do candidato.\n2. \"attachment_filenames\": Nomes dos arquivos anexados — geralmente contêm o nome do candidato.\n3. \"email_body\": Corpo do e-mail escrito pelo candidato.\n4. \"resume_content\": Texto extraído dos anexos — pode conter nomes de terceiros; use com cautela.\n\n### PRIORITY\nPara identificar o candidato, siga esta ordem de confiança:\n1. email_address (mais confiável)\n2. attachment_filenames\n3. email_body (assinatura ou apresentação)\n4. resume_content (menos confiável — pode conter nomes de referencias ou outras pessoas)\n\n### CONSTRAINTS\n- O output deve ser EXCLUSIVAMENTE um objeto JSON, sem caracteres adicionais, delimitadores ou comentários.\n\n### OUTPUT FORMAT (JSON)\n{\n  \"givenName\": \"Nome de tratamento (primeiro nome ou como o candidato se apresenta)\",\n  \"fullName\": \"Nome completo do candidato\"\n}"
            },
            {
              "content": "={\n  \"email_address\": {{ ($('Loop over e-mails').item.json.from?.value?.[0]?.address ?? '').toJsonString() }},\n  \"attachment_filenames\": {{ JSON.stringify(Object.values($('Loop over e-mails').item.binary ?? {}).map(b => b.fileName).filter(Boolean)) }},\n  \"email_body\": {{ ($('Loop over e-mails').item.json.text ?? '').toJsonString() }},\n  \"resume_content\": {{ $json.texts.toJsonString() }}\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -4016,
        -2216
      ],
      "id": "104eccf1-ce81-4685-82a6-3fc375751084",
      "name": "Summarize resumee",
      "credentials": {
        "openAiApi": {
          "id": "FUKiKElzoP4Yvxlo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.output[0].content[0].text;\nconst cleaned = raw.replace(/^```json\\n?|^```\\n?|```$/g, '').trim();\ntry {\n  const parsed = JSON.parse(cleaned);\n  return [{ json: { givenName: parsed.givenName, fullName: parsed.fullName } }];\n} catch (e) {\n  throw new Error('Failed to parse AI response: ' + e.message + '. Raw output: ' + raw.substring(0, 300));\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3664,
        -2216
      ],
      "id": "7fe97811-238e-4842-a5f0-21cacbdfcf0e",
      "name": "Set candidate data"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Loop over e-mails').item.json.id }}",
        "labelIds": "={{ $('Set label IDs').item.json.labelIds }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        592,
        -2024
      ],
      "id": "0b746507-f574-47f6-ba81-12a9b45bf270",
      "name": "Add label to message",
      "webhookId": "b35418a9-398f-4e58-84f6-bea3bebb8f9a",
      "credentials": {
        "gmailOAuth2": {
          "id": "y1cHHwSTNlBKO2KQ",
          "name": "Gmail: contato@mobiltracker.com.br"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2320,
        -2976
      ],
      "id": "2d074945-940f-4ece-8b74-41c079714f32",
      "name": "Split attachments"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2544,
        -2976
      ],
      "id": "58562c17-5be5-4c0b-bbec-1c5f7bb1210f",
      "name": "Refetch attachments"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3440,
        -2664
      ],
      "id": "1d310f5d-f5e5-4895-a3d6-d4fd3ce9126f",
      "name": "Fetch attachments"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ Object.values($binary)[0].mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a19864fc-62ce-4b1f-b99f-542cfa795fa5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4499a5a-d6e7-4980-9dc9-41d3bcf47bd6",
                    "leftValue": "={{ Object.values($binary)[0].mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "da4da715-6b8a-4024-bded-0b9343911a6b",
                    "leftValue": "={{ Object.values($binary)[0].mimeType }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Plain text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -5136,
        -2616
      ],
      "id": "0fb5fcfc-cb0d-45a6-8e79-7121112cbf89",
      "name": "Route based on mimetype"
    },
    {
      "parameters": {
        "inputBinaryField": "={{ Object.keys($binary)[0] }}"
      },
      "type": "n8n-nodes-docx-converter.docxToText",
      "typeVersion": 1,
      "position": [
        -4912,
        -2864
      ],
      "id": "b5544598-70e2-4eac-a18c-84358ac6a2ac",
      "name": "DOCX to Text"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "={{ Object.keys($binary)[0] }}",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -4912,
        -2672
      ],
      "id": "3861582b-acf0-4d96-9077-f28d28cf0e27",
      "name": "Extract text from plain text"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $(\"Loop over attachments\").context.noItemsLeft }}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -5360,
        -2216
      ],
      "id": "58380eec-027d-4516-80b7-bbda5e5ec649",
      "name": "Loop over attachments"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f3ff3670-56a6-400e-b334-b91f93194dc4",
              "leftValue": "={{ $('Loop over attachments').context.noItemsLeft }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4464,
        -2216
      ],
      "id": "25b4663e-40ee-4e0b-bf1d-d7e6cef47cb8",
      "name": "Done looping through attachments?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4688,
        -2664
      ],
      "id": "7e9af4e9-8d3d-4516-b6e8-998a6ba2bbb9",
      "name": "Receive texts"
    },
    {
      "parameters": {
        "jsCode": "let results = [];\nlet counter = 0;\n\ndo {\n  try {\n    const texts = $(\"Receive texts\")\n      .all(0, counter)\n      .map((item) => item.json.text);\n    results = [...results, ...texts];\n  } catch (error) {\n    return { texts: results };\n  }\n  counter++;\n} while (true);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4240,
        -2216
      ],
      "id": "0bfde23e-c68b-49f9-901d-df80c3a25b0d",
      "name": "Merge runs into a single text array",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Loop over e-mails').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        368,
        -2624
      ],
      "id": "47827408-1363-4757-9c3b-e091e22fc330",
      "name": "Mark candidate message as read",
      "webhookId": "aeb30d54-395e-413a-bb1a-a228fffbcce2",
      "credentials": {
        "gmailOAuth2": {
          "id": "y1cHHwSTNlBKO2KQ",
          "name": "Gmail: contato@mobiltracker.com.br"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        144,
        -2576
      ],
      "id": "2cd9e730-26e1-45c1-8be2-0cc42acecb6f",
      "name": "Mark response as read",
      "webhookId": "4b447eed-627b-4cce-9251-8f2799b22707",
      "credentials": {
        "gmailOAuth2": {
          "id": "y1cHHwSTNlBKO2KQ",
          "name": "Gmail: contato@mobiltracker.com.br"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "78d2f9bd-6ae5-4269-a63d-42f5b73f0295",
              "leftValue": "={{ Object.values($binary)[0].bytes }}",
              "rightValue": "={{ 10 * 1048576 }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2096,
        -2976
      ],
      "id": "abc4f100-ed3b-4872-a524-51821284f305",
      "name": "Keep files that are not too large"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3d4e5f6-a7b8-9012-cdef-ab3456789012",
              "name": "text",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4912,
        -2480
      ],
      "id": "0792f10d-a48b-47cc-8f19-ae8075b00a68",
      "name": "Set empty text for unsupported type"
    },
    {
      "parameters": {
        "operation": "addComment"
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        -1872,
        -2984
      ],
      "id": "9cdc40e1-73ec-4729-9f87-b1fa7c060670",
      "name": "Warn large attachment",
      "credentials": {
        "trelloApi": {
          "id": "kZzKuYZRYXUfz3tQ",
          "name": "Trello account"
        }
      }
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-07-16T15:20:54.680Z",
      "createdAt": "2025-07-16T15:20:54.680Z",
      "role": "workflow:owner",
      "workflowId": "ZfePaYYW4vJtlbC4",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-09T16:50:18.442Z",
  "versionId": "e78c7e71-e4e0-46e9-a24d-0cab1cdbad79"
}