2025/10/aB3aEpCGU1XuAbCN.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-27T16:50:56.963Z",
    "createdAt": "2025-11-27T16:50:56.963Z",
    "versionId": "aefce75b-07f3-4d7d-a73c-b5f9615bccf4",
    "workflowId": "aB3aEpCGU1XuAbCN",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -304,
          -160
        ],
        "id": "0bb7f859-9d20-48ed-b328-31ffcb2de8ae",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "query",
          "projectId": "parents-poc-app-jc45n7",
          "query": "={\n  \"structuredQuery\": {\n    \"select\": {\n      \"fields\": [\n        {\n          \"fieldPath\": \"external_id\"\n        },\n        {\n          \"fieldPath\": \"status\"\n        },\n        {\n          \"fieldPath\": \"driver\"\n        },\n        {\n          \"fieldPath\": \"due_at\"\n        }\n      ]\n    },\n    \"from\": [\n      {\n        \"collectionId\": \"saas_subscriptions\"\n      }\n    ],\n    \"where\": {\n      \"compositeFilter\": {\n        \"op\": \"AND\",\n        \"filters\": [\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"status\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"stringValue\": \"active\"\n              }\n            }\n          },\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"provider\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"stringValue\": \"stripe\"\n              }\n            }\n          }\n        ]\n      }\n    }\n  }\n}",
          "simple": false
        },
        "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
        "typeVersion": 1.1,
        "position": [
          -80,
          -64
        ],
        "id": "c947df09-5b53-4613-90e3-378c764eb949",
        "name": "Fetch active subscriptions",
        "credentials": {
          "googleApi": {
            "id": "Z0IQAyI3uZ3a8hmL",
            "name": "ViaVan Firestore"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.stripe.com/v1/subscriptions/{{ $('Fetch active subscriptions').item.json.document.fields.external_id.stringValue }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "stripeApi",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          592,
          -64
        ],
        "id": "542d191a-ce59-4446-8468-0a84a93d2024",
        "name": "Fetch MTK Stripe subscription",
        "credentials": {
          "stripeApi": {
            "id": "jiWINJh4psKsBV0A",
            "name": "MTK Stripe"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "268e8aa8-1ec7-4973-8cfc-c6b08fff6e67",
                "leftValue": "={{ $json.body.status }}",
                "rightValue": "active",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          1264,
          -64
        ],
        "id": "347b19b2-e2b7-4e48-a642-a9413bc27443",
        "name": "Filter not active subscriptions"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT COUNT(*) as count\nFROM VanEscola.dbo.SubscriptionsViaVan\nWHERE SaasSubscriptionViaVanDocId = '{{ $('Fetch active subscriptions').item.json.document.id }}'"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          144,
          -64
        ],
        "id": "a6cf1654-e490-4884-a5f1-d18948c3ea74",
        "name": "Check the amount of VanEscola users for the given document",
        "credentials": {
          "microsoftSql": {
            "id": "q8QnAyDOfZ8HwqL2",
            "name": "SQLServer account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "d616908b-2dbb-4e43-b076-7464ed0cf838",
                "leftValue": "={{ $json.count }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              },
              {
                "id": "cd5186be-d36f-4ce1-aff3-3f3aae3e21c3",
                "leftValue": "={{ $('Fetch active subscriptions').item.json.external_id }}",
                "rightValue": "vanescola_",
                "operator": {
                  "type": "string",
                  "operation": "notStartsWith"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          368,
          -64
        ],
        "id": "29c6b29f-0811-41ec-a18e-2b848494d3c1",
        "name": "Keep non-VanEscola users"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1040,
          -64
        ],
        "id": "8360c986-a0c6-420a-85ae-2b04a2aafa6a",
        "name": "Merge error and success"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "58a1dbc0-2d3e-4772-a60e-80f6a7bf4094",
                "name": "stripeSubscriptionId",
                "value": "={{ $('Fetch active subscriptions').item.json.document.fields.external_id.stringValue }}",
                "type": "string"
              },
              {
                "id": "8bd67806-5fd6-4766-87ed-b90ba7c82d90",
                "name": "saasSubscriptionId",
                "value": "={{ $('Fetch active subscriptions').item.json.document.id }}",
                "type": "string"
              },
              {
                "id": "1c15e4ee-955c-4e60-a276-da2df99ea613",
                "name": "stripe_customer_id",
                "value": "={{ $json.external_references.stripe_customer_id }}",
                "type": "string"
              },
              {
                "id": "f66cb7a5-12f6-436c-a78a-adfb21598772",
                "name": "isViaVan",
                "value": "={{ $('Fetch MTK Stripe subscription').item.json.statusCode !== 200 }}",
                "type": "boolean"
              },
              {
                "id": "95542354-2734-4983-a9a1-cbbde0e1182a",
                "name": "email",
                "value": "={{ $json.email }}",
                "type": "string"
              },
              {
                "id": "063be8e4-9f07-4e14-add6-f7439144f76d",
                "name": "dueAt",
                "value": "={{ $('Fetch active subscriptions').item.json.document.fields.due_at.timestampValue }}",
                "type": "string"
              },
              {
                "id": "a9ac60d8-ca7d-490a-99bc-050e8fd323f1",
                "name": "driverPhone",
                "value": "={{ $json.phone_number }}",
                "type": "string"
              },
              {
                "id": "5c6449d6-5f64-4d61-8fda-d4d02946bbe5",
                "name": "stripeEndedAt",
                "value": "={{ DateTime.fromSeconds($('Filter not active subscriptions').item.json.body.ended_at) }}",
                "type": "string"
              },
              {
                "id": "738f06ee-38e7-46e5-8fc9-511f94410bad",
                "name": "stripeStatus",
                "value": "={{ $('Filter not active subscriptions').item.json.body.status }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1712,
          -64
        ],
        "id": "1d558dcf-97a0-445f-9686-2baad165891d",
        "name": "Set relevant fields"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "query",
          "projectId": "parents-poc-app-jc45n7",
          "query": "={\n  \"structuredQuery\": {\n    \"select\": {\n      \"fields\": [\n        {\n          \"fieldPath\": \"email\"\n        },\n        {\n          \"fieldPath\": \"external_references.stripe_customer_id\"\n        },\n        {\n          \"fieldPath\": \"phone_number\"\n        }\n      ]\n    },\n    \"from\": [\n      {\n        \"collectionId\": \"drivers\"\n      }\n    ],\n    \"where\": {\n      \"fieldFilter\": {\n        \"field\": {\n          \"fieldPath\": \"__name__\"\n        },\n        \"op\": \"EQUAL\",\n        \"value\": {\n          \"referenceValue\": {{ $('Fetch active subscriptions').item.json.document.fields.driver.referenceValue.toJsonString() }}\n        }\n      }\n    }\n  }\n}"
        },
        "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
        "typeVersion": 1.1,
        "position": [
          1488,
          -64
        ],
        "id": "facf3fec-3bfa-4527-886d-995439296647",
        "name": "Fetch associated driver",
        "credentials": {
          "googleApi": {
            "id": "Z0IQAyI3uZ3a8hmL",
            "name": "ViaVan Firestore"
          }
        }
      },
      {
        "parameters": {
          "sortFieldsUi": {
            "sortField": [
              {
                "fieldName": "isViaVan"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.sort",
        "typeVersion": 1,
        "position": [
          1936,
          -64
        ],
        "id": "9ca499d2-670b-445b-8608-4f936ff5c26d",
        "name": "Sort items by whether they are ViaVan or not"
      },
      {
        "parameters": {
          "url": "=https://api.stripe.com/v1/subscriptions/{{ $('Fetch active subscriptions').item.json.document.fields.external_id.stringValue }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "stripeApi",
          "options": {
            "response": {
              "response": {
                "fullResponse": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          816,
          8
        ],
        "id": "171bbfec-93aa-43bc-a0a4-d8145d38683a",
        "name": "Fetch ViaVan Stripe subscription",
        "credentials": {
          "stripeApi": {
            "id": "yw2prZ456LC91VwT",
            "name": "ViaVan Stripe"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          2160,
          -64
        ],
        "id": "8ac6bcc6-e9bf-45c8-96bc-4843d42e569c",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "select": "user",
          "user": {
            "__rl": true,
            "value": "U0581PDBJES",
            "mode": "list",
            "cachedResultName": "spadotto.mobiltracker"
          },
          "text": "=Customers with inactive subscription in Stripe but active subscription in Firestore:\n```\n{{ JSON.stringify($json.data, null, 2) }}\n```",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          2384,
          -64
        ],
        "id": "edc8daee-906b-4f46-8e09-9ed7ab4eca71",
        "name": "Notify Vini",
        "webhookId": "42c837a3-cdf2-4c9d-b23c-e2c76605b57e",
        "credentials": {
          "slackApi": {
            "id": "QMoJh8hcmWWspMvU",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 14
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -304,
          32
        ],
        "id": "eaebdb0a-2a81-4694-bbe2-b6777fcad591",
        "name": "Schedule Trigger"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Fetch active subscriptions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch active subscriptions": {
        "main": [
          [
            {
              "node": "Check the amount of VanEscola users for the given document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch MTK Stripe subscription": {
        "main": [
          [
            {
              "node": "Merge error and success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fetch ViaVan Stripe subscription",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter not active subscriptions": {
        "main": [
          [
            {
              "node": "Fetch associated driver",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check the amount of VanEscola users for the given document": {
        "main": [
          [
            {
              "node": "Keep non-VanEscola users",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Keep non-VanEscola users": {
        "main": [
          [
            {
              "node": "Fetch MTK Stripe subscription",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge error and success": {
        "main": [
          [
            {
              "node": "Filter not active subscriptions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch associated driver": {
        "main": [
          [
            {
              "node": "Set relevant fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set relevant fields": {
        "main": [
          [
            {
              "node": "Sort items by whether they are ViaVan or not",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch ViaVan Stripe subscription": {
        "main": [
          [
            {
              "node": "Merge error and success",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Sort items by whether they are ViaVan or not": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Notify Vini",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Fetch active subscriptions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "aefce75b-07f3-4d7d-a73c-b5f9615bccf4",
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch active subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch active subscriptions": {
      "main": [
        [
          {
            "node": "Check the amount of VanEscola users for the given document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch MTK Stripe subscription": {
      "main": [
        [
          {
            "node": "Merge error and success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch ViaVan Stripe subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter not active subscriptions": {
      "main": [
        [
          {
            "node": "Fetch associated driver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check the amount of VanEscola users for the given document": {
      "main": [
        [
          {
            "node": "Keep non-VanEscola users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep non-VanEscola users": {
      "main": [
        [
          {
            "node": "Fetch MTK Stripe subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge error and success": {
      "main": [
        [
          {
            "node": "Filter not active subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch associated driver": {
      "main": [
        [
          {
            "node": "Set relevant fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set relevant fields": {
      "main": [
        [
          {
            "node": "Sort items by whether they are ViaVan or not",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ViaVan Stripe subscription": {
      "main": [
        [
          {
            "node": "Merge error and success",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sort items by whether they are ViaVan or not": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Notify Vini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch active subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-14T17:34:38.128Z",
  "id": "aB3aEpCGU1XuAbCN",
  "isArchived": false,
  "meta": null,
  "name": "[PRODUCTION] Invalid ViaVan subscription finder - dxVtRM65iDqKKuw8",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -160
      ],
      "id": "0bb7f859-9d20-48ed-b328-31ffcb2de8ae",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "query",
        "projectId": "parents-poc-app-jc45n7",
        "query": "={\n  \"structuredQuery\": {\n    \"select\": {\n      \"fields\": [\n        {\n          \"fieldPath\": \"external_id\"\n        },\n        {\n          \"fieldPath\": \"status\"\n        },\n        {\n          \"fieldPath\": \"driver\"\n        },\n        {\n          \"fieldPath\": \"due_at\"\n        }\n      ]\n    },\n    \"from\": [\n      {\n        \"collectionId\": \"saas_subscriptions\"\n      }\n    ],\n    \"where\": {\n      \"compositeFilter\": {\n        \"op\": \"AND\",\n        \"filters\": [\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"status\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"stringValue\": \"active\"\n              }\n            }\n          },\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"provider\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"stringValue\": \"stripe\"\n              }\n            }\n          }\n        ]\n      }\n    }\n  }\n}",
        "simple": false
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        -80,
        -64
      ],
      "id": "c947df09-5b53-4613-90e3-378c764eb949",
      "name": "Fetch active subscriptions",
      "credentials": {
        "googleApi": {
          "id": "Z0IQAyI3uZ3a8hmL",
          "name": "ViaVan Firestore"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.stripe.com/v1/subscriptions/{{ $('Fetch active subscriptions').item.json.document.fields.external_id.stringValue }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        -64
      ],
      "id": "542d191a-ce59-4446-8468-0a84a93d2024",
      "name": "Fetch MTK Stripe subscription",
      "credentials": {
        "stripeApi": {
          "id": "jiWINJh4psKsBV0A",
          "name": "MTK Stripe"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "268e8aa8-1ec7-4973-8cfc-c6b08fff6e67",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1264,
        -64
      ],
      "id": "347b19b2-e2b7-4e48-a642-a9413bc27443",
      "name": "Filter not active subscriptions"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as count\nFROM VanEscola.dbo.SubscriptionsViaVan\nWHERE SaasSubscriptionViaVanDocId = '{{ $('Fetch active subscriptions').item.json.document.id }}'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        144,
        -64
      ],
      "id": "a6cf1654-e490-4884-a5f1-d18948c3ea74",
      "name": "Check the amount of VanEscola users for the given document",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d616908b-2dbb-4e43-b076-7464ed0cf838",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "cd5186be-d36f-4ce1-aff3-3f3aae3e21c3",
              "leftValue": "={{ $('Fetch active subscriptions').item.json.external_id }}",
              "rightValue": "vanescola_",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        368,
        -64
      ],
      "id": "29c6b29f-0811-41ec-a18e-2b848494d3c1",
      "name": "Keep non-VanEscola users"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        -64
      ],
      "id": "8360c986-a0c6-420a-85ae-2b04a2aafa6a",
      "name": "Merge error and success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58a1dbc0-2d3e-4772-a60e-80f6a7bf4094",
              "name": "stripeSubscriptionId",
              "value": "={{ $('Fetch active subscriptions').item.json.document.fields.external_id.stringValue }}",
              "type": "string"
            },
            {
              "id": "8bd67806-5fd6-4766-87ed-b90ba7c82d90",
              "name": "saasSubscriptionId",
              "value": "={{ $('Fetch active subscriptions').item.json.document.id }}",
              "type": "string"
            },
            {
              "id": "1c15e4ee-955c-4e60-a276-da2df99ea613",
              "name": "stripe_customer_id",
              "value": "={{ $json.external_references.stripe_customer_id }}",
              "type": "string"
            },
            {
              "id": "f66cb7a5-12f6-436c-a78a-adfb21598772",
              "name": "isViaVan",
              "value": "={{ $('Fetch MTK Stripe subscription').item.json.statusCode !== 200 }}",
              "type": "boolean"
            },
            {
              "id": "95542354-2734-4983-a9a1-cbbde0e1182a",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "063be8e4-9f07-4e14-add6-f7439144f76d",
              "name": "dueAt",
              "value": "={{ $('Fetch active subscriptions').item.json.document.fields.due_at.timestampValue }}",
              "type": "string"
            },
            {
              "id": "a9ac60d8-ca7d-490a-99bc-050e8fd323f1",
              "name": "driverPhone",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "5c6449d6-5f64-4d61-8fda-d4d02946bbe5",
              "name": "stripeEndedAt",
              "value": "={{ DateTime.fromSeconds($('Filter not active subscriptions').item.json.body.ended_at) }}",
              "type": "string"
            },
            {
              "id": "738f06ee-38e7-46e5-8fc9-511f94410bad",
              "name": "stripeStatus",
              "value": "={{ $('Filter not active subscriptions').item.json.body.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        -64
      ],
      "id": "1d558dcf-97a0-445f-9686-2baad165891d",
      "name": "Set relevant fields"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "query",
        "projectId": "parents-poc-app-jc45n7",
        "query": "={\n  \"structuredQuery\": {\n    \"select\": {\n      \"fields\": [\n        {\n          \"fieldPath\": \"email\"\n        },\n        {\n          \"fieldPath\": \"external_references.stripe_customer_id\"\n        },\n        {\n          \"fieldPath\": \"phone_number\"\n        }\n      ]\n    },\n    \"from\": [\n      {\n        \"collectionId\": \"drivers\"\n      }\n    ],\n    \"where\": {\n      \"fieldFilter\": {\n        \"field\": {\n          \"fieldPath\": \"__name__\"\n        },\n        \"op\": \"EQUAL\",\n        \"value\": {\n          \"referenceValue\": {{ $('Fetch active subscriptions').item.json.document.fields.driver.referenceValue.toJsonString() }}\n        }\n      }\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        1488,
        -64
      ],
      "id": "facf3fec-3bfa-4527-886d-995439296647",
      "name": "Fetch associated driver",
      "credentials": {
        "googleApi": {
          "id": "Z0IQAyI3uZ3a8hmL",
          "name": "ViaVan Firestore"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "isViaVan"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1936,
        -64
      ],
      "id": "9ca499d2-670b-445b-8608-4f936ff5c26d",
      "name": "Sort items by whether they are ViaVan or not"
    },
    {
      "parameters": {
        "url": "=https://api.stripe.com/v1/subscriptions/{{ $('Fetch active subscriptions').item.json.document.fields.external_id.stringValue }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        8
      ],
      "id": "171bbfec-93aa-43bc-a0a4-d8145d38683a",
      "name": "Fetch ViaVan Stripe subscription",
      "credentials": {
        "stripeApi": {
          "id": "yw2prZ456LC91VwT",
          "name": "ViaVan Stripe"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2160,
        -64
      ],
      "id": "8ac6bcc6-e9bf-45c8-96bc-4843d42e569c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U0581PDBJES",
          "mode": "list",
          "cachedResultName": "spadotto.mobiltracker"
        },
        "text": "=Customers with inactive subscription in Stripe but active subscription in Firestore:\n```\n{{ JSON.stringify($json.data, null, 2) }}\n```",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2384,
        -64
      ],
      "id": "edc8daee-906b-4f46-8e09-9ed7ab4eca71",
      "name": "Notify Vini",
      "webhookId": "42c837a3-cdf2-4c9d-b23c-e2c76605b57e",
      "credentials": {
        "slackApi": {
          "id": "QMoJh8hcmWWspMvU",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 14
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        32
      ],
      "id": "eaebdb0a-2a81-4694-bbe2-b6777fcad591",
      "name": "Schedule Trigger"
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": null,
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-14T17:34:38.128Z",
      "createdAt": "2025-10-14T17:34:38.128Z",
      "role": "workflow:owner",
      "workflowId": "aB3aEpCGU1XuAbCN",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-14T17:34:38.239Z",
  "versionId": "aefce75b-07f3-4d7d-a73c-b5f9615bccf4"
}