2025/10/EufJmU2RbBzWdCGQ.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-08T17:15:25.809Z",
    "createdAt": "2026-06-08T17:15:25.809Z",
    "versionId": "6065e789-d809-46f5-94c5-f00c1638aac7",
    "workflowId": "EufJmU2RbBzWdCGQ",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ce688a2e-6971-4407-97ec-2aea6aae1d5a",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1280,
          -64
        ],
        "id": "b5f439b8-76d6-47fd-b159-9524771a3b67",
        "name": "Webhook",
        "webhookId": "ce688a2e-6971-4407-97ec-2aea6aae1d5a"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"timestamp\": \"{{ $now }}\",\n  \"message\": \"Message queued\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          -496,
          0
        ],
        "id": "494d474c-6aee-4584-92b9-a0385496ff35",
        "name": "Respond to Webhook - message sent"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0B4P4NHH1D",
            "mode": "list",
            "cachedResultName": "erros-whap-n8n"
          },
          "messageType": "block",
          "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Processador Whats N8N com problema\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"O processo não conseguiu enviar mensagem para o número {{ $('Webhook').item.json.body.phone }} \\n\\n*Error text*:\\n{{ $('Format Error').item.json.raw.errorObj.error }}\\n*Quantidade de erros anteriores:* {{ $json.errorCount }}\"\n\t\t\t}\n\t\t}\n\t]\n}",
          "text": "=",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          576,
          -288
        ],
        "id": "1bd70209-cdc9-49d7-9cbd-a0ef5c07f211",
        "name": "Send a message slack automation",
        "webhookId": "0d44a02d-6898-4c36-91be-2c23555573fa",
        "credentials": {
          "slackApi": {
            "id": "QMoJh8hcmWWspMvU",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": false,\n  \"timestamp\": \"{{ $now }}\",\n  \"message\": \"{{ $('Format Error').item.json.raw.errorObj.response.message }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          768,
          -64
        ],
        "id": "201bdee2-5b14-475f-8eb8-94a1579a3048",
        "name": "Respond to Webhook - error"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0B4P4NHH1D",
            "mode": "list",
            "cachedResultName": "erros-whap-n8n"
          },
          "messageType": "block",
          "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Processador Whats N8N com problema\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"Canal `{{ $('Webhook').item.json.body.channel }}` do Evolution desconectado! \\n\\n*Error text*:\\n{{ $('Format Error').item.json.raw.errorObj.response.message }}\"\n\t\t\t}\n\t\t}\n\t]\n}",
          "text": "=",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          16,
          -64
        ],
        "id": "40ecb7f6-b687-417e-a099-622bcd79a66e",
        "name": "Send a message slack automation1",
        "webhookId": "0d44a02d-6898-4c36-91be-2c23555573fa",
        "credentials": {
          "slackApi": {
            "id": "QMoJh8hcmWWspMvU",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "operation": "fetch-instances",
          "instanceName": "={{$('Webhook').item.json.body.channel}}"
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          -320,
          -128
        ],
        "id": "bf773f25-7f18-4eec-a61e-86c8cdb0e1d1",
        "name": "Buscar instancia",
        "credentials": {
          "evolutionApi": {
            "id": "JasOokgkfQnZ96h2",
            "name": "Evolution account"
          }
        }
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0B4P4NHH1D",
            "mode": "list",
            "cachedResultName": "erros-whap-n8n"
          },
          "messageType": "block",
          "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Processador Whats N8N com problema\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"Erro não mapeado! \\n\\n*Error text*:\\n{{ $('Format Error').item.json.raw.errorObj.response.message }}\"\n\t\t\t}\n\t\t}\n\t]\n}",
          "text": "=",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          256,
          -128
        ],
        "id": "97db4237-354e-4f30-87e0-e387c5add72d",
        "name": "Send a message slack automation2",
        "webhookId": "0d44a02d-6898-4c36-91be-2c23555573fa",
        "credentials": {
          "slackApi": {
            "id": "QMoJh8hcmWWspMvU",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "=errorCount",
          "key": "=ERROR:N8N:BAD-REQUEST:{{ $(`Webhook`).item.json.body.phone }}",
          "keyType": "string",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          256,
          -368
        ],
        "id": "80e6b26c-cb63-4ae2-b9d9-640c967a5d8b",
        "name": "Redis",
        "credentials": {
          "redis": {
            "id": "9nuRXwfQkNmW2sKp",
            "name": "Automation Redis"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "7209ae7b-3cc2-479a-abf5-87b7b76ae226",
                "leftValue": "={{ $json.errorCount }}",
                "rightValue": "Bad request - please check your parameters",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          400,
          -368
        ],
        "id": "8d33f37e-779f-4367-9753-3cf300d397d6",
        "name": "has no errors?"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0B4P4NHH1D",
            "mode": "list",
            "cachedResultName": "erros-whap-n8n"
          },
          "messageType": "block",
          "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Processador Whats N8N com problema\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"O processo não conseguiu enviar mensagem para o número {{ $('Webhook').item.json.body.phone }} \\n\\n*Error text*:\\n{{ $('Format Error').item.json.raw.errorObj.error }}\\n*Quantidade de erros anteriores:* 0\"\n\t\t\t}\n\t\t}\n\t]\n}",
          "text": "=",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          576,
          -448
        ],
        "id": "8213b538-0c2a-403a-a309-c882894bf870",
        "name": "Send a message slack automation3",
        "webhookId": "0d44a02d-6898-4c36-91be-2c23555573fa",
        "credentials": {
          "slackApi": {
            "id": "QMoJh8hcmWWspMvU",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "11b85275-81a9-4899-8194-aaa5523e8a4a",
                "leftValue": "={{ $json.body.link }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1088,
          -64
        ],
        "id": "656e9a0f-caf3-46c1-8796-b9c5ec6f0f2a",
        "name": "Will send media?"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ `${$env.FABIO_URL}/evolution-api/message/sendMedia/${$json.body.channel}` }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $json.body.phone }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.body.message }}"
              },
              {
                "name": "=media",
                "value": "={{ $json.body.link }}"
              },
              {
                "name": "mediatype",
                "value": "={{ $json.body.type }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -912,
          -144
        ],
        "id": "2f309723-d539-4579-9eef-1c5c2ae9ad01",
        "name": "Send Media",
        "credentials": {
          "httpHeaderAuth": {
            "id": "6kDmA09P8PHL5oLh",
            "name": "Evolution API header"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const raw = $input.first().json.error.message;\n\n// remove \"400 - \"\nconst clean = raw.replace(/^\\d+\\s*-\\s*/, '');\n\n// 1º parse (vira string JSON)\nconst firstParse = JSON.parse(clean);\n\n// 2º parse (vira objeto real)\nconst errorObj = JSON.parse(firstParse);\n\nreturn [{\n  errorObj: errorObj\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -704,
          -128
        ],
        "id": "aa0a1c76-dd25-4b6e-8ca8-182ab36aa722",
        "name": "Parse Error"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "jlLb6Przi1lyPt5o",
            "mode": "list",
            "cachedResultUrl": "/workflow/jlLb6Przi1lyPt5o",
            "cachedResultName": "WhatsApp message sender"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "evolutionInstanceName": "={{ $json.body.channel }}",
              "phoneNumber": "={{ $json.body.phone }}",
              "message": "={{ $json.body.message }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "evolutionInstanceName",
                "displayName": "evolutionInstanceName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "phoneNumber",
                "displayName": "phoneNumber",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "message",
                "displayName": "message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -912,
          16
        ],
        "id": "7f302d0c-1d1b-473a-957a-29d8c72b6818",
        "name": "Call 'WhatsApp message sender'",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"errorObj\": {\n    \"error\": {{ $json.error }}\n    \"response\" {\n      \"message\": {{ $json.error }}\n    }\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -704,
          32
        ],
        "id": "19e22c07-49d3-4515-ac4b-a2dbd8d223b5",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "jsCode": "const input = $json;\n\n// pega mensagem independente do formato\nconst raw =\n  input?.raw ||\n  input?.message ||\n  input?.error ||\n  JSON.stringify(input);\n\n// normaliza pra string\nconst text = typeof raw === 'string' ? raw : JSON.stringify(raw);\n\n// flags padrão\nlet isPhoneInvalid = false;\nlet isLinkInvalid = false;\n\n// ---------------------------\n// PHONE INVALID\n// ---------------------------\nif (text.includes('\"exists\":false') || text.includes('Bad request - please check your parameters')) {\n  isPhoneInvalid = true;\n}\n\n// ---------------------------\n// LINK INVALID\n// ---------------------------\nif (text.includes('AxiosError: Request failed with status code 403')) {\n  isLinkInvalid = true;\n}\n\n// retorno padronizado\nreturn [\n  {\n    isPhoneInvalid,\n    isLinkInvalid,\n    raw: input\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -496,
          -128
        ],
        "id": "cfc71f13-2e2b-4a7a-b186-ff7a4fc7a314",
        "name": "Format Error"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Format Error').item.json.isPhoneInvalid }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "454e8d56-547c-4d56-a60d-a08588b0e357"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Phone"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "0058ba57-d7ad-4257-b0fc-0a27b7ecc714",
                      "leftValue": "={{ $('Format Error').item.json.isLinkInvalid }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Link"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          16,
          -256
        ],
        "id": "e51b7719-47d5-4b46-8121-9109a5bdec44",
        "name": "Switch"
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0B4P4NHH1D",
            "mode": "list",
            "cachedResultName": "erros-whap-n8n"
          },
          "messageType": "block",
          "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Processador Whats N8N com problema\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"Link Inválido! \\n\\n*Error text*:\\n{{ $('Format Error').item.json.raw.errorObj.response.message }}\"\n\t\t\t}\n\t\t}\n\t]\n}",
          "text": "=",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.4,
        "position": [
          256,
          -240
        ],
        "id": "27a48dc0-1e26-41dd-ba14-30cbef9b70d0",
        "name": "Send a message slack automation4",
        "webhookId": "0d44a02d-6898-4c36-91be-2c23555573fa",
        "credentials": {
          "slackApi": {
            "id": "QMoJh8hcmWWspMvU",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "7209ae7b-3cc2-479a-abf5-87b7b76ae226",
                "leftValue": "={{ $json.data[0].connectionStatus }}",
                "rightValue": "open",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -144,
          -128
        ],
        "id": "cbe925b6-f0fd-4210-afed-12f35a206d9d",
        "name": "Is channel connected?"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Will send media?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message slack automation": {
        "main": [
          [
            {
              "node": "Respond to Webhook - error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message slack automation1": {
        "main": [
          [
            {
              "node": "Respond to Webhook - error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar instancia": {
        "main": [
          [
            {
              "node": "Is channel connected?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message slack automation2": {
        "main": [
          [
            {
              "node": "Respond to Webhook - error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis": {
        "main": [
          [
            {
              "node": "has no errors?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "has no errors?": {
        "main": [
          [
            {
              "node": "Send a message slack automation3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a message slack automation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message slack automation3": {
        "main": [
          [
            {
              "node": "Respond to Webhook - error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Media": {
        "main": [
          [
            {
              "node": "Respond to Webhook - message sent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Parse Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Will send media?": {
        "main": [
          [
            {
              "node": "Send Media",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'WhatsApp message sender'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Error": {
        "main": [
          [
            {
              "node": "Format Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'WhatsApp message sender'": {
        "main": [
          [
            {
              "node": "Respond to Webhook - message sent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Format Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Error": {
        "main": [
          [
            {
              "node": "Buscar instancia",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Redis",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a message slack automation4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a message slack automation2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message slack automation4": {
        "main": [
          [
            {
              "node": "Respond to Webhook - error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is channel connected?": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a message slack automation1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Contato Mobiltracker",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "6065e789-d809-46f5-94c5-f00c1638aac7",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Will send media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message slack automation": {
      "main": [
        [
          {
            "node": "Respond to Webhook - error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message slack automation1": {
      "main": [
        [
          {
            "node": "Respond to Webhook - error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar instancia": {
      "main": [
        [
          {
            "node": "Is channel connected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message slack automation2": {
      "main": [
        [
          {
            "node": "Respond to Webhook - error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "has no errors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has no errors?": {
      "main": [
        [
          {
            "node": "Send a message slack automation3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message slack automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message slack automation3": {
      "main": [
        [
          {
            "node": "Respond to Webhook - error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Media": {
      "main": [
        [
          {
            "node": "Respond to Webhook - message sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Will send media?": {
      "main": [
        [
          {
            "node": "Send Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'WhatsApp message sender'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Error": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'WhatsApp message sender'": {
      "main": [
        [
          {
            "node": "Respond to Webhook - message sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Buscar instancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message slack automation4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message slack automation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message slack automation4": {
      "main": [
        [
          {
            "node": "Respond to Webhook - error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is channel connected?": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message slack automation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-09T13:41:21.445Z",
  "id": "EufJmU2RbBzWdCGQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PRODUCTION] SendMessage - WhatsApp - bfeezzKmNUjWfee7",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ce688a2e-6971-4407-97ec-2aea6aae1d5a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1280,
        -64
      ],
      "id": "b5f439b8-76d6-47fd-b159-9524771a3b67",
      "name": "Webhook",
      "webhookId": "ce688a2e-6971-4407-97ec-2aea6aae1d5a"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"timestamp\": \"{{ $now }}\",\n  \"message\": \"Message queued\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -496,
        0
      ],
      "id": "494d474c-6aee-4584-92b9-a0385496ff35",
      "name": "Respond to Webhook - message sent"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B4P4NHH1D",
          "mode": "list",
          "cachedResultName": "erros-whap-n8n"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Processador Whats N8N com problema\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"O processo não conseguiu enviar mensagem para o número {{ $('Webhook').item.json.body.phone }} \\n\\n*Error text*:\\n{{ $('Format Error').item.json.raw.errorObj.error }}\\n*Quantidade de erros anteriores:* {{ $json.errorCount }}\"\n\t\t\t}\n\t\t}\n\t]\n}",
        "text": "=",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        576,
        -288
      ],
      "id": "1bd70209-cdc9-49d7-9cbd-a0ef5c07f211",
      "name": "Send a message slack automation",
      "webhookId": "0d44a02d-6898-4c36-91be-2c23555573fa",
      "credentials": {
        "slackApi": {
          "id": "QMoJh8hcmWWspMvU",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"timestamp\": \"{{ $now }}\",\n  \"message\": \"{{ $('Format Error').item.json.raw.errorObj.response.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        -64
      ],
      "id": "201bdee2-5b14-475f-8eb8-94a1579a3048",
      "name": "Respond to Webhook - error"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B4P4NHH1D",
          "mode": "list",
          "cachedResultName": "erros-whap-n8n"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Processador Whats N8N com problema\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"Canal `{{ $('Webhook').item.json.body.channel }}` do Evolution desconectado! \\n\\n*Error text*:\\n{{ $('Format Error').item.json.raw.errorObj.response.message }}\"\n\t\t\t}\n\t\t}\n\t]\n}",
        "text": "=",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        16,
        -64
      ],
      "id": "40ecb7f6-b687-417e-a099-622bcd79a66e",
      "name": "Send a message slack automation1",
      "webhookId": "0d44a02d-6898-4c36-91be-2c23555573fa",
      "credentials": {
        "slackApi": {
          "id": "QMoJh8hcmWWspMvU",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fetch-instances",
        "instanceName": "={{$('Webhook').item.json.body.channel}}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -320,
        -128
      ],
      "id": "bf773f25-7f18-4eec-a61e-86c8cdb0e1d1",
      "name": "Buscar instancia",
      "credentials": {
        "evolutionApi": {
          "id": "JasOokgkfQnZ96h2",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B4P4NHH1D",
          "mode": "list",
          "cachedResultName": "erros-whap-n8n"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Processador Whats N8N com problema\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"Erro não mapeado! \\n\\n*Error text*:\\n{{ $('Format Error').item.json.raw.errorObj.response.message }}\"\n\t\t\t}\n\t\t}\n\t]\n}",
        "text": "=",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        256,
        -128
      ],
      "id": "97db4237-354e-4f30-87e0-e387c5add72d",
      "name": "Send a message slack automation2",
      "webhookId": "0d44a02d-6898-4c36-91be-2c23555573fa",
      "credentials": {
        "slackApi": {
          "id": "QMoJh8hcmWWspMvU",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "=errorCount",
        "key": "=ERROR:N8N:BAD-REQUEST:{{ $(`Webhook`).item.json.body.phone }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        256,
        -368
      ],
      "id": "80e6b26c-cb63-4ae2-b9d9-640c967a5d8b",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "9nuRXwfQkNmW2sKp",
          "name": "Automation Redis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7209ae7b-3cc2-479a-abf5-87b7b76ae226",
              "leftValue": "={{ $json.errorCount }}",
              "rightValue": "Bad request - please check your parameters",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        -368
      ],
      "id": "8d33f37e-779f-4367-9753-3cf300d397d6",
      "name": "has no errors?"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B4P4NHH1D",
          "mode": "list",
          "cachedResultName": "erros-whap-n8n"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Processador Whats N8N com problema\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"O processo não conseguiu enviar mensagem para o número {{ $('Webhook').item.json.body.phone }} \\n\\n*Error text*:\\n{{ $('Format Error').item.json.raw.errorObj.error }}\\n*Quantidade de erros anteriores:* 0\"\n\t\t\t}\n\t\t}\n\t]\n}",
        "text": "=",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        576,
        -448
      ],
      "id": "8213b538-0c2a-403a-a309-c882894bf870",
      "name": "Send a message slack automation3",
      "webhookId": "0d44a02d-6898-4c36-91be-2c23555573fa",
      "credentials": {
        "slackApi": {
          "id": "QMoJh8hcmWWspMvU",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "11b85275-81a9-4899-8194-aaa5523e8a4a",
              "leftValue": "={{ $json.body.link }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1088,
        -64
      ],
      "id": "656e9a0f-caf3-46c1-8796-b9c5ec6f0f2a",
      "name": "Will send media?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ `${$env.FABIO_URL}/evolution-api/message/sendMedia/${$json.body.channel}` }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.body.message }}"
            },
            {
              "name": "=media",
              "value": "={{ $json.body.link }}"
            },
            {
              "name": "mediatype",
              "value": "={{ $json.body.type }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -912,
        -144
      ],
      "id": "2f309723-d539-4579-9eef-1c5c2ae9ad01",
      "name": "Send Media",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6kDmA09P8PHL5oLh",
          "name": "Evolution API header"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.error.message;\n\n// remove \"400 - \"\nconst clean = raw.replace(/^\\d+\\s*-\\s*/, '');\n\n// 1º parse (vira string JSON)\nconst firstParse = JSON.parse(clean);\n\n// 2º parse (vira objeto real)\nconst errorObj = JSON.parse(firstParse);\n\nreturn [{\n  errorObj: errorObj\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        -128
      ],
      "id": "aa0a1c76-dd25-4b6e-8ca8-182ab36aa722",
      "name": "Parse Error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jlLb6Przi1lyPt5o",
          "mode": "list",
          "cachedResultUrl": "/workflow/jlLb6Przi1lyPt5o",
          "cachedResultName": "WhatsApp message sender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evolutionInstanceName": "={{ $json.body.channel }}",
            "phoneNumber": "={{ $json.body.phone }}",
            "message": "={{ $json.body.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "evolutionInstanceName",
              "displayName": "evolutionInstanceName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -912,
        16
      ],
      "id": "7f302d0c-1d1b-473a-957a-29d8c72b6818",
      "name": "Call 'WhatsApp message sender'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"errorObj\": {\n    \"error\": {{ $json.error }}\n    \"response\" {\n      \"message\": {{ $json.error }}\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        32
      ],
      "id": "19e22c07-49d3-4515-ac4b-a2dbd8d223b5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\n// pega mensagem independente do formato\nconst raw =\n  input?.raw ||\n  input?.message ||\n  input?.error ||\n  JSON.stringify(input);\n\n// normaliza pra string\nconst text = typeof raw === 'string' ? raw : JSON.stringify(raw);\n\n// flags padrão\nlet isPhoneInvalid = false;\nlet isLinkInvalid = false;\n\n// ---------------------------\n// PHONE INVALID\n// ---------------------------\nif (text.includes('\"exists\":false') || text.includes('Bad request - please check your parameters')) {\n  isPhoneInvalid = true;\n}\n\n// ---------------------------\n// LINK INVALID\n// ---------------------------\nif (text.includes('AxiosError: Request failed with status code 403')) {\n  isLinkInvalid = true;\n}\n\n// retorno padronizado\nreturn [\n  {\n    isPhoneInvalid,\n    isLinkInvalid,\n    raw: input\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -128
      ],
      "id": "cfc71f13-2e2b-4a7a-b186-ff7a4fc7a314",
      "name": "Format Error"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Format Error').item.json.isPhoneInvalid }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "454e8d56-547c-4d56-a60d-a08588b0e357"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Phone"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0058ba57-d7ad-4257-b0fc-0a27b7ecc714",
                    "leftValue": "={{ $('Format Error').item.json.isLinkInvalid }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Link"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        16,
        -256
      ],
      "id": "e51b7719-47d5-4b46-8121-9109a5bdec44",
      "name": "Switch"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B4P4NHH1D",
          "mode": "list",
          "cachedResultName": "erros-whap-n8n"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Processador Whats N8N com problema\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"Link Inválido! \\n\\n*Error text*:\\n{{ $('Format Error').item.json.raw.errorObj.response.message }}\"\n\t\t\t}\n\t\t}\n\t]\n}",
        "text": "=",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        256,
        -240
      ],
      "id": "27a48dc0-1e26-41dd-ba14-30cbef9b70d0",
      "name": "Send a message slack automation4",
      "webhookId": "0d44a02d-6898-4c36-91be-2c23555573fa",
      "credentials": {
        "slackApi": {
          "id": "QMoJh8hcmWWspMvU",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7209ae7b-3cc2-479a-abf5-87b7b76ae226",
              "leftValue": "={{ $json.data[0].connectionStatus }}",
              "rightValue": "open",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -144,
        -128
      ],
      "id": "cbe925b6-f0fd-4210-afed-12f35a206d9d",
      "name": "Is channel connected?"
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-10-09T13:41:21.445Z",
      "createdAt": "2025-10-09T13:41:21.445Z",
      "role": "workflow:owner",
      "workflowId": "EufJmU2RbBzWdCGQ",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-08T17:15:25.807Z",
  "versionId": "6065e789-d809-46f5-94c5-f00c1638aac7"
}