2025/10/Subscription due date corrector.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Fetch active MTK Stripe subscriptions": {
      "main": [
        [
          {
            "node": "Split subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split subscriptions": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch saas_subscription for subscription": {
      "main": [
        [
          {
            "node": "Is there a SAAS subscription?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get difference between billing end date and saas_subcription due date": {
      "main": [
        [
          {
            "node": "Is the difference not exactly five days?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is the difference not exactly five days?": {
      "main": [
        [
          {
            "node": "Add five days to Stripe billing date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add five days to Stripe billing date": {
      "main": [
        [
          {
            "node": "Set fields to be updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields to be updated": {
      "main": [
        [
          {
            "node": "Update SAAS subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Fetch saas_subscription for subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update SAAS subscription": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch active MTK Stripe subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is there a SAAS subscription?": {
      "main": [
        [
          {
            "node": "Get difference between billing end date and saas_subcription due date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-06T16:22:32.325Z",
  "id": "0RLHRos2X3bDFzBN",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Subscription due date corrector",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.stripe.com/v1/subscriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "status",
              "value": "active"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "type": "body",
                    "name": "starting_after",
                    "value": "={{ $response.body.data.last().id }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.data.length < 100 }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        192
      ],
      "id": "766ca9e0-4a75-4518-9c0f-812898ea8003",
      "name": "Fetch active MTK Stripe subscriptions",
      "credentials": {
        "stripeApi": {
          "id": "jiWINJh4psKsBV0A",
          "name": "MTK Stripe"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        96,
        192
      ],
      "id": "85db3dc7-5057-4f1a-8d98-ca49496b1d46",
      "name": "Split subscriptions"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "query",
        "projectId": "parents-poc-app-jc45n7",
        "query": "={\n  \"structuredQuery\": {\n    \"select\": {\n      \"fields\": [\n        {\n          \"fieldPath\": \"due_at\"\n        },\n        {\n          \"fieldPath\": \"external_id\"\n        },\n        {\n          \"fieldPath\": \"status\"\n        }\n      ]\n    },\n    \"from\": [\n      {\n        \"collectionId\": \"saas_subscriptions\"\n      }\n    ],\n    \"where\": {\n      \"compositeFilter\": {\n        \"op\": \"AND\",\n        \"filters\": [\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"status\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"stringValue\": \"active\"\n              }\n            }\n          },\n          {\n            \"fieldFilter\": {\n              \"field\": {\n                \"fieldPath\": \"external_id\"\n              },\n              \"op\": \"EQUAL\",\n              \"value\": {\n                \"stringValue\": {{ $json.id.toJsonString() }}\n              }\n            }\n          }\n        ]\n      }\n    }\n  }\n}"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        544,
        0
      ],
      "id": "ca11f2d8-2451-4f41-9695-6b9425236f21",
      "name": "Fetch saas_subscription for subscription",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "Z0IQAyI3uZ3a8hmL",
          "name": "ViaVan Firestore"
        }
      }
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ new Date($('Split subscriptions').item.json.items.data[0].current_period_end * 1000) }}",
        "endDate": "={{ new Date($json.due_at) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        992,
        0
      ],
      "id": "a7c094ca-8fc3-4072-b53e-6227acddba08",
      "name": "Get difference between billing end date and saas_subcription due date"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54ed0826-a98a-40ef-bcdd-0df2e5619e42",
              "leftValue": "={{ $json.timeDifference.days.round() }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        0
      ],
      "id": "0185305b-f63a-4689-8c9e-5fcf68bba1a5",
      "name": "Is the difference not exactly five days?"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ new Date($('Split subscriptions').item.json.items.data[0].current_period_end * 1000) }}",
        "duration": 5,
        "outputFieldName": "newDueDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ],
      "id": "da5a0c5f-8fbc-4d5c-850c-d1bd2ef46bb8",
      "name": "Add five days to Stripe billing date"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20bfaaca-c2ea-41dc-a72b-430f7ea387d3",
              "name": "documentId",
              "value": "={{ $('Fetch saas_subscription for subscription').item.json._id }}",
              "type": "string"
            },
            {
              "id": "3f55c9de-ce5d-4c12-ba3c-05bbbd1a11a4",
              "name": "due_at",
              "value": "={{ $json.newDueDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        0
      ],
      "id": "e4a78d00-7fc0-485a-bf3d-f01b3a81a65a",
      "name": "Set fields to be updated"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "upsert",
        "projectId": "parents-poc-app-jc45n7",
        "collection": "saas_subscriptions",
        "updateKey": "documentId",
        "columns": "due_at"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        1888,
        72
      ],
      "id": "4f60c76d-d025-48b9-99ca-036c4ea860d6",
      "name": "Update SAAS subscription",
      "credentials": {
        "googleApi": {
          "id": "Z0IQAyI3uZ3a8hmL",
          "name": "ViaVan Firestore"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        320,
        192
      ],
      "id": "a448e15b-e22f-4812-8f82-b2075fadd0c9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -352,
        192
      ],
      "id": "cecbd30d-cb20-4537-aed5-537de44fd1d5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb37694f-e0a0-47b7-946e-c37b48aace1e",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "6a701eac-7cde-479a-afc2-fa16dfd73506",
      "name": "Is there a SAAS subscription?"
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-06T16:22:32.325Z",
      "createdAt": "2025-10-06T16:22:32.325Z",
      "role": "workflow:owner",
      "workflowId": "0RLHRos2X3bDFzBN",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-06T17:25:28.195Z",
  "versionId": "e409128d-91ce-43c7-ab69-51b4b5759780"
}