2026/01/Fix ongoing contracts.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch ongoing contracts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ongoing contracts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Fetch events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch envelope": {
      "main": [
        [
          {
            "node": "Has contract expired?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has contract expired?": {
      "main": [
        [
          {
            "node": "Set fields to update for expired contract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields to update for expired contract": {
      "main": [
        [
          {
            "node": "Set contract to expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch events": {
      "main": [
        [
          {
            "node": "Has everyone signed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has everyone signed?": {
      "main": [
        [
          {
            "node": "Set update fields for signed contract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set contract to expired": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set update fields for signed contract": {
      "main": [
        [
          {
            "node": "Set contract to signed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set contract to signed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-22T12:37:33.428Z",
  "id": "NbMhOAzQOpWgvP2R",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Fix ongoing contracts",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        384
      ],
      "id": "4ca2165e-604b-419e-99f9-1a5781aba6f0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ContractId, EnvelopeId, DocumentId\nFROM MtkContract.dbo.CtrContracts\nWHERE Status = 'IN_PROGRESS'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        224,
        384
      ],
      "id": "b1a4a0ce-4abc-44c5-bf9e-ef3ef1d61165",
      "name": "Fetch ongoing contracts",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        384
      ],
      "id": "7d484b2a-d179-4a36-a709-b993ee669562",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://app.clicksign.com/api/v3/envelopes/{{ $('Loop Over Items').item.json.EnvelopeId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        0
      ],
      "id": "fe8c93c0-af4b-402d-a69b-18522c353f44",
      "name": "Fetch envelope",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AxXDAhJWttDOmF4p",
          "name": "Clicksign API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "294ddcde-d17e-4605-84ad-dbf97b75d841",
              "leftValue": "={{ $json.data.attributes.deadline_at.toDateTime() <= DateTime.now() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        0
      ],
      "id": "94df8efe-b0d8-4b0d-a79f-6820b19d33ee",
      "name": "Has contract expired?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a671cac-1801-4095-8c93-d65b37413e4d",
              "name": "ContractId",
              "value": "={{ $('Loop Over Items').item.json.ContractId }}",
              "type": "string"
            },
            {
              "id": "1ce4dc73-3c7a-4b2d-bf80-3c158372f56a",
              "name": "Status",
              "value": "DROPPED",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        0
      ],
      "id": "7a018f62-6550-4abb-b5e9-93f35375ba18",
      "name": "Set fields to update for expired contract"
    },
    {
      "parameters": {
        "operation": "update",
        "table": "[MtkContract].[dbo].[CtrContracts]",
        "updateKey": "ContractId",
        "columns": "Status"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1792,
        168
      ],
      "id": "28ecd125-3248-43d9-a5eb-993d612bc58e",
      "name": "Set contract to expired",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://app.clicksign.com/api/v3/envelopes/{{ $('Loop Over Items').item.json.EnvelopeId }}/documents/{{ $('Loop Over Items').item.json.DocumentId }}/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        96
      ],
      "id": "389f42d4-10af-4107-ab8e-a9dfdc749d5c",
      "name": "Fetch events",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AxXDAhJWttDOmF4p",
          "name": "Clicksign API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d4b6d64-a5ce-4319-a3e5-d4b6aca98f9e",
              "leftValue": "={{ $json.data.filter(data => data.attributes.name === \"sign\").length }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        96
      ],
      "id": "09244ada-dfba-44fa-a5d1-f5f7f659e46e",
      "name": "Has everyone signed?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eec6639d-e98c-4115-89ec-39679c882e95",
              "name": "ContractId",
              "value": "={{ $('Loop Over Items').item.json.ContractId }}",
              "type": "string"
            },
            {
              "id": "4daf2d0a-ff11-4542-bd96-2ecfe89d7ad9",
              "name": "Status",
              "value": "SIGNED",
              "type": "string"
            },
            {
              "id": "f43bf556-eeb8-4cb7-a011-0094e685ce60",
              "name": "HasSellerSigned",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "ef48789e-83f0-4da1-a7cc-13301c3f36d9",
              "name": "HasCustomerSigned",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        192
      ],
      "id": "29cad320-8591-4fc4-9863-c9806c719a30",
      "name": "Set update fields for signed contract"
    },
    {
      "parameters": {
        "operation": "update",
        "table": "[MtkContract].[dbo].[CtrContracts]",
        "updateKey": "ContractId",
        "columns": "Status, HasSellerSigned, HasCustomerSigned"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1344,
        192
      ],
      "id": "af433523-7477-4dfb-bf4d-5c5cf3d43ecc",
      "name": "Set contract to signed",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-22T12:37:33.428Z",
      "createdAt": "2026-01-22T12:37:33.428Z",
      "role": "workflow:owner",
      "workflowId": "NbMhOAzQOpWgvP2R",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-22T12:50:07.924Z",
  "versionId": "262a301d-a0d8-4549-b7a1-fe99cec6f4a1"
}