2026/01/RDSjSEu8neDNrXLm.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch signed contracts without URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch signed contracts without URL": {
      "main": [
        [
          {
            "node": "Loop over contracts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over contracts": {
      "main": [
        [],
        [
          {
            "node": "Fetch events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch events": {
      "main": [
        [
          {
            "node": "Has everyone signed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has everyone signed?": {
      "main": [
        [
          {
            "node": "Fetch document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch document": {
      "main": [
        [
          {
            "node": "Set fields for update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set fields for update": {
      "main": [
        [
          {
            "node": "Update row in database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in database": {
      "main": [
        [
          {
            "node": "Loop over contracts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select count of sellers with signer e-mail": {
      "main": [
        [
          {
            "node": "Has seller signed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has seller signed?": {
      "main": [
        [
          {
            "node": "Set seller signed update fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set customer signed update fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch envelope": {
      "main": [
        [
          {
            "node": "Has contract expired?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has contract expired?": {
      "main": [
        [
          {
            "node": "Set update fields for expired contract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select count of sellers with signer e-mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set update fields for expired contract": {
      "main": [
        [
          {
            "node": "Set contract to expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set contract to expired": {
      "main": [
        [
          {
            "node": "Loop over contracts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set seller signed update fields": {
      "main": [
        [
          {
            "node": "Update row for customer/seller signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set customer signed update fields": {
      "main": [
        [
          {
            "node": "Update row for customer/seller signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row for customer/seller signature": {
      "main": [
        [
          {
            "node": "Loop over contracts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-13T14:01:55.728Z",
  "id": "RDSjSEu8neDNrXLm",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Fix contracts without signed object URL",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -64
      ],
      "id": "8a2e316f-4cfe-4014-8685-a3cfcb5f177a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ContractId, EnvelopeId, DocumentId\nFROM MtkContract.dbo.CtrContracts\nWHERE Status = 'SIGNED'\n  AND SignedObjectUrl IS NULL"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        16,
        -64
      ],
      "id": "1630ee84-ee03-4d41-a4c6-368296192da9",
      "name": "Fetch signed contracts without URL",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://app.clicksign.com/api/v3/envelopes/{{ $json.EnvelopeId }}/documents/{{ $json.DocumentId }}/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/vnd.api+json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        -576
      ],
      "id": "8fd3eae2-f068-4c5b-a28e-97a355f2f824",
      "name": "Fetch events",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AxXDAhJWttDOmF4p",
          "name": "Clicksign API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        -64
      ],
      "id": "99437669-0750-4df9-ab87-eba469078405",
      "name": "Loop over contracts"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5a6f50aa-7ea8-4e55-8cf5-1b99dea1f592",
              "leftValue": "={{ $('Fetch events').item.json.data.filter(data => data.attributes.name === \"sign\").length }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        -576
      ],
      "id": "99237342-b20c-41a7-8d91-9c8975bcbebd",
      "name": "Has everyone signed?"
    },
    {
      "parameters": {
        "url": "=https://app.clicksign.com/api/v3/envelopes/{{ $('Loop over contracts').item.json.EnvelopeId }}/documents/{{ $('Loop over contracts').item.json.DocumentId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        912,
        -256
      ],
      "id": "3e47de10-113c-4128-b603-e63fc6386a6b",
      "name": "Fetch document",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AxXDAhJWttDOmF4p",
          "name": "Clicksign API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1383bbb-ee50-4f0d-a6fe-629146b3ff57",
              "name": "ContractId",
              "value": "={{ $('Loop over contracts').item.json.ContractId }}",
              "type": "string"
            },
            {
              "id": "1310697b-7228-4bfc-a5d8-10cfb854b2d0",
              "name": "SignedObjectUrl",
              "value": "={{ $('Fetch document').item.json.data.links.files.signed }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        -256
      ],
      "id": "0bc99615-0802-465e-b81d-1488d9e3bc71",
      "name": "Set fields for update"
    },
    {
      "parameters": {
        "operation": "update",
        "table": "[MtkContract].[dbo].[CtrContracts]",
        "updateKey": "ContractId",
        "columns": "SignedObjectUrl"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1360,
        -256
      ],
      "id": "75150619-c372-4dfa-832b-a3686d2d07a6",
      "name": "Update row in database",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS SellerCount FROM MtkContract.dbo.UserSellerAccounts\nWHERE Email IN ({{ $('Fetch events').item.json.data.map(data => data.attributes.data.signer?.email).filter(email => !!email).map(email => `'${email}'`).join(\", \") }})"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1360,
        -448
      ],
      "id": "441faef3-0502-43dd-9f2b-6de2fef1b4b7",
      "name": "Select count of sellers with signer e-mail",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08707975-38cf-4a31-b115-418a3d9bf6ba",
              "leftValue": "={{ $json.SellerCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1584,
        -448
      ],
      "id": "a49103ec-c662-4232-bbf5-692d53ec0d9f",
      "name": "Has seller signed?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2766c0e5-532f-4c35-b2d7-00efa25e8be9",
              "name": "ContractId",
              "value": "={{ $('Loop over contracts').item.json.ContractId }}",
              "type": "string"
            },
            {
              "id": "d6aadd13-a14d-4bcb-9791-1f2e71d21db5",
              "name": "Status",
              "value": "IN_PROGRESS",
              "type": "string"
            },
            {
              "id": "3399dc64-9ec0-4cda-9200-dae2fd19aaa2",
              "name": "HasSellerSigned",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "38b3edca-1ac7-4e91-8106-e414d54a66d7",
              "name": "HasCustomerSigned",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        -448
      ],
      "id": "508b537e-cd36-47f7-9dbe-de5f992e14eb",
      "name": "Set seller signed update fields"
    },
    {
      "parameters": {
        "url": "=https://app.clicksign.com/api/v3/envelopes/{{ $('Loop over contracts').item.json.EnvelopeId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        912,
        -640
      ],
      "id": "953e029f-58c6-4906-8798-48d74fd6b6b3",
      "name": "Fetch envelope",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AxXDAhJWttDOmF4p",
          "name": "Clicksign API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "919c714c-2687-4446-884b-a2d8f93a35fc",
              "leftValue": "={{ $json.data.attributes.deadline_at.toDateTime() <= DateTime.now() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1136,
        -640
      ],
      "id": "0d03b81c-2099-4e70-bdbc-fac528d4f62f",
      "name": "Has contract expired?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08cf7ff2-7361-4892-a190-093737316796",
              "name": "ContractId",
              "value": "={{ $('Loop over contracts').item.json.ContractId }}",
              "type": "string"
            },
            {
              "id": "3e6f9121-6d81-474a-a76f-2313fe250c13",
              "name": "Status",
              "value": "DROPPED",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        -640
      ],
      "id": "408f326a-6fd0-46ee-b54a-392ff7845fd0",
      "name": "Set update fields for expired contract"
    },
    {
      "parameters": {
        "operation": "update",
        "table": "[MtkContract].[dbo].[CtrContracts]",
        "updateKey": "ContractId",
        "columns": "Status"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1584,
        -640
      ],
      "id": "239451f0-a7f3-492a-b5d8-6e9f4991a53a",
      "name": "Set contract to expired",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2766c0e5-532f-4c35-b2d7-00efa25e8be9",
              "name": "ContractId",
              "value": "={{ $('Loop over contracts').item.json.ContractId }}",
              "type": "string"
            },
            {
              "id": "d6aadd13-a14d-4bcb-9791-1f2e71d21db5",
              "name": "Status",
              "value": "IN_PROGRESS",
              "type": "string"
            },
            {
              "id": "20f0e0e7-e1a9-4c9c-a9d0-76cb546094df",
              "name": "HasSellerSigned",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "8d408882-d8db-4ff3-8aa3-5d629bf1be68",
              "name": "HasCustomerSigned",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        -160
      ],
      "id": "646e21ca-3b2e-4a94-8967-326e9bbff2ad",
      "name": "Set customer signed update fields"
    },
    {
      "parameters": {
        "operation": "update",
        "table": "[MtkContract].[dbo].[CtrContracts]",
        "updateKey": "ContractId",
        "columns": "Status, HasSellerSigned, HasCustomerSigned"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        2032,
        -304
      ],
      "id": "80984dde-85e9-408d-94df-ca9697035e65",
      "name": "Update row for customer/seller signature",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-13T14:01:55.728Z",
      "createdAt": "2026-01-13T14:01:55.728Z",
      "role": "workflow:owner",
      "workflowId": "RDSjSEu8neDNrXLm",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-22T12:36:25.681Z",
  "versionId": "30b0ef1e-07c4-4bf2-9039-3a0eb9e36585"
}