2025/09/Retrieve tracker operation texts.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-27T16:50:56.963Z",
    "createdAt": "2025-11-27T16:50:56.963Z",
    "versionId": "8ec4f0be-eba2-44ca-890f-d2d59194b293",
    "workflowId": "beJkGyRsiOiq6Fej",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "trackerId",
                "type": "number"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -176,
          224
        ],
        "id": "bec0861e-ac6a-4bd1-9395-e8dd7c1d99b9",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "lastTrackerLocation",
          "key": "=ltl:{{ $json.trackerId }}",
          "keyType": "hash",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          496,
          64
        ],
        "id": "084480d0-365e-4d37-8057-8437eec4695f",
        "name": "Fetch last tracker location",
        "credentials": {
          "redis": {
            "id": "x8KuS83oyqKTv9IX",
            "name": "Development Redis"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT Text\nFROM Mobiltracker.dbo.OprOperationTemplateSteps\n         JOIN Mobiltracker.dbo.OprOperationTemplates\n              ON OprOperationTemplateSteps.OprOperationTemplateId = OprOperationTemplates.OprOperationTemplateId\n                  AND OperationType = '{{ $json.operationType }}'\n         JOIN Mobiltracker.dbo.TrackerClasses ON TrackerClasses.SmsProtocol = OprOperationTemplates.SmsProtocol\n         JOIN Mobiltracker.dbo.Trackers\n              ON TrackerClasses.TrackerClassId = Trackers.TrackerClassId AND TrackerId = {{ $('When Executed by Another Workflow').item.json.trackerId }}\n         JOIN Mobiltracker.dbo.SmsProtocolCommand ON Protocol = TrackerClasses.SmsProtocol AND\n                                                     SmsProtocolCommand.CommandType =\n                                                     OprOperationTemplateSteps.CommandType"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          1168,
          64
        ],
        "id": "4cf3d60c-7c25-48e4-8117-7bfc819fa304",
        "name": "Retrieve operation commands",
        "alwaysOutputData": true,
        "credentials": {
          "microsoftSql": {
            "id": "q8QnAyDOfZ8HwqL2",
            "name": "SQLServer account"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "texts",
          "include": "specifiedFields",
          "fieldsToInclude": "Text",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1840,
          16
        ],
        "id": "85ca96e7-2a9d-440d-b5df-8d78595f71b6",
        "name": "Aggregate SMS texts"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c357b045-9907-4c9c-90fa-4c12df3b7c86",
                "name": "Text",
                "value": "={{ $json.Text.replaceAll(\"{server.ip}\", \"54.232.86.64\").replaceAll(\"{server.port}\", 30001).replaceAll(\"{password}\", $('Fetch tracker data for replacing').item.json.Password).replaceAll(\"{apn.url}\", $('Fetch tracker data for replacing').item.json.APNUrl).replaceAll(\"{apn.user}\", $('Fetch tracker data for replacing').item.json.APNUser).replaceAll(\"{apn.pass}\", $('Fetch tracker data for replacing').item.json.APNPassword).replaceAll(\"{interval}\", $('Fetch tracker data for replacing').item.json.TrackingInterval).replaceAll(\"{serial_number}\", $('Fetch tracker data for replacing').item.json.IMEI).replaceAll(\"{imei_11}\", $('Fetch tracker data for replacing').item.json.IMEI_11).replaceAll(\"{imei}\", $('Fetch tracker data for replacing').item.json.IMEI).replaceAll(\"{timezone}\", $('Fetch tracker data for replacing').item.json.Timezone).replaceAll(\"{tz.absolute}\", $('Fetch tracker data for replacing').item.json.Timezone.toString().padStart(2, \"0\")).replaceAll(\"{tz.hemisphere}\", $('Fetch tracker data for replacing').item.json.Timezone > 0 ? \"W\" : \"E\") }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1616,
          16
        ],
        "id": "7ca55c70-70ef-4f97-83b1-b4aeb30834d1",
        "name": "Replace tracker fields"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "48c01ce5-5e34-4ce9-b321-3f8f5f659385",
                "leftValue": "={{ $json.isEmpty() }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1392,
          64
        ],
        "id": "e9e7a370-5c42-4b8e-b8d4-891549ffdb0a",
        "name": "Command exists?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d7e8bcab-d5d1-43fe-987e-6933f7b92824",
                "name": "operationType",
                "value": "FIRST_TIME_CFG",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          -32
        ],
        "id": "163302a6-8685-4fd9-b46f-bf1adf6f9472",
        "name": "Set operation type to first config"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d7e8bcab-d5d1-43fe-987e-6933f7b92824",
                "name": "operationType",
                "value": "RECONFIG",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          944,
          160
        ],
        "id": "e632ea78-d0ac-458e-aa9e-0c27a87250e8",
        "name": "Set operation type to reconfig"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.lastTrackerLocation.isEmpty() }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "b822b39d-857a-4729-a344-ec5d83ef9d9f"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Never communicated"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "b41e64e4-0ede-4755-af98-a19728f5ea2d",
                      "leftValue": "={{new Date().getTime() - new Date( $json.lastTrackerLocation.lastCommunication).getTime() }}",
                      "rightValue": "={{ 30 * 24 * 60 * 60 * 1000}}",
                      "operator": {
                        "type": "number",
                        "operation": "gt"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "More than 30 days"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "2c4dd013-4b10-4d6b-a702-dfde5ebdba99",
                      "leftValue": "={{new Date().getTime() - new Date( $json.lastTrackerLocation.lastCommunication).getTime() }}",
                      "rightValue": "={{ 30 * 24 * 60 * 60 * 1000}}",
                      "operator": {
                        "type": "number",
                        "operation": "lte"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Less than 30 days"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          720,
          32
        ],
        "id": "b9e7a77a-1bf1-420c-b3ac-dc424e8bcf3c",
        "name": "Route based on last tracker communication"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT TrackerClasses.Name,\n       Password,\n       PhoneNumber,\n       APNUser,\n       APNPassword,\n       APNUrl,\n       TrackingInterval,\n       Timezone,\n       IMEI_11,\n       IMEI\nFROM Mobiltracker.dbo.Trackers\n         JOIN Mobiltracker.dbo.TrackerClasses\n              ON TrackerClasses.TrackerClassId = Trackers.TrackerClassId\nWHERE TrackerId = {{ $json.trackerId }}"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          48,
          224
        ],
        "id": "d66d9ee3-f56f-432b-863a-9a7e87a3bfd1",
        "name": "Fetch tracker data for replacing",
        "alwaysOutputData": true,
        "credentials": {
          "microsoftSql": {
            "id": "q8QnAyDOfZ8HwqL2",
            "name": "SQLServer account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "aa26e52a-84b4-4d68-bb3e-70bf674bc244",
                "name": "error",
                "value": "Failed to retrieve operation texts. Please make sure you provided a valid tracker ID (bigint).",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1616,
          320
        ],
        "id": "5ac3b474-327f-43f8-bfd8-1eeb3c531f3d",
        "name": "Set error message"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "2d0daa59-7e46-4350-a864-0dc34ba21a3d",
                "leftValue": "={{ $json.isNotEmpty() }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          272,
          160
        ],
        "id": "7fa12ef8-d094-4178-8cbe-4e2cab1bb29d",
        "name": "Was there a response?"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Fetch tracker data for replacing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch last tracker location": {
        "main": [
          [
            {
              "node": "Route based on last tracker communication",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve operation commands": {
        "main": [
          [
            {
              "node": "Command exists?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Replace tracker fields": {
        "main": [
          [
            {
              "node": "Aggregate SMS texts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Command exists?": {
        "main": [
          [
            {
              "node": "Replace tracker fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set operation type to first config": {
        "main": [
          [
            {
              "node": "Retrieve operation commands",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set operation type to reconfig": {
        "main": [
          [
            {
              "node": "Retrieve operation commands",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route based on last tracker communication": {
        "main": [
          [
            {
              "node": "Set operation type to first config",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set operation type to first config",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set operation type to reconfig",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set operation type to first config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch tracker data for replacing": {
        "main": [
          [
            {
              "node": "Was there a response?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Was there a response?": {
        "main": [
          [
            {
              "node": "Fetch last tracker location",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "8ec4f0be-eba2-44ca-890f-d2d59194b293",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Fetch tracker data for replacing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch last tracker location": {
      "main": [
        [
          {
            "node": "Route based on last tracker communication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve operation commands": {
      "main": [
        [
          {
            "node": "Command exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace tracker fields": {
      "main": [
        [
          {
            "node": "Aggregate SMS texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command exists?": {
      "main": [
        [
          {
            "node": "Replace tracker fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set operation type to first config": {
      "main": [
        [
          {
            "node": "Retrieve operation commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set operation type to reconfig": {
      "main": [
        [
          {
            "node": "Retrieve operation commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route based on last tracker communication": {
      "main": [
        [
          {
            "node": "Set operation type to first config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set operation type to first config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set operation type to reconfig",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set operation type to first config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch tracker data for replacing": {
      "main": [
        [
          {
            "node": "Was there a response?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was there a response?": {
      "main": [
        [
          {
            "node": "Fetch last tracker location",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-16T18:32:56.213Z",
  "id": "beJkGyRsiOiq6Fej",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Retrieve tracker operation texts",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "trackerId",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        224
      ],
      "id": "bec0861e-ac6a-4bd1-9395-e8dd7c1d99b9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "lastTrackerLocation",
        "key": "=ltl:{{ $json.trackerId }}",
        "keyType": "hash",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        496,
        64
      ],
      "id": "084480d0-365e-4d37-8057-8437eec4695f",
      "name": "Fetch last tracker location",
      "credentials": {
        "redis": {
          "id": "x8KuS83oyqKTv9IX",
          "name": "Development Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT Text\nFROM Mobiltracker.dbo.OprOperationTemplateSteps\n         JOIN Mobiltracker.dbo.OprOperationTemplates\n              ON OprOperationTemplateSteps.OprOperationTemplateId = OprOperationTemplates.OprOperationTemplateId\n                  AND OperationType = '{{ $json.operationType }}'\n         JOIN Mobiltracker.dbo.TrackerClasses ON TrackerClasses.SmsProtocol = OprOperationTemplates.SmsProtocol\n         JOIN Mobiltracker.dbo.Trackers\n              ON TrackerClasses.TrackerClassId = Trackers.TrackerClassId AND TrackerId = {{ $('When Executed by Another Workflow').item.json.trackerId }}\n         JOIN Mobiltracker.dbo.SmsProtocolCommand ON Protocol = TrackerClasses.SmsProtocol AND\n                                                     SmsProtocolCommand.CommandType =\n                                                     OprOperationTemplateSteps.CommandType"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1168,
        64
      ],
      "id": "4cf3d60c-7c25-48e4-8117-7bfc819fa304",
      "name": "Retrieve operation commands",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "texts",
        "include": "specifiedFields",
        "fieldsToInclude": "Text",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1840,
        16
      ],
      "id": "85ca96e7-2a9d-440d-b5df-8d78595f71b6",
      "name": "Aggregate SMS texts"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c357b045-9907-4c9c-90fa-4c12df3b7c86",
              "name": "Text",
              "value": "={{ $json.Text.replaceAll(\"{server.ip}\", \"54.232.86.64\").replaceAll(\"{server.port}\", 30001).replaceAll(\"{password}\", $('Fetch tracker data for replacing').item.json.Password).replaceAll(\"{apn.url}\", $('Fetch tracker data for replacing').item.json.APNUrl).replaceAll(\"{apn.user}\", $('Fetch tracker data for replacing').item.json.APNUser).replaceAll(\"{apn.pass}\", $('Fetch tracker data for replacing').item.json.APNPassword).replaceAll(\"{interval}\", $('Fetch tracker data for replacing').item.json.TrackingInterval).replaceAll(\"{serial_number}\", $('Fetch tracker data for replacing').item.json.IMEI).replaceAll(\"{imei_11}\", $('Fetch tracker data for replacing').item.json.IMEI_11).replaceAll(\"{imei}\", $('Fetch tracker data for replacing').item.json.IMEI).replaceAll(\"{timezone}\", $('Fetch tracker data for replacing').item.json.Timezone).replaceAll(\"{tz.absolute}\", $('Fetch tracker data for replacing').item.json.Timezone.toString().padStart(2, \"0\")).replaceAll(\"{tz.hemisphere}\", $('Fetch tracker data for replacing').item.json.Timezone > 0 ? \"W\" : \"E\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        16
      ],
      "id": "7ca55c70-70ef-4f97-83b1-b4aeb30834d1",
      "name": "Replace tracker fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "48c01ce5-5e34-4ce9-b321-3f8f5f659385",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        64
      ],
      "id": "e9e7a370-5c42-4b8e-b8d4-891549ffdb0a",
      "name": "Command exists?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7e8bcab-d5d1-43fe-987e-6933f7b92824",
              "name": "operationType",
              "value": "FIRST_TIME_CFG",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        -32
      ],
      "id": "163302a6-8685-4fd9-b46f-bf1adf6f9472",
      "name": "Set operation type to first config"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7e8bcab-d5d1-43fe-987e-6933f7b92824",
              "name": "operationType",
              "value": "RECONFIG",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        160
      ],
      "id": "e632ea78-d0ac-458e-aa9e-0c27a87250e8",
      "name": "Set operation type to reconfig"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.lastTrackerLocation.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "b822b39d-857a-4729-a344-ec5d83ef9d9f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Never communicated"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b41e64e4-0ede-4755-af98-a19728f5ea2d",
                    "leftValue": "={{new Date().getTime() - new Date( $json.lastTrackerLocation.lastCommunication).getTime() }}",
                    "rightValue": "={{ 30 * 24 * 60 * 60 * 1000}}",
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "More than 30 days"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2c4dd013-4b10-4d6b-a702-dfde5ebdba99",
                    "leftValue": "={{new Date().getTime() - new Date( $json.lastTrackerLocation.lastCommunication).getTime() }}",
                    "rightValue": "={{ 30 * 24 * 60 * 60 * 1000}}",
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Less than 30 days"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        720,
        32
      ],
      "id": "b9e7a77a-1bf1-420c-b3ac-dc424e8bcf3c",
      "name": "Route based on last tracker communication"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT TrackerClasses.Name,\n       Password,\n       PhoneNumber,\n       APNUser,\n       APNPassword,\n       APNUrl,\n       TrackingInterval,\n       Timezone,\n       IMEI_11,\n       IMEI\nFROM Mobiltracker.dbo.Trackers\n         JOIN Mobiltracker.dbo.TrackerClasses\n              ON TrackerClasses.TrackerClassId = Trackers.TrackerClassId\nWHERE TrackerId = {{ $json.trackerId }}"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        48,
        224
      ],
      "id": "d66d9ee3-f56f-432b-863a-9a7e87a3bfd1",
      "name": "Fetch tracker data for replacing",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa26e52a-84b4-4d68-bb3e-70bf674bc244",
              "name": "error",
              "value": "Failed to retrieve operation texts. Please make sure you provided a valid tracker ID (bigint).",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        320
      ],
      "id": "5ac3b474-327f-43f8-bfd8-1eeb3c531f3d",
      "name": "Set error message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d0daa59-7e46-4350-a864-0dc34ba21a3d",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        272,
        160
      ],
      "id": "7fa12ef8-d094-4178-8cbe-4e2cab1bb29d",
      "name": "Was there a response?"
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-16T18:32:56.213Z",
      "createdAt": "2025-09-16T18:32:56.213Z",
      "role": "workflow:owner",
      "workflowId": "beJkGyRsiOiq6Fej",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-09T17:04:40.568Z",
  "versionId": "8ec4f0be-eba2-44ca-890f-d2d59194b293"
}