2025/09/us4nJ96haGYVgTCp.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-23T17:14:25.983Z",
  "id": "us4nJ96haGYVgTCp",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SendMessageByWhatsAppVanEscola",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c15bc760-68f5-4ba4-bcf3-38a5abcde96b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -112
      ],
      "id": "6b48c5d2-cdf7-455f-8729-6586962a252c",
      "name": "Webhook",
      "webhookId": "c15bc760-68f5-4ba4-bcf3-38a5abcde96b"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": {{ $json.success }},\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        -112
      ],
      "id": "6fc152b6-f25d-4777-bc69-5298a92923ae",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jlLb6Przi1lyPt5o",
          "mode": "list",
          "cachedResultUrl": "/workflow/jlLb6Przi1lyPt5o",
          "cachedResultName": "WhatsApp message sender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evolutionInstanceName": "vanescola_support",
            "phoneNumber": "={{ $json.body.phone }}",
            "message": "={{ $json.body.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "evolutionInstanceName",
              "displayName": "evolutionInstanceName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        224,
        -112
      ],
      "id": "877b00e3-dc9d-45d4-bbd9-04dc1db307a1",
      "name": "Send message"
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-09-23T17:14:25.983Z",
      "createdAt": "2025-09-23T17:14:25.983Z",
      "role": "workflow:owner",
      "workflowId": "us4nJ96haGYVgTCp",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-13T15:19:13.263Z",
  "versionId": "81dfeb67-d5d8-49c2-9e70-7b06b0e7173f"
}