2025/12/Fetch userId by email.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-04T20:12:13.446Z",
    "createdAt": "2025-12-04T20:12:13.446Z",
    "versionId": "e354e322-9fa3-45f0-b72e-b01f0925334b",
    "workflowId": "fjygL6mpabZheiwz",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "organizationId"
              },
              {
                "name": "customerEmail"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          400,
          352
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8bc094f1-d784-4bac-99d9-d387fe257bbd",
                "name": "error",
                "value": "No users found",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          912,
          448
        ],
        "id": "241f708f-2c63-423b-b0b8-35908d02731c",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT [ProductUserId] FROm [MobiltrackerPartner].[dbo].[CusCustomerProducts] p\nJOIN [MobiltrackerPartner].[dbo].[CusCustomers] c\nON p.[CustomerId] = c.[CustomerId]\nWHERE c.[OrganizationId] = '{{$json.organizationId}}'\nAND [Email] = '{{$json.customerEmail}}' \nAND p.[ProductId] = 'TRACKING_PLATFORM'"
        },
        "type": "n8n-nodes-base.microsoftSql",
        "typeVersion": 1.1,
        "position": [
          688,
          352
        ],
        "id": "bd5b8f5c-de06-481d-b21d-7b1d2a00c875",
        "name": "Fetch customers",
        "credentials": {
          "microsoftSql": {
            "id": "q8QnAyDOfZ8HwqL2",
            "name": "SQLServer account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b155d674-bd08-4323-baee-73224e485f43",
                "leftValue": "={{ $json.isNotEmpty() }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          912,
          224
        ],
        "id": "4a4f00b6-4834-4f3c-add1-016a63264819",
        "name": "Was response valid?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "aa22a805-2294-42b0-90cd-0201662a077f",
                "name": "warning",
                "value": "The user is not found",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1248,
          368
        ],
        "id": "d9a3b97b-03af-4348-94dd-db5b4969aad5",
        "name": "User not found"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8523f504-a7b9-4dbe-9716-e707019c546d",
                "name": "userId",
                "value": "={{ $json.ProductUserId }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1216,
          144
        ],
        "id": "8056d82e-e681-4353-9d05-9f209d5bf286",
        "name": "Format customerId"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Fetch customers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch customers": {
        "main": [
          [
            {
              "node": "Was response valid?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Was response valid?": {
        "main": [
          [
            {
              "node": "Format customerId",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "User not found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Contato Mobiltracker",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "e354e322-9fa3-45f0-b72e-b01f0925334b",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Fetch customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch customers": {
      "main": [
        [
          {
            "node": "Was response valid?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Was response valid?": {
      "main": [
        [
          {
            "node": "Format customerId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "User not found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-01T17:40:13.120Z",
  "id": "fjygL6mpabZheiwz",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Fetch userId by email",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "organizationId"
            },
            {
              "name": "customerEmail"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        400,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8bc094f1-d784-4bac-99d9-d387fe257bbd",
              "name": "error",
              "value": "No users found",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        448
      ],
      "id": "241f708f-2c63-423b-b0b8-35908d02731c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT [ProductUserId] FROm [MobiltrackerPartner].[dbo].[CusCustomerProducts] p\nJOIN [MobiltrackerPartner].[dbo].[CusCustomers] c\nON p.[CustomerId] = c.[CustomerId]\nWHERE c.[OrganizationId] = '{{$json.organizationId}}'\nAND [Email] = '{{$json.customerEmail}}' \nAND p.[ProductId] = 'TRACKING_PLATFORM'"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        688,
        352
      ],
      "id": "bd5b8f5c-de06-481d-b21d-7b1d2a00c875",
      "name": "Fetch customers",
      "credentials": {
        "microsoftSql": {
          "id": "q8QnAyDOfZ8HwqL2",
          "name": "SQLServer account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b155d674-bd08-4323-baee-73224e485f43",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        224
      ],
      "id": "4a4f00b6-4834-4f3c-add1-016a63264819",
      "name": "Was response valid?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa22a805-2294-42b0-90cd-0201662a077f",
              "name": "warning",
              "value": "The user is not found",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        368
      ],
      "id": "d9a3b97b-03af-4348-94dd-db5b4969aad5",
      "name": "User not found"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8523f504-a7b9-4dbe-9716-e707019c546d",
              "name": "userId",
              "value": "={{ $json.ProductUserId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        144
      ],
      "id": "8056d82e-e681-4353-9d05-9f209d5bf286",
      "name": "Format customerId"
    }
  ],
  "owner": "daLuz109",
  "path": "https://github.com/daLuz109/test",
  "pinData": {},
  "repo": "test",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-01T17:40:13.120Z",
      "createdAt": "2025-12-01T17:40:13.120Z",
      "role": "workflow:owner",
      "workflowId": "fjygL6mpabZheiwz",
      "projectId": "ibRx4KzVa8okoVWI"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-04T20:12:13.439Z",
  "versionId": "e354e322-9fa3-45f0-b72e-b01f0925334b"
}